In [13]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd
import csv 
import time

def get_job_id(job_name):
    t1=time.time()
    baseurl='https://hk.jobsdb.com/hk/search-jobs/'+re.sub(' ','-',job_name)+'/1'
    
    r=requests.get(baseurl,headers={"User-Agent":"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1"}).text
    soup=BeautifulSoup(r,'lxml')
    
    pattern=re.compile(r'(\d+)')
    total_num_jobs=re.findall('\d+', soup.find('meta', property="og:description")['content'])
    
    #number of page you need to access all jobs
    float(total_num_jobs[0]) 
    num_page=int(total_num_jobs[0]) //30 +1   
    
    global job_id 
    job_id=[]
    
    skills = ['R', 'RStudio', 'Markdown', 'Latex', 'SparkR', 'D3', 'D3.js','Microsoft Office','Excel',
    'Unix', 'Linux', 'MySQL', 'Microsoft SQL server', 'SQL','VBA','Qlik'
    'Python', 'SPSS', 'SAS', 'C#','Matlab','Java', 'keras',
    'JavaScript', 'HTML', 'HTML5', 'CSS', 'CSS3','PHP', 'Excel', 'Tableau',
    'AWS', 'Amazon Web Services ','Google Cloud Platform', 'GCP','theano'
    'Microsoft Azure', 'Azure', 'Hadoop', 'Spark','python'
    'MapReduce', 'Map Reduce','Shark', 'Cassandra',
    'NoSQL', 'MongoDB', 'GIS', 'Haskell', 'Scala', 'Ruby','Perl',
    'Mahout', 'Stata','Deep Learning','Machine Learning',  'Pytorch', "Tensorflow",'Caffe','API','seo','Business Intelligence'
    , 'BI' ]

    skill_lower=[i.lower() for i in skills]
    skill_set=list(set(skill_lower))
    skill_set
    
    
    for i in range(1,num_page+1):
        time.sleep(1)
        print(f'Now start to craw job search result P.{i}')
        newurl=baseurl[:-1]+str(i)
        r=requests.get(newurl,headers={"User-Agent":"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1"}).text
        soup=BeautifulSoup(r,'lxml')
        
        script_str=soup.find_all("script")[1].get_text()[28:]

        pattern=re.compile(r'(https\W\Wu002F\Wu002Fhk\Wjobsdb\Wcom\Wu002Fhk\Wu002Fen\Wu002Fjob\Wu002F)([a-zA-Z0-9]+\W)*') 
        job_url_raw=[]
        job_url_raw2=[]
        for i in pattern.finditer(script_str):
            job_url_raw.append(i[0])

        for i in job_url_raw:
            a=re.sub("u002F",'',i)
            b=re.sub('"','',a)
            c=b.split('\\')[-1]
            print(c)
            job_id.append(c)
        
    for i in job_id:
        try: 
            print(f'Now start to craw individual job id {i}')
 
            joburl='https://hk.jobsdb.com/hk/en/job/'+str(i)
            r=requests.get(joburl,headers={"User-Agent":"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:40.0) Gecko/20100101 Firefox/40.1"}).text
            soup=BeautifulSoup(r,'lxml')

            try:
                job_title= soup.find(class_='general-pos ad-y-auto-txt2').text.strip()
            except:
                job_title= soup.find(class_='general-pos ad-y-auto-txt').text.strip()
            print(f'Job title is {job_title}')

            try:
                company= soup.find(class_='jobad-header-company').text.lstrip()
            except:
                company= soup.find(class_='jobad-header-company ad-y-auto-txt1').text.lstrip()
            print(f'company {job_title}')

            role=[i.text.lower() for i in soup.find_all('span')]

            role2=str(role)
            
            print(f' Got job role for this post {job_title}')
            try:
                yr_exp=soup.find('b', class_='primary-meta-exp').text.strip()
                yr_exp=yr_exp[0]
            except:
                yr_exp='Didnt specify'
            print(f' Exp is {yr_exp} ')

            try:
                level=soup.find('b', class_='primary-meta-lv').text.strip()
            except:
                level='Didnt specify'
            print(f' level is {yr_exp} ')

            job_title_list.append(job_title)        
            company_list.append(company) 
            yr_exp_list.append(yr_exp)
            role_list.append(role)
            
            print('now to matching')
            required_skill=[]
            for i in skill_set:
                result=re.search(i,role2)
                if result:
                    required_skill.append(i)
                    skill_list.append(i)
                else:
                    pass
                
            with open ('jobsDBtest2_csv_result.csv','a') as f:
                csv_writer= csv.writer(f)
                csv_writer.writerow([i,job_title,company,yr_exp,level,required_skill])    
)
        except:
            print('Cant crawd some id')
            pass
    t2= time.time()
    print(f'It takes {t2-t1} to crawd all the jobs info')
    print(f'There are total {len(job_id)} jobs in this category')
    
    frequency={}
    for item in skill_list:
        frequency[item]=frequency.get(item,0)+1
    skill_count=pd.Series(frequency)
    skill_count.sort_values(ascending=False,inplace=True)
    
    return skill_count

In [20]:
get_job_id('data')

Now start to craw job search result P.1
data-governance-manager-100003006604752
clinical-data-research-associate-100003006607289
technical-support-data-center-100003006607129
data-analyst-100003006607026
associate-data-analytics-100003006607009
data-analytic-manager-enterprise-data-analytics-and-management-100003006607004
human-resources-assistant-100003006606000
data-analyst-100003006606872
data-entry-clerk-100003006606871
senior-database-administrator-100003006606694
business-intelligence-data-warehouse-100003006606689
database-administrator-100003006606666
master-data-management-assistant-manager-100003006606655
data-systems-manager-100003006606585
data-centre-operator-100003006606308
senior-engineer-engineer-100003006606149
data-analyst-asia-pacific-100003006606013
data-entry-clerks-100003006606012
technical-analyst-assistant-technical-analyst-data-centre-100003006605665
data-scientist-100003006605660
data-center-technical-support-100003006605393
network-technical-officer-technician-telecom-data-center-100003006605370
marketing-executive-100003006605143
senior-data-analytics-sas-100003006604890

technical-lead-senior-engineer-100003006604847
data-center-supervisor-dc-operator-100003006604725
data-science-and-modeling-analyst-100003006603262
senior-database-records-management-analyst-100003006604388
data-analytics-banking-100003006604293
Now start to craw job search result P.2
data-specialist-100003006604197
data-center-operator-100003006604186
technical-officer-data-architect-100003006602396
senior-engineer-engineer-user-data-analysis-100003006602836
senior-engineer-engineer-data-analytics-100003006602558
senior-data-analyst-100003006603771
data-business-analyst-100003006603709
hr-project-advisor-consultant-global-data-100003006603642
big-data-analyst-international-company-100003006603634
it-project-coordinator-100003006603583
data-scientist-100003006603427
senior-campaign-management-executive-100003006603409
data-management-manager-100003006603181
project-manager-datacenter-planning-optimization-100003006603170
quality-assurance-engineer-100003006602979
regional-sales-manager-apac-datacenter-100003006602814
manager-assistant-manager-100003006602725
senior-manager-100003006602668
associate-data-analyst-100003006602456
data-engineer-100003006602336
account-manager-100003006602374
senior-sales-manager-ai-big-data-analytics-100003006602358
senior-data-analyst-100003006602301
data-analytics-banking-100003006602167
data-entry-
data-analyst-data-engineer-digital-platform-insurance-industry-100003006601860

technical-officer-data-centre-100003006601623
data-entry-clerk-100003006601365
data-entry-clerk-100003006601145
Now start to craw job search result P.3
banking-it-project-management-data-management-professional-quality-assurance-100003006601139
advisory-risk-risk-transformation-senior-associate-100003006601108
business-intelligence-data-analytics-architect-global-asset-management-group-100003006601072
market-data-architect-reputable-hedge-fund-100003006601070
head-of-data-driven-marketing-100003006600985
avp-data-management-etl-and-bi-solutions-100003006600966
system-database-administrator-chong-hing-securities-100003006600544
credit-data-administrator-hong-kong-corporates-100003006600458
system-analyst-big-data-platform-data-engineering-100003006600193
part-time-data-analyst-assistant-investment-100003006600151
data-center-technical-operation-manager-100003006600081
data-center-facility-engineer-100003006600077
data-center-technician-100003006600076
walk-in-recruitment-day-many-it-positions-call-centre-data-centre-help-desk-it-support-network-technicians-etc-100003006599806
analyst-programmer-programmer-data-warehouse-and-bi-100003006599805
data-scientist-100003006599779
associate-analyst-center-of-innovation-100003006599700
programmer-senior-programmer-csharp-100003006599524
data-analyst-100003006599400

data-entry-clerk-
part-time-data-entry-clerk-100003006598978
database-administrator-100003006598920
lead-data-scientist-100003006598908
project-manager-100003006598904
senior-data-analyst-100003006598761
bi-consultant-data-warehouse-specialist-100003006598727
database-administrator-dba-100003006597396
senior-data-architect-100003006598568
data-entry-management-officer-dpmo-100003006598076
Now start to craw job search result P.4
data-centre-assistants-engineers-100003006597760

cloud-data-center-service-operator-100003006598288
bi-data-engineer-100003006598102
data-entry-clerk-100003006597977
data-architect-100003006597911
assistant-project-manager-100003006597852
digital-media-officer-100003006597765
data-analyst-senior-data-analyst-100003006597338
database-clerk-100003006597313
junior-database-administrator-database-administrator-100003006597244
data-scientist-commercial-banking-100003006597216
advisory-data-analytics-senior-associate-100003006597148
sales-manager-100003006597138
oracle-database-administrator-100003006597126
network-data-analyst-100003006596992
big-data-system-analyst-analyst-programmer-software-engineer-100003006596822
data-scientists-ai-developer-and-researcher-big-data-engineer-100003006596791
assistant-product-manager-data-center-business-100003006596753
data-center-operator-assistant-100003006596743
data-entry-management-officer-dpmo-100003006596736
data-analyst-100003006596604
assistant-data-analyst-100003006596551
data-scientist-100003006596532
data-entry-clerk-100003006596374
assistant-manager-100003006596305
system-analyst-big-data-consultant-100003006596183
retail-leasing-trainee-100003006596097
master-data-business-intelligence-specialist-100003006596087
head-of-data-analytics-100003006595829
Now start to craw job search result P.5
lead-data-scientist-100003006595805
data-engineering-lead-leading-bank-100003006595399
assistant-business-intelligence-data-strategy-analytics-manager-100003006586186
engineers-operators-data-centre-100003004466047
data-center-operator-100003006587739
database-administrator-100003006587797
data-center-operator-technician-english-100003006595343
data-solution-analyst-data-analyst-tier-1-bank-100003006595318
business-analyst-leading-bank-100003006594944
business-data-analyst-100003006595262
data-engineer-cyber-security-100003006595152
senior-data-engineer-data-architect-100003006595142
senior-consultant-data-engineering-analytics-100003006595097
bi-data-warehouse-developer-100003006595081
assistant-manager-manager-data-management-account-opening-100003006594794
financial-controller-accountant-100003006594730
it-manager-senior-manager-big-data-analytics-100003006594681
assistant-it-manager-big-data-analytics-100003006594672
digital-marketing-data-analyst-100003006594418
government-project-data-center-operator-100003006594392
data-analyst-100003006594349
typist-data-entry-
system-analyst-senior-analyst-programmer-100003006594300
data-center-supervisor-100003006594030
data-centre-engineer-100003006593799
data-scientist-big-data-100003006593756
data-analyst-data-scientist-global-fintech-startup-100003006593695
data-infrastructure-engineer-global-fintech-startup-100003006593694
data-scientist-100003006593633
data-analyst-sr-data-analyst-lead-analyst-100003006593607
Now start to craw job search result P.6
senior-business-strategy-manager-business-strategy-manager-100003006593385
social-media-executive-100003006593358
gis-assistant-100003006593272
client-solutions-consultant-100003006593173
senior-manager-database-marketing-insurance-100003006593078
data-processing-clerk-it-100003006592831
internet-data-center-operations-engineer-
data-entry-clerk-100003006592608
security-officer-100003006592495
data-entry-accounting-assistant-100003006588913
data-entry-clerk-
presales-consultant-product-manager-100003006592353
business-analyst-100003006592306
part-time-data-entry-clerk-100003006592270
assistant-manger-100003006592258
analyst-programmer-system-analyst-100003006588823

database-analyst-programmer-programmer-100003006588284
data-entry-management-officer-dpmo-100003006588279
major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006587683
database-administrator-ms-sql-server-oracle-db2-udb-100003006592062
head-of-bi-and-analytics-100003006591918
system-support-data-center-support-100003006591805
senior-network-engineer-data-center-operation-100003006591804
system-analyst-analyst-programmer-100003006586329
data-center-operator-100003006591714
senior-data-analyst-marketing-100003006591641
data-engineer-100003006588502
web-designer-100003006587028
online-marketing-specialist-100003006587039

Now start to craw job search result P.7
data-entry-clerk-100003006586823
db2-database-administrator-major-bank-100003006590901
database-administrator-100003006591583
data-analytics-consultant-associate-data-analytics-consultant-100003006591249
data-centre-operator-
specialist-100003006591129
data-analyst-100003006591105
data-analyst-business-planning-manager-100003006591095
data-entry-clerk-100003006590960
facility-engineer-100003006590554
technical-support-officer-100003006590505
system-engineer-100003006590402
solution-architecture-100003006590404
software-engineer-software-engineer-trainee-100003006590403
system-engineer-100003006590405
pre-sales-engineer-100003006590406
account-manager-account-executive-100003006590400
account-manager-account-executive-100003006590401
customer-services-representative-100003006590386
warehouse-supervisor-100003006590387

database-administrator-oracle-100003006587518
senior-analyst-analyst-100003006589983
marketing-manager-customer-data-management-100003006589553
data-entry-clerk-accounting-department-100003006588731
data-engineer-100003006588898
data-architect-100003006588830
data-developer-100003006588829
senior-data-analyst-100003006588827
data-entry-clerk-100003006588355
Now start to craw job search result P.8
system-analyst-etl-data-modeling-data-warehouse-100003006588345
database-administrator-100003006588340
data-scientist-transaction-advisory-services-100003006588331
programmer-senior-programmer-100003006588310
data-analyst-in-international-bank-100003006587752
clerk-data-entry-clerk-100003006587732
data-analyst-100003006587664
data-entry-clerk-insurance-100003006587652
senior-systems-analyst-data-engineer-100003006584679
data-management-manager-100003006587563
vp-director-client-onboarding-client-static-data-maintenance-operations-100003006587472
data-support-assistant-officer-100003006587369
data-entry-clerk-100003006587275
market-data-specialist-financial-services-100003006586926
database-administrator-100003006586859
it-analyst-data-analytics-100003006585900
data-scientist-junior-data-scientist-100003006585948
data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006586454
asset-management-data-management-100003006586434
asset-management-data-management-100003006586370
data-analyst-100003006586307
data-analytics-sas-mnc-bank-100003006586195
data-entry-clerk-finance-function-100003006585991
associate-data-analyst-mkt-sales-dept-100003006585971
assistant-data-analysis-officer-100003006585869
business-data-analyst-100003006585819
database-administrator-hsbc-operations-services-and-technology-100003006585799
data-entry-clerk-100003006585766
assistant-manager-practice-management-and-data-analytics-100003006585475
data-entry-clerk-100003006579446
Now start to craw job search result P.9
project-manager-data-center-100003006585344
full-stack-web-developer-100003006585131
data-analyst-100003006585173
data-scientist-computational-scientist-100003006585143
data-scientist-international-technology-consulting-frim-100003006585120
database-intelligence-executive-100003006585084
data-scientist-100003006585056
data-analyst-100003006584823
market-data-administrator-100003006584626
data-analytics-manager-100003006584611
data-entry-clerk-temporary-100003006584591
data-entry-management-officer-dpmo-100003006584386
data-mining-data-analyst-central-100003006583807
data-entry-clerk-100003006584286
assistant-data-analyst-assistant-business-analyst-100003006584068
property-officer-
project-manager-100003006584035
data-center-technician-engineer-l1-l2-l3-team-lead-100003006584007
data-analytics-am-senior-officer-100003006583783
assistant-manager-data-science-customer-insight-100003006583772
data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006583686
assistant-manager-data-management-100003006583620
data-center-operator-100003006583558
data-analyst-100003006583542
business-analyst-data-banking-contract-100003006583298
assistant-personal-data-officer-100003006582989
data-analyst-100003006583009
data-input-clerk-100003006582854
vice-president-data-center-operation-100003006582746
system-database-administrator-chong-hing-securities-100003006582734
Now start to craw job search result P.10
junior-data-analyst-100003006582610
financial-market-data-associate-100003006582555
data-marketing-manager-100003006582255
database-administrator-100003006582045
data-researcher-100003006582030
sas-data-warehouse-basel-risk-management-database-marketing-business-planning-100003006581995
order-administration-coordinator-100003006581836
senior-data-analyst-100003006581830
junior-research-analyst-research-analyst-100003006581729
customer-data-analyst-senior-customer-data-analyst-100003006581647
sales-manager-senior-sales-executive-100003006581612
data-analyst-100003006581610
system-analyst-100003006581611
data-entry-clerk-web-administrator-100003006581574
project-specialist-data-center-services-100003006581491
data-scientist-media-100003006581357
data-entry-clerk-100003006581339
ai-data-scientist-100003006581181
business-development-manager-data-center-cooling-100003006581152
avp-vp-data-governance-specialist-business-analyst-100003006581074
data-analyzer-cantonese-native-speaker-100003006581061
data-analyst-100003006581015
customer-facing-data-scientist-100003006581010
avp-data-management-etl-and-bi-solutions-100003006580978
advisory-data-analytics-data-engineer-100003006580674
advisory-data-analytics-100003006580673
data-entry-
business-analyst-customer-data-analyst-100003006580628
big-data-analytics-solution-sales-manager-100003006580282
sales-manager-data-business-100003006580519
Now start to craw job search result P.11
data-analyst-business-intelligence-and-customer-analytic-100003006580475
data-inputter-100003006580405
assistant-director-data-analytics-100003006580326
assistant-data-analytics-manager-100003006580028
manager-database-marketing-100003006579945
data-center-operator-100003006571544
data-centre-operator-100003006579804
system-specialist-100003006579803
big-data-analysis-100003006579470
iot-engineer-100003006579334
mechanical-engineer-100003006579305
simulation-engineer-100003006579269
big-data-engineer-100003006579212
technical-project-manager-ai-and-big-data-products-100003006579172
project-manager-100003006579089
technical-analyst-assistant-technical-analyst-data-centre-100003006579063
financial-data-analyst-100003006579060
shipping-data-entry-clerk-100003006578974
database-and-applications-specialist-100003006578853
sales-manager-data-analytics-100003006578670
programmer-analyst-programmer-100003006578647
database-administrator-100003006578609
database-administrator-100003006571498
officer-master-data-management-it-projects-focus-100003006576285

network-engineer-100003006578187
avp-data-management-etl-and-bi-solutions-100003006578086
senior-web-developer-web-developer-100003006578081
mobile-apps-developer-100003006578077
ui-designer-100003006578076
Now start to craw job search result P.12
senior-manager-ict-expert-100003006577993
assistant-manager-flight-data-analysis-100003006577962
data-analytics-manager-100003006577666
data-engineer-100003006577649
data-scientist-100003006577448
sales-manager-100003006577413
data-scientist-digital-platform-100003006577406
data-scientist-100003006577405
data-center-engineer-100003006577326
data-analyst-100003006577226
database-administrator-100003006577223
data-business-analyst-100003006577188
data-analyst-business-analyst-100003006577175
data-analytic-manager-enterprise-data-analytics-and-management-100003006576870
data-analyst-100003006576729
data-security-engineer-100003006576690
data-scientist-100003006576682
sales-support-manager-apac-global-data-analytics-leader-100003006576564

solution-consultant-senior-solution-engineer-solution-engineer-data-security-solution-100003006576288
solution-consultant-engineer-data-center-and-virtualization-platform-100003006576246
solution-consultant-data-center-virtualization-100003006576245
project-manager-datacenter-network-100003006576156
product-officer-senior-officer-100003006576146
research-engineer-big-data-100003006576135
senior-developer-ai-and-big-data-product-100003006576134
data-scientist-100003006576063
senior-linguistic-project-manager-traditional-chinese-100003006576004
customer-data-analytics-manager-100003006575473
database-programmer-100003006575290

Now start to craw job search result P.13

senior-business-strategy-manager-business-strategy-manager-100003006575025
project-manager-100003006563145
data-architect-leading-financial-institution-100003006574865
account-manager-100003006574798
analyst-programmer-system-analyst-100003006570225
database-administrator-100003006570217
system-analyst-analyst-programmer-software-engineer-100003006574670
data-scientists-ai-developer-and-researcher-big-data-engineer-100003006574668
market-data-specialist-financial-services-100003006574659
specialist-engineer-operator-sa-and-ap-100003006574616
part-time-data-entry-clerk-100003006574581
data-speech-analytics-100003006574358
data-engineer-100003006572765
data-centre-officer-manager-bank-100003006571815
it-and-data-center-support-100003006570566
data-entry-clerk-100003006569099
online-marketing-specialist-100003006567262
web-designer-100003006567239
major-bank-data-warehouse-bi-sa-ap-p-100003006573796
oracle-database-administrator-major-bank-100003006573263
data-entry-clerk-general-clerk-in-sha-tin-city-one-100003006574009
marketing-manager-customer-data-management-100003006573560
temporary-data-entry-clerk-100003006573521
product-executive-100003006573488
product-manager-100003006573459
data-center-operator-technician-100003006573379
clerk-100003006573241
freelancer-full-stack-web-developer-for-booking-system-creation-100003006573120
ai-developer-100003006573009
Now start to craw job search result P.14
data-products-program-manager-banking-contract-100003006572998
senior-analyst-100003006572993
data-scientist-100003006572798
data-analyst-100003006572755
part-time-data-entry-100003006572702
assistant-manager-data-intelligence-management-100003006572627
data-engineer-cyber-security-100003006572588
project-director-data-warehouse-100003006572496
infrastructure-analyst-international-company-100003006572339
manager-data-analytics-risk-assurance-hk-100003006572283
clerk-data-entry-clerk-
cem-data-analytics-consultant-100003006571944
data-analyst-100003006571958
data-inputter-100003006571941
test-manager-etl-data-warehouse-100003006571921
business-analyst-etl-data-warehouse-100003006571592
data-entry-clerk-
data-analyst-top-tier-gaming-company-100003006571461
data-center-operator-technician-100003006571434
legal-officer-100003006571226
database-administrator-100003006571230
senior-manager-vice-president-service-management-100003006571203
marketing-executive-assistant-100003006571173
business-development-executive-100003006570576
product-manager-100003006570729
senior-data-manager-100003006570724
san-storage-data-backup-administrator-100003006570663
data-architect-100003006570641
senior-devops-database-infrastructure-specialist-hsbc-operations-services-and-technology-100003006570442
junior-data-scientist-100003006570428
Now start to craw job search result P.15
data-centre-engineer-100003006570417
data-analytic-executive-100003006570347
customer-service-executive-100003006569846
data-scientist-100003006569789
data-entry-100003006569183
data-scientist-international-technology-consulting-frim-100003006568881
data-analyst-100003006568351
officer-corporate-development-100003006567629
data-analyst-100003006568384
assistant-officer-to-senior-officer-business-and-big-data-management-internet-finance-department-100003006568472
account-manager-global-leader-in-commercial-data-and-analytics-100003006568424
data-uploading-assistant-temp-clerk-100003006568377
market-data-specialist-financial-services-100003006568373
data-science-100003006568160
analyst-programmer-senior-analyst-programmer-100003006568153
business-analyst-data-banking-100003006568100
data-analyst-fmcg-100003006568096
avp-data-management-etl-and-bi-solutions-100003006568075
market-data-analyst-100003006568054
it-manager-100003006567980
on-site-system-engineer-100003006567835
data-analyst-100003006567765
data-entry-clerk-100003006567715
system-analyst-analyst-programmer-big-data-platform-100003006567634
manager-analytics-transformation-and-customer-relationship-management-100003006563957
network-operations-engineer-100003006567272
junior-data-analyst-100003006567045
media-datacenter-operator-
customer-support-executive-customer-liaison-officer-100003006566683
assistant-accountant-100003006566664
Now start to craw job search result P.16
assistant-accountant-100003006566619
associate-data-analytics-100003006566616
sales-data-analysis-assistant-100003006566487
avp-data-warehouse-100003006566412
data-centre-operations-engineer-100003006566358
manager-assistant-manager-100003006566087
senior-manager-100003006566081
senior-data-analyst-data-analyst-python-100003006566004
data-analyst-in-the-department-of-geography-100003006563260
database-administrator-100003006565603
data-center-operator-100003006555616
it-audit-manager-global-hotel-100003006562483
head-of-data-driven-marketing-100003006565069
account-manager-100003006564787
marketing-executives-100003006564765
data-center-operator-100003006564580
associate-markets-100003006564546
trainee-analyst-ifrs-100003006564209
account-manager-account-executive-100003006564163
sales-marketing-assistant-100003006563964
fund-data-relationship-associate-manager-100003006563395
data-center-technician-100003006563237
data-center-specialist-100003006563236
data-science-analyst-associate-data-scientist-100003006563125
data-scientist-international-technology-consulting-frim-100003006562807
data-entry-clerk-100003006562657
crm-executive-100003006562424
account-manager-business-development-from-fruitful-database-corporate-solutions-service-provider-100003006558996
data-analyst-global-travel-lifestyle-company-100003006561991
market-data-specialist-financial-services-100003006561754
Now start to craw job search result P.17
data-scientist-data-analyst-100003006561659
software-developer-100003006561340
data-analytics-engineer-100003006561425
database-administrator-100003006561407
analyst-programmer-100003006560835
administration-officer-100003006560745
system-analyst-analyst-programmer-qa-specialist-it-support-database-administrator-100003006560352
specialist-crm-database-management-100003006559440
senior-data-analyst-data-analyst-100003006559569
gis-data-operator-100003006559111
lead-programmer-etl-and-data-modelling-100003006549453
data-center-operator-100003006552058
analyst-programmer-system-analyst-100003006554620
database-administrator-100003006554606
major-bank-data-warehouse-bi-sa-ap-p-100003006555521
data-scientists-ai-developer-and-researcher-100003006558596
system-analyst-analyst-programmer-software-engineer-100003006558560
online-marketing-specialist-100003006556215
web-designer-100003006556200
data-entry-clerk-100003006552974
customer-data-analyst-100003006558187
data-scientist-data-analyst-100003006558180
db2-database-administrator-major-bank-100003006557233
data-scientists-for-big-data-project-ai-major-bank-100003006555543
data-analytics-analyst-100003006558047
business-intelligence-data-warehouse-developer-100003006557850
data-entry-clerk-100003006557665
senior-solutions-consultant-cloud-data-center-solution-mnc-100003006557466
dba-database-administrator-banking-100003006557220
regional-health-data-analyst-100003006556969
Now start to craw job search result P.18
data-center-project-manager-100003006556954
data-scientist-series-a-startup-equity-offered-100003006556896
technical-support-100003006556750
data-entry-clerk-100003006556666
data-analytic-manager-enterprise-data-analytics-and-management-100003006556665
data-administrator-100003006556445
data-analyst-100003006556419
e-commerce-data-management-intern-100003006555683
relationship-executive-100003006556211
full-stack-developer-100003006556162
assistant-engineer-100003006556253
database-consultant-database-support-engineer-100003006556141
data-centre-engineer-100003006555957
business-development-manager-virtual-data-rooms-100003006555923
data-analyst-business-analyst-100003006555814
associate-data-and-analytics-100003006555591
data-entry-clerk-100003006555575
part-time-data-entry-clerk-exhibition-helper-100003006555254
assistant-e-commerce-manager-system-and-database-100003006554794
sql-database-developer-100003006554743
data-centre-operator-100003006554742
customer-data-marketing-manager-100003006554699
asp-data-science-hsbc-operations-services-and-technology-100003006554625
assistant-data-analyst-100003006554520
data-management-manager-retail-banking-and-wealth-management-100003006554103
etl-data-warehouse-specialist-banking-projects-100003006554112
data-entry-clerk-insurance-100003006553829
officer-distribution-channel-data-management-100003006553593
senior-it-specialist-100003006553104
data-center-operation-engineer-100003006544215

Now start to craw job search result P.19
data-analyst-100003006551082
senior-it-infrastructure-specialist-100003006552578
database-administrator-senior-system-specialist-it-manager-database-100003006552555
data-standards-manager-project-coordinator-100003006552472
data-market-analyst-100003006552430
data-analyst-market-analyst-100003006552243
database-administrator-100003006552210
data-center-operator-100003006552075
data-team-intern-100003006551934
data-specialist-100003006551914
application-developer-data-system-100003006551923
part-time-data-entry-marketing-department-100003006551865
digital-project-coordinator-100003006550645
technical-consultant-database-100003006551711
cloud-data-business-analyst-100003006551605
lead-data-architect-100003006551260
data-remediation-analyst-retail-banking-and-wealth-management-100003006551148
data-engineer-100003006550897
2018-global-data-market-data-analyst-hong-kong-100003006550740
senior-data-scientist-100003006550693
senior-data-engineer-data-architect-100003006550688
data-engineer-cyber-security-100003006550682
it-data-officer-assistant-100003006550607
db2-database-developer-top-tier-bank-100003006550304
data-analyst-investment-bank-100003006549141
customer-service-executive-100003006550057
accounting-administrative-officer-100003006550055
ai-developers-programmers-100003006550054
data-analyst-100003006546520
datawarehousing-project-manager-100003006549904
Now start to craw job search result P.20
data-analyst-global-travel-lifestyle-company-100003006549845
consultant-100003006549797
data-center-team-lead-global-cloud-provider-100003006549066
data-centre-operations-engineer-100003006549566
data-engineer-100003006549361
infrastructure-administrator-retail-bank-100003006549071
head-of-data-driven-marketing-virtual-banking-100003006548952
data-processing-clerk-it-100003006548862
senior-data-analyst-100003006548763
senior-application-consultant-erp-100003006548756
business-manager-product-manager-hrm-100003006548745
senior-manager-data-center-service-management-100003006548708
system-specialist-engineer-100003006548385
channel-account-manager-100003006548386
senior-data-entry-clerk-100003006548330
data-center-operator-100003006548205
database-administrator-100003006548136
senior-developer-ai-and-big-data-product-100003006547909
research-engineer-big-data-100003006547910
finance-data-operations-associate-100003006547507
data-scientist-international-technology-consulting-frim-100003006547504
network-data-analyst-100003006547493
avp-data-management-etl-and-bi-solutions-100003006547239
global-pharmaceutical-and-healthcare-group-sap-master-data-analyst-100003006547223
database-administrator-100003006537797
senior-segment-manager-segment-manager-100003006547125
system-analyst-100003006546956
mnc-data-center-operator-100003006546819
bunsiness-intelligence-analyst-100003006546632
facility-engineer-technician-
Now start to craw job search result P.21
ui-designer-100003006546258
data-clerk-uat-tester-100003006545791
vp-svp-it-informational-risk-system-and-data-risk-senior-manager-100003006545755
database-and-system-specialist-100003006545660
data-project-manager-100003006544798
assistant-data-analytic-manager-100003006545328
assistant-data-analyst-100003006544580
senior-data-analyst-data-analyst-100003006544266
analyst-data-information-management-100003006534180
manager-data-centre-operations-100003006544009
avp-data-management-etl-and-bi-solutions-100003006543764
sap-master-data-administration-analyst-100003006543758
sap-master-data-administration-analyst-fmcg-group-100003006543741
associate-system-analyst-system-analyst-insurance-firm-100003006543575
database-administrator-senior-system-specialist-it-manager-database-100003006543563
assistant-manager-group-operational-safety-100003006543415
data-analytics-sas-bank-100003006543354
database-administrator-100003006543264
admin-data-entry-welcome-100003006515113
customer-service-officer-100003006542986
accounts-and-admin-officer-100003006542974
software-developer-senior-software-developer-100003006542970
temp-data-entry-clerks-100003006542618
data-center-operator-100003006542457
master-data-management-assistant-manager-100003006542403
data-checking-staff-english-korean-reading-writing-100003006542378
it-technical-support-100003006542375
data-analyst-international-carrier-business-100003006542354
senior-manager-data-management-100003006542289
mechanical-engineer-100003006542112
Now start to craw job search result P.22
data-uploading-assistant-temp-clerk-100003006541990
big-data-developer-100003006541714
database-programmer-100003006541594
assistant-facility-engineer-facility-engineer-100003006541402
project-manager-specialist-engineer-dba-operator-100003006540437
big-data-developer-data-scientist-100003006541127
customer-data-analyst-100003006540998
project-manager-100003006540983
2019-global-data-market-data-analyst-hong-kong-100003006540833
database-administrator-100003006540828
data-scientist-machine-learning-engineer-100003006540805
data-scientist-lead-100003006540793
solution-engineer-data-scientist-100003006540788
data-analyst-100003006540781
data-entry-clerk-100003006540708
general-clerk-data-entry-clerk-100003006534025
business-analyst-100003006540569
analyst-programmer-system-analyst-100003006537275
analyst-programmer-system-analyst-100003006539262
associate-director-manager-data-warehousing-reporting-data-analytics-100003006520756
senior-consultant-data-warehousing-reporting-data-analytics-100003006520725
manager-senior-consultant-data-strategy-governance-d-100003006520695
major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006535041
database-administrator-100003006540089
data-scientist-and-data-engineer-100003006539844
data-analytics-bank-sas-100003006539755
it-support-in-data-centre-100003006537310
senior-customer-data-analyst-well-known-institution-100003006537247
data-entry-clerk-100003006535858
security-analyst-security-engineer-data-center-operation-100003006535722
Now start to craw job search result P.23
oracle-database-administrator-major-bank-100003006534401
core-business-services-finance-finance-system-and-data-analyst-100003006539569
data-analyst-global-travel-lifestyle-company-100003006539419
senior-data-scientist-100003006539257
assistant-data-analytics-manager-100003006538697
regional-sales-manager-big-data-100003006538673
oracle-database-administrator-100003006538111
master-data-management-assistant-manager-100003006538109
senior-data-officer-administrator-100003006537783
database-consultant-database-support-engineer-100003006537773
temporary-data-entry-clerk-100003006537659
master-data-management-officer-business-process-supporting-100003006537490
data-center-ito-service-engineer-100003006536829
technical-consultant-crm-erp-hrm-solutions-100003006536751
senior-data-analyst-100003006536694
data-analyst-scientist-100003006536612
it-support-deskside-support-engineer-datacentre-operator-100003006536377
data-engineer-banking-100003006536266
quantitative-researcher-100003006535870
technical-associate-100003006535939
senior-officer-data-analysis-100003006535797
data-scientist-buy-side-100003006535652
helpdesk-support-100003006535642
head-of-data-center-capital-markets-100003006535424
sales-manager-executive-100003006534894
operation-data-analysis-specialist-100003006534748
it-officer-100003006534709
marketing-executive-marketing-manager-100003006534629
data-centre-operator-100003006534555
data-entry-customer-service-clerk-trainee-100003006534421
Now start to craw job search result P.24
operation-control-analyst-up-tp-100003006534491
associate-database-analyst-100003006533736
assistant-project-manager-100003006533703
data-strategist-100003006533486
full-time-data-science-and-machine-learning-instructor-100003006532717
cloud-enterprise-sales-director-100003005941287
data-analytics-developer-forensic-services-financial-advisory-hong-kong-100003006530769
senior-client-data-analyst-100003006532445
senior-data-analyst-analytics-big-data-mnc-100003006532317
team-leader-in-data-analysis-corporate-banking-apac-100003006532079
manager-supply-chain-analytics-100003006532023
data-analyst-100003006531903
data-center-technician-welcome-100003006531648
database-specialist-administrator-100003006531530

marketing-manager-finance-data-b2c-base-100003006530908
full-stack-web-developer-100003006530055
junior-multimedia-designer-100003006530080
insights-centre-lead-data-and-analytics-it-advisory-100003006520901
data-entry-clerk-
property-strategy-data-analytics-100003006530542
senior-data-scientist-100003006530512
data-engineer-cyber-security-100003006530510
senior-data-engineer-data-architect-100003006530505
data-entry-clerk-100003006530460
director-data-engineering-100003006530421
senior-data-entry-clerk-100003006530285
data-analyst-customer-data-analyst-marketing-data-analyst-listed-co-100003006530061
market-data-specialist-financial-services-100003006529846
senior-analyst-programmer-100003006529777
marketing-communication-executive-100003006529562
Now start to craw job search result P.25
senior-database-administrator-it-operations-department-100003006529377

system-database-administrator-chong-hing-securities-100003006529289
data-analyst-100003006529120
business-development-manager-100003006528686
data-centre-assistants-engineers-100003006528422
senior-service-consultant-100003006528336
analyst-programmer-system-analyst-100003006528131
senior-data-analyst-100003006528002
part-time-data-entry-personnel-
it-audit-manager-data-analytics-100003006527774
project-manager-data-centre-100003006527578
data-analyst-100003006527291
asst-manager-data-center-100003006527115
Now start to craw individual job id data-governance-manager-100003006604752
Job title is Data Governance Manager (Ref. No. : 22556)
company Data Governance Manager (Ref. No. : 22556)
 Got job role for this post Data Governance Manager (Ref. No. : 22556)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id clinical-data-research-associate-100003006607289
Job title is Clinical Data Research Associate
company Clinical Data Research Associate
 Got job role for this post Clinical Data Research Associate
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-support-data-center-100003006607129
Job title is Technical Support, Data Center
company Technical Support, Data Center
 Got job role for this post Technical Support, Data Center
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006607026
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id associate-data-analytics-100003006607009
Job title is Associate - Data & Analytics
company Associate - Data & Analytics
 Got job role for this post Associate - Data & Analytics
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analytic-manager-enterprise-data-analytics-and-management-100003006607004
Job title is (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
company (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Got job role for this post (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id human-resources-assistant-100003006606000
Job title is Human Resources Assistant
company Human Resources Assistant
 Got job role for this post Human Resources Assistant
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006606872
Job title is Data Analyst (QS)
company Data Analyst (QS)
 Got job role for this post Data Analyst (QS)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-entry-clerk-100003006606871
Job title is Data Entry Clerk (Sales)
company Data Entry Clerk (Sales)
 Got job role for this post Data Entry Clerk (Sales)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-database-administrator-100003006606694
Job title is Senior Database Administrator (Investment Bank)
company Senior Database Administrator (Investment Bank)
 Got job role for this post Senior Database Administrator (Investment Bank)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-intelligence-data-warehouse-100003006606689
Job title is Business Intelligence / Data Warehouse (SAS / ETL / Qlikview)
company Business Intelligence / Data Warehouse (SAS / ETL / Qlikview)
 Got job role for this post Business Intelligence / Data Warehouse (SAS / ETL / Qlikview)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id database-administrator-100003006606666
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id master-data-management-assistant-manager-100003006606655
Job title is Master Data Management Assistant Manager
company Master Data Management Assistant Manager
 Got job role for this post Master Data Management Assistant Manager
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id data-systems-manager-100003006606585
Job title is Data & Systems Manager- 50-60k
company Data & Systems Manager- 50-60k
 Got job role for this post Data & Systems Manager- 50-60k
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-centre-operator-100003006606308
Job title is Data Centre Operator
company Data Centre Operator
 Got job role for this post Data Centre Operator
 Exp is N
 level is N
now to matching
Now start to craw individual job id senior-engineer-engineer-100003006606149
Job title is Senior Engineer / Engineer (Datacenter Infrastructure Management)
company Senior Engineer / Engineer (Datacenter Infrastructure Management)
 Got job role for this post Senior Engineer / Engineer (Datacenter Infrastructure Management)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-asia-pacific-100003006606013
Job title is Data Analyst, Asia Pacific
company Data Analyst, Asia Pacific
 Got job role for this post Data Analyst, Asia Pacific
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerks-100003006606012
Job title is Data Entry Clerks
company Data Entry Clerks
 Got job role for this post Data Entry Clerks
 Exp is N
 level is N
now to matching
Now start to craw individual job id technical-analyst-assistant-technical-analyst-data-centre-100003006605665
Job title is Technical Analyst / Assistant Technical Analyst – Data Centre
company Technical Analyst / Assistant Technical Analyst – Data Centre
 Got job role for this post Technical Analyst / Assistant Technical Analyst – Data Centre
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-100003006605660
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-technical-support-100003006605393
Job title is Data Center Technical Support ( 數 據 中 心 技 術 支 援 )
company Data Center Technical Support ( 數 據 中 心 技 術 支 援 )
 Got job role for this post Data Center Technical Support ( 數 據 中 心 技 術 支 援 )
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id network-technical-officer-technician-telecom-data-center-100003006605370
Job title is Network Technical Officer / Technician - Telecom Data Center (Ref. No.: NS-OC-O-LTW)
company Network Technical Officer / Technician - Telecom Data Center (Ref. No.: NS-OC-O-LTW)
 Got job role for this post Network Technical Officer / Technician - Telecom Data Center (Ref. No.: NS-OC-O-LTW)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id marketing-executive-100003006605143
Job title is Marketing Executive (E-commerce and Data Marketing)
company Marketing Executive (E-commerce and Data Marketing)
 Got job role for this post Marketing Executive (E-commerce and Data Marketing)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-analytics-sas-100003006604890

Job title is Senior Data Analytics - SAS
company Senior Data Analytics - SAS
 Got job role for this post Senior Data Analytics - SAS
 Exp is N
 level is N
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id technical-lead-senior-engineer-100003006604847
Job title is Technical Lead / Senior Engineer (Data Analyst)
company Technical Lead / Senior Engineer (Data Analyst)
 Got job role for this post Technical Lead / Senior Engineer (Data Analyst)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-center-supervisor-dc-operator-100003006604725
Job title is (Bank/ Commercial/ Government) Data Center Supervisor/ DC Operator (For less exp.)
company (Bank/ Commercial/ Government) Data Center Supervisor/ DC Operator (For less exp.)
 Got job role for this post (Bank/ Commercial/ Government) Data Center Supervisor/ DC Operator (For less exp.)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-science-and-modeling-analyst-100003006603262
Job title is Data Science and Modeling Analyst
company Data Science and Modeling Analyst
 Got job role for this post Data Science and Modeling Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-database-records-management-analyst-100003006604388
Job title is Senior Database & Records Management Analyst (1-year Contract)
company Senior Database & Records Management Analyst (1-year Contract)
 Got job role for this post Senior Database & Records Management Analyst (1-year Contract)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analytics-banking-100003006604293
Job title is Data & Analytics (Partner)- Banking
company Data & Analytics (Partner)- Banking
 Got job role for this post Data & Analytics (Partner)- Banking
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-specialist-100003006604197
Job title is DATA SPECIALIST
company DATA SPECIALIST
 Got job role for this post DATA SPECIALIST
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-operator-100003006604186
Job title is Data Center Operator (Fresh graduates welcome)
company Data Center Operator (Fresh graduates welcome)
 Got job role for this post Data Center Operator (Fresh graduates welcome)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-officer-data-architect-100003006602396
Job title is Technical Officer – Data Architect (Ref: 180000EF)
company Technical Officer – Data Architect (Ref: 180000EF)
 Got job role for this post Technical Officer – Data Architect (Ref: 180000EF)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-engineer-engineer-user-data-analysis-100003006602836
Job title is Senior Engineer / Engineer, User Data Analysis
company Senior Engineer / Engineer, User Data Analysis
 Got job role for this post Senior Engineer / Engineer, User Data Analysis
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-engineer-engineer-data-analytics-100003006602558
Job title is Senior Engineer / Engineer, Data Analytics
company Senior Engineer / Engineer, Data Analytics
 Got job role for this post Senior Engineer / Engineer, Data Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006603771
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-business-analyst-100003006603709
Job title is Data Business Analyst
company Data Business Analyst
 Got job role for this post Data Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id hr-project-advisor-consultant-global-data-100003006603642
Job title is HR Project Advisor/Consultant, Global Data (C&B, MNC) 30-38k
company HR Project Advisor/Consultant, Global Data (C&B, MNC) 30-38k
 Got job role for this post HR Project Advisor/Consultant, Global Data (C&B, MNC) 30-38k
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id big-data-analyst-international-company-100003006603634
Job title is Big Data Analyst - International Company (Can Sponsor Visa)
company Big Data Analyst - International Company (Can Sponsor Visa)
 Got job role for this post Big Data Analyst - International Company (Can Sponsor Visa)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id it-project-coordinator-100003006603583
Job title is IT Project Coordinator (Data Science and Innovation)
company IT Project Coordinator (Data Science and Innovation)
 Got job role for this post IT Project Coordinator (Data Science and Innovation)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-100003006603427
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-campaign-management-executive-100003006603409
Job title is Senior Campaign Management Executive (Senior Data Analyst)
company Senior Campaign Management Executive (Senior Data Analyst)
 Got job role for this post Senior Campaign Management Executive (Senior Data Analyst)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-management-manager-100003006603181
Job title is DATA MANAGEMENT MANAGER (Account Opening)
company DATA MANAGEMENT MANAGER (Account Opening)
 Got job role for this post DATA MANAGEMENT MANAGER (Account Opening)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id project-manager-datacenter-planning-optimization-100003006603170
Job title is Project Manager - Datacenter Planning & Optimization
company Project Manager - Datacenter Planning & Optimization
 Got job role for this post Project Manager - Datacenter Planning & Optimization
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id quality-assurance-engineer-100003006602979
Job title is Quality Assurance Engineer
company Quality Assurance Engineer
 Got job role for this post Quality Assurance Engineer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id regional-sales-manager-apac-datacenter-100003006602814
Job title is Regional Sales Manager, APAC - Datacenter
company Regional Sales Manager, APAC - Datacenter
 Got job role for this post Regional Sales Manager, APAC - Datacenter
 Exp is 9
 level is 9
now to matching
Now start to craw individual job id manager-assistant-manager-100003006602725
Job title is Manager / Assistant Manager (CRM Database Management)
company Manager / Assistant Manager (CRM Database Management)
 Got job role for this post Manager / Assistant Manager (CRM Database Management)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id senior-manager-100003006602668
Job title is Senior Manager (CRM Database Management)
company Senior Manager (CRM Database Management)
 Got job role for this post Senior Manager (CRM Database Management)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-data-analyst-100003006602456
Job title is ASSOCIATE - DATA ANALYST
company ASSOCIATE - DATA ANALYST
 Got job role for this post ASSOCIATE - DATA ANALYST
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-engineer-100003006602336
Job title is Data Engineer (Permanent, R/Python)
company Data Engineer (Permanent, R/Python)
 Got job role for this post Data Engineer (Permanent, R/Python)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id account-manager-100003006602374
Job title is Account Manager
company Account Manager
 Got job role for this post Account Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-sales-manager-ai-big-data-analytics-100003006602358
Job title is Senior Sales Manager, AI & Big Data Analytics
company Senior Sales Manager, AI & Big Data Analytics
 Got job role for this post Senior Sales Manager, AI & Big Data Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006602301

Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analytics-banking-100003006602167
Job title is Data & Analytics (Associate Director) - Banking
company Data & Analytics (Associate Director) - Banking
 Got job role for this post Data & Analytics (Associate Director) - Banking
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-
Cant crawd some id
Now start to craw individual job id data-analyst-data-engineer-digital-platform-insurance-industry-100003006601860
Job title is Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
company Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
 Got job role for this post Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id technical-officer-data-centre-100003006601623
Job title is Technical Officer - Data Centre ( 5 Days work)
company Technical Officer - Data Centre ( 5 Days work)
 Got job role for this post Technical Officer - Data Centre ( 5 Days work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-clerk-100003006601365
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-clerk-100003006601145
Job title is Data Entry Clerk (5-day work)
company Data Entry Clerk (5-day work)
 Got job role for this post Data Entry Clerk (5-day work)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id banking-it-project-management-data-management-professional-quality-assurance-100003006601139
Job title is Banking IT Project Management / Data Management Professional / Quality Assurance
company Banking IT Project Management / Data Management Professional / Quality Assurance
 Got job role for this post Banking IT Project Management / Data Management Professional / Quality Assurance
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id advisory-risk-risk-transformation-senior-associate-100003006601108
Job title is Advisory - Risk - Risk Transformation - Senior Associate (Data Architect / Data Engineer)
company Advisory - Risk - Risk Transformation - Senior Associate (Data Architect / Data Engineer)
 Got job role for this post Advisory - Risk - Risk Transformation - Senior Associate (Data Architect / Data Engineer)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id business-intelligence-data-analytics-architect-global-asset-management-group-100003006601072
Job title is Business Intelligence/ Data Analytics Architect – Global Asset Management Group – HK$60k-70k
company Business Intelligence/ Data Analytics Architect – Global Asset Management Group – HK$60k-70k
 Got job role for this post Business Intelligence/ Data Analytics Architect – Global Asset Management Group – HK$60k-70k
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id market-data-architect-reputable-hedge-fund-100003006601070
Job title is Market Data Architect (Python/MSSQL/Postgres/MongoDB) - Reputable Hedge Fund - HK$65-85k
company Market Data Architect (Python/MSSQL/Postgres/MongoDB) - Reputable Hedge Fund - HK$65-85k
 Got job role for this post Market Data Architect (Python/MSSQL/Postgres/MongoDB) - Reputable Hedge Fund - HK$65-85k
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id head-of-data-driven-marketing-100003006600985
Job title is Head of Data Driven Marketing
company Head of Data Driven Marketing
 Got job role for this post Head of Data Driven Marketing
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006600966
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-database-administrator-chong-hing-securities-100003006600544
Job title is System & Database Administrator – Chong Hing Securities (UCHS)
company System & Database Administrator – Chong Hing Securities (UCHS)
 Got job role for this post System & Database Administrator – Chong Hing Securities (UCHS)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id credit-data-administrator-hong-kong-corporates-100003006600458
Job title is Credit Data Administrator - Hong Kong Corporates
company Credit Data Administrator - Hong Kong Corporates
 Got job role for this post Credit Data Administrator - Hong Kong Corporates
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-analyst-big-data-platform-data-engineering-100003006600193
Job title is System Analyst - Big Data Platform & Data Engineering
company System Analyst - Big Data Platform & Data Engineering
 Got job role for this post System Analyst - Big Data Platform & Data Engineering
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id part-time-data-analyst-assistant-investment-100003006600151
Job title is Part-time Data Analyst Assistant, Investment
company Part-time Data Analyst Assistant, Investment
 Got job role for this post Part-time Data Analyst Assistant, Investment
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-technical-operation-manager-100003006600081
Job title is Data Center Technical Operation Manager
company Data Center Technical Operation Manager
 Got job role for this post Data Center Technical Operation Manager
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-facility-engineer-100003006600077
Job title is Data Center Facility Engineer
company Data Center Facility Engineer
 Got job role for this post Data Center Facility Engineer
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id data-center-technician-100003006600076
Job title is Data Center Technician
company Data Center Technician
 Got job role for this post Data Center Technician
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id walk-in-recruitment-day-many-it-positions-call-centre-data-centre-help-desk-it-support-network-technicians-etc-100003006599806
Job title is Walk-In Recruitment Day: Many IT positions: Call Centre/ Data Centre/ Help Desk/ IT Support/ Network / Technicians etc.
company Walk-In Recruitment Day: Many IT positions: Call Centre/ Data Centre/ Help Desk/ IT Support/ Network / Technicians etc.
 Got job role for this post Walk-In Recruitment Day: Many IT positions: Call Centre/ Data Centre/ Help Desk/ IT Support/ Network / Technicians etc.
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id analyst-programmer-programmer-data-warehouse-and-bi-100003006599805
Job title is Analyst Programmer / Programmer – Data Warehouse and BI
company Analyst Programmer / Programmer – Data Warehouse and BI
 Got job role for this post Analyst Programmer / Programmer – Data Warehouse and BI
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-100003006599779
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id associate-analyst-center-of-innovation-100003006599700
Job title is Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
company Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
 Got job role for this post Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id programmer-senior-programmer-csharp-100003006599524

Job title is Programmer / Senior Programmer C# (5-day Work)
company Programmer / Senior Programmer C# (5-day Work)
 Got job role for this post Programmer / Senior Programmer C# (5-day Work)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-analyst-100003006599400
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id data-entry-clerk-
Cant crawd some id
Now start to craw individual job id part-time-data-entry-clerk-100003006598978
Job title is Part Time Data Entry Clerk
company Part Time Data Entry Clerk
 Got job role for this post Part Time Data Entry Clerk
 Exp is N
 level is N
now to matching
Now start to craw individual job id database-administrator-100003006598920
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id lead-data-scientist-100003006598908
Job title is Lead Data Scientist
company Lead Data Scientist
 Got job role for this post Lead Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id project-manager-100003006598904
Job title is Project Manager (CMB Transformation and Data Management)
company Project Manager (CMB Transformation and Data Management)
 Got job role for this post Project Manager (CMB Transformation and Data Management)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-data-analyst-100003006598761
Job title is Senior Data Analyst (Contract)
company Senior Data Analyst (Contract)
 Got job role for this post Senior Data Analyst (Contract)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id bi-consultant-data-warehouse-specialist-100003006598727
Job title is BI Consultant / Data Warehouse Specialist
company BI Consultant / Data Warehouse Specialist
 Got job role for this post BI Consultant / Data Warehouse Specialist
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-dba-100003006597396
Job title is Database Administrator – DBA (MySQL)
company Database Administrator – DBA (MySQL)
 Got job role for this post Database Administrator – DBA (MySQL)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-architect-100003006598568
Job title is Senior Data Architect
company Senior Data Architect
 Got job role for this post Senior Data Architect
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-entry-management-officer-dpmo-100003006598076
Job title is Data Entry & Management Officer -DPMO (5 Days Work)
company Data Entry & Management Officer -DPMO (5 Days Work)
 Got job role for this post Data Entry & Management Officer -DPMO (5 Days Work)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-centre-assistants-engineers-100003006597760
Job title is Data Centre Assistants / Engineers (Fresh or Experienced) $13-18K
company Data Centre Assistants / Engineers (Fresh or Experienced) $13-18K
 Got job role for this post Data Centre Assistants / Engineers (Fresh or Experienced) $13-18K
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id cloud-data-center-service-operator-100003006598288
Job title is Cloud Data Center Service Operator (Contract)
company Cloud Data Center Service Operator (Contract)
 Got job role for this post Cloud Data Center Service Operator (Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id bi-data-engineer-100003006598102
Job title is (VP grading max) BI Data Engineer (Python/Hadoop/Spark)
company (VP grading max) BI Data Engineer (Python/Hadoop/Spark)
 Got job role for this post (VP grading max) BI Data Engineer (Python/Hadoop/Spark)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-100003006597977
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-architect-100003006597911
Job title is Data Architect (Perm)
company Data Architect (Perm)
 Got job role for this post Data Architect (Perm)
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id assistant-project-manager-100003006597852
Job title is Assistant Project Manager (Data Management & Governance)
company Assistant Project Manager (Data Management & Governance)
 Got job role for this post Assistant Project Manager (Data Management & Governance)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id digital-media-officer-100003006597765
Job title is Digital Media Officer (5 day work)
company Digital Media Officer (5 day work)
 Got job role for this post Digital Media Officer (5 day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-senior-data-analyst-100003006597338
Job title is Data Analyst / Senior Data Analyst (MOOV)
company Data Analyst / Senior Data Analyst (MOOV)
 Got job role for this post Data Analyst / Senior Data Analyst (MOOV)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-clerk-100003006597313
Job title is Database Clerk (5天工作)
company Database Clerk (5天工作)
 Got job role for this post Database Clerk (5天工作)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id junior-database-administrator-database-administrator-100003006597244
Job title is Junior Database Administrator / Database Administrator
company Junior Database Administrator / Database Administrator
 Got job role for this post Junior Database Administrator / Database Administrator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-commercial-banking-100003006597216
Job title is Data Scientist - Commercial Banking
company Data Scientist - Commercial Banking
 Got job role for this post Data Scientist - Commercial Banking
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id advisory-data-analytics-senior-associate-100003006597148
Job title is Advisory - Data & Analytics - Senior Associate (Data Modeler)
company Advisory - Data & Analytics - Senior Associate (Data Modeler)
 Got job role for this post Advisory - Data & Analytics - Senior Associate (Data Modeler)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sales-manager-100003006597138
Job title is Sales Manager (Data Centre Sales)
company Sales Manager (Data Centre Sales)
 Got job role for this post Sales Manager (Data Centre Sales)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id oracle-database-administrator-100003006597126
Job title is Oracle Database Administrator
company Oracle Database Administrator
 Got job role for this post Oracle Database Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id network-data-analyst-100003006596992
Job title is Network Data Analyst
company Network Data Analyst
 Got job role for this post Network Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id big-data-system-analyst-analyst-programmer-software-engineer-100003006596822
Job title is Big Data System Analyst / Analyst Programmer / Software Engineer
company Big Data System Analyst / Analyst Programmer / Software Engineer
 Got job role for this post Big Data System Analyst / Analyst Programmer / Software Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-big-data-engineer-100003006596791
Job title is Data Scientists / AI Developer and Researcher / Big Data Engineer
company Data Scientists / AI Developer and Researcher / Big Data Engineer
 Got job role for this post Data Scientists / AI Developer and Researcher / Big Data Engineer
 Exp is N
 level is N
now to matching
Now start to craw individual job id assistant-product-manager-data-center-business-100003006596753

Job title is Assistant Product Manager, Data Center Business (Ref: JDB/KL-DCCB/DCB/DCPM)
company Assistant Product Manager, Data Center Business (Ref: JDB/KL-DCCB/DCB/DCPM)
 Got job role for this post Assistant Product Manager, Data Center Business (Ref: JDB/KL-DCCB/DCB/DCPM)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-center-operator-assistant-100003006596743
Job title is Data Center Operator / Assistant (Ref: JDB-KL/DCSM/TKO)
company Data Center Operator / Assistant (Ref: JDB-KL/DCSM/TKO)
 Got job role for this post Data Center Operator / Assistant (Ref: JDB-KL/DCSM/TKO)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-management-officer-dpmo-100003006596736
Job title is Data Entry & Management Officer -DPMO (5 Days Work)
company Data Entry & Management Officer -DPMO (5 Days Work)
 Got job role for this post Data Entry & Management Officer -DPMO (5 Days Work)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006596604
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id assistant-data-analyst-100003006596551
Job title is Assistant Data Analyst
company Assistant Data Analyst
 Got job role for this post Assistant Data Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006596532
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-100003006596374
Job title is Data Entry Clerk (5-Day Work)
company Data Entry Clerk (5-Day Work)
 Got job role for this post Data Entry Clerk (5-Day Work)
 Exp is N
 level is N
now to matching
Now start to craw individual job id assistant-manager-100003006596305
Job title is Assistant Manager (Data Centre)
company Assistant Manager (Data Centre)
 Got job role for this post Assistant Manager (Data Centre)
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id system-analyst-big-data-consultant-100003006596183
Job title is SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
company SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
 Got job role for this post SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id retail-leasing-trainee-100003006596097
Job title is Retail Leasing Trainee (Data Exploration)
company Retail Leasing Trainee (Data Exploration)
 Got job role for this post Retail Leasing Trainee (Data Exploration)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id master-data-business-intelligence-specialist-100003006596087
Job title is Master Data & Business Intelligence Specialist (one-year contract)
company Master Data & Business Intelligence Specialist (one-year contract)
 Got job role for this post Master Data & Business Intelligence Specialist (one-year contract)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id head-of-data-analytics-100003006595829
Job title is Head of Data Analytics
company Head of Data Analytics
 Got job role for this post Head of Data Analytics
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id lead-data-scientist-100003006595805
Job title is Lead Data Scientist
company Lead Data Scientist
 Got job role for this post Lead Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-engineering-lead-leading-bank-100003006595399
Job title is Data Engineering Lead - Leading Bank
company Data Engineering Lead - Leading Bank
 Got job role for this post Data Engineering Lead - Leading Bank
 Exp is 9
 level is 9
now to matching
Now start to craw individual job id assistant-business-intelligence-data-strategy-analytics-manager-100003006586186
Job title is Assistant Business Intelligence, Data Strategy & Analytics Manager (2-Year Contract)
company Assistant Business Intelligence, Data Strategy & Analytics Manager (2-Year Contract)
 Got job role for this post Assistant Business Intelligence, Data Strategy & Analytics Manager (2-Year Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id engineers-operators-data-centre-100003004466047
Job title is (Senior) Engineers / Operators - Data Centre
company (Senior) Engineers / Operators - Data Centre
 Got job role for this post (Senior) Engineers / Operators - Data Centre
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-operator-100003006587739
Job title is Data Center Operator (Fresh grad are welcomed)
company Data Center Operator (Fresh grad are welcomed)
 Got job role for this post Data Center Operator (Fresh grad are welcomed)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-administrator-100003006587797
Job title is Database Administrator (Oracle & WebLogic)
company Database Administrator (Oracle & WebLogic)
 Got job role for this post Database Administrator (Oracle & WebLogic)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-center-operator-technician-english-100003006595343
Job title is Data Center Operator / Technician - English Required
company Data Center Operator / Technician - English Required
 Got job role for this post Data Center Operator / Technician - English Required
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-solution-analyst-data-analyst-tier-1-bank-100003006595318
Job title is Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
company Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
 Got job role for this post Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-analyst-leading-bank-100003006594944
Job title is Business Analyst (Data Engineering / DWH) - Leading Bank
company Business Analyst (Data Engineering / DWH) - Leading Bank
 Got job role for this post Business Analyst (Data Engineering / DWH) - Leading Bank
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id business-data-analyst-100003006595262
Job title is Business/Data Analyst
company Business/Data Analyst
 Got job role for this post Business/Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-engineer-cyber-security-100003006595152
Job title is Data Engineer Cyber Security
company Data Engineer Cyber Security
 Got job role for this post Data Engineer Cyber Security
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-engineer-data-architect-100003006595142
Job title is Senior Data Engineer / Data Architect
company Senior Data Engineer / Data Architect
 Got job role for this post Senior Data Engineer / Data Architect
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id senior-consultant-data-engineering-analytics-100003006595097
Job title is Senior Consultant, Data Engineering, Analytics
company Senior Consultant, Data Engineering, Analytics
 Got job role for this post Senior Consultant, Data Engineering, Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id bi-data-warehouse-developer-100003006595081
Job title is BI / Data Warehouse Developer
company BI / Data Warehouse Developer
 Got job role for this post BI / Data Warehouse Developer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manager-manager-data-management-account-opening-100003006594794
Job title is Assistant Manager / Manager, Data Management - Account Opening (Investment Bank, Central, 30K-38K)
company Assistant Manager / Manager, Data Management - Account Opening (Investment Bank, Central, 30K-38K)
 Got job role for this post Assistant Manager / Manager, Data Management - Account Opening (Investment Bank, Central, 30K-38K)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id financial-controller-accountant-100003006594730

Job title is (PT/FT) Financial Controller/ Accountant (Passion for data science welcome)
company (PT/FT) Financial Controller/ Accountant (Passion for data science welcome)
 Got job role for this post (PT/FT) Financial Controller/ Accountant (Passion for data science welcome)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-manager-senior-manager-big-data-analytics-100003006594681
Job title is IT manager/ senior manager – Big data analytics
company IT manager/ senior manager – Big data analytics
 Got job role for this post IT manager/ senior manager – Big data analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-it-manager-big-data-analytics-100003006594672
Job title is Assistant IT manager – Big data analytics
company Assistant IT manager – Big data analytics
 Got job role for this post Assistant IT manager – Big data analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id digital-marketing-data-analyst-100003006594418
Job title is Digital Marketing Data Analyst REF: JOB_000224
company Digital Marketing Data Analyst REF: JOB_000224
 Got job role for this post Digital Marketing Data Analyst REF: JOB_000224
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id government-project-data-center-operator-100003006594392
Job title is Government project------- Data center operator (5 days work)
company Government project------- Data center operator (5 days work)
 Got job role for this post Government project------- Data center operator (5 days work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006594349
Job title is Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
company Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Got job role for this post Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id typist-data-entry-
Cant crawd some id
Now start to craw individual job id system-analyst-senior-analyst-programmer-100003006594300
Job title is System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
company System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
 Got job role for this post System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-center-supervisor-100003006594030
Job title is Data Center Supervisor
company Data Center Supervisor
 Got job role for this post Data Center Supervisor
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-centre-engineer-100003006593799
Job title is Data Centre Engineer (3 shifts)
company Data Centre Engineer (3 shifts)
 Got job role for this post Data Centre Engineer (3 shifts)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-big-data-100003006593756
Job title is Data Scientist, Big Data
company Data Scientist, Big Data
 Got job role for this post Data Scientist, Big Data
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-data-scientist-global-fintech-startup-100003006593695
Job title is Data Analyst / Data Scientist - Global Fintech startup
company Data Analyst / Data Scientist - Global Fintech startup
 Got job role for this post Data Analyst / Data Scientist - Global Fintech startup
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-infrastructure-engineer-global-fintech-startup-100003006593694
Job title is Data Infrastructure Engineer - Global Fintech startup
company Data Infrastructure Engineer - Global Fintech startup
 Got job role for this post Data Infrastructure Engineer - Global Fintech startup
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-100003006593633
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-sr-data-analyst-lead-analyst-100003006593607
Job title is Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
company Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
 Got job role for this post Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-business-strategy-manager-business-strategy-manager-100003006593385
Job title is Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
company Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Got job role for this post Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id social-media-executive-100003006593358
Job title is Social Media Executive  (Data Research & Data Analysis)
company Social Media Executive  (Data Research & Data Analysis)
 Got job role for this post Social Media Executive  (Data Research & Data Analysis)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id gis-assistant-100003006593272
Job title is GIS. Assistant (5-day work)
company GIS. Assistant (5-day work)
 Got job role for this post GIS. Assistant (5-day work)
 Exp is N
 level is N
now to matching
Now start to craw individual job id client-solutions-consultant-100003006593173
Job title is Client Solutions Consultant (Data Networking Solution)
company Client Solutions Consultant (Data Networking Solution)
 Got job role for this post Client Solutions Consultant (Data Networking Solution)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-manager-database-marketing-insurance-100003006593078
Job title is Senior Manager, Database Marketing - Insurance
company Senior Manager, Database Marketing - Insurance
 Got job role for this post Senior Manager, Database Marketing - Insurance
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-processing-clerk-it-100003006592831
Job title is Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
company Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
 Got job role for this post Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
 Exp is N
 level is N
now to matching
Now start to craw individual job id internet-data-center-operations-engineer-
Cant crawd some id
Now start to craw individual job id data-entry-clerk-100003006592608
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is N
 level is N
now to matching
Now start to craw individual job id security-officer-100003006592495
Job title is Security Officer (Data Centre Premises)
company Security Officer (Data Centre Premises)
 Got job role for this post Security Officer (Data Centre Premises)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-entry-accounting-assistant-100003006588913
Job title is Data Entry / Accounting Assistant (Temporary / Part-Time)
company Data Entry / Accounting Assistant (Temporary / Part-Time)
 Got job role for this post Data Entry / Accounting Assistant (Temporary / Part-Time)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-entry-clerk-
Cant crawd some id
Now start to craw individual job id presales-consultant-product-manager-100003006592353
Job title is Presales Consultant/ Product Manager (IP/ Network Infra/ Cloud/ Data Center)
company Presales Consultant/ Product Manager (IP/ Network Infra/ Cloud/ Data Center)
 Got job role for this post Presales Consultant/ Product Manager (IP/ Network Infra/ Cloud/ Data Center)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id business-analyst-100003006592306
Job title is Business Analyst (Data Researcher and Automation Developer)
company Business Analyst (Data Researcher and Automation Developer)
 Got job role for this post Business Analyst (Data Researcher and Automation Developer)
 Exp is N
 level is N
now to matching
Now start to craw individual job id part-time-data-entry-clerk-100003006592270

Job title is Part Time Data Entry Clerk (Flexible hours, Sheungwan, Fun working environment)
company Part Time Data Entry Clerk (Flexible hours, Sheungwan, Fun working environment)
 Got job role for this post Part Time Data Entry Clerk (Flexible hours, Sheungwan, Fun working environment)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manger-100003006592258
Job title is Assistant Manger(Data Science and Customer Insight)
company Assistant Manger(Data Science and Customer Insight)
 Got job role for this post Assistant Manger(Data Science and Customer Insight)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006588823
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id database-analyst-programmer-programmer-100003006588284
Job title is Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
company Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
 Got job role for this post Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-management-officer-dpmo-100003006588279
Job title is Data Entry & Management Officer -DPMO (5 Days Work)
company Data Entry & Management Officer -DPMO (5 Days Work)
 Got job role for this post Data Entry & Management Officer -DPMO (5 Days Work)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006587683
Job title is Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
company Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Got job role for this post Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-administrator-ms-sql-server-oracle-db2-udb-100003006592062
Job title is Database Administrator - MS SQL Server, Oracle, DB2 UDB
company Database Administrator - MS SQL Server, Oracle, DB2 UDB
 Got job role for this post Database Administrator - MS SQL Server, Oracle, DB2 UDB
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id head-of-bi-and-analytics-100003006591918
Job title is Head of BI and Analytics  HKD1M+(Data Modeling, Data Visualization, Data Warehouse)
company Head of BI and Analytics  HKD1M+(Data Modeling, Data Visualization, Data Warehouse)
 Got job role for this post Head of BI and Analytics  HKD1M+(Data Modeling, Data Visualization, Data Warehouse)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-support-data-center-support-100003006591805
Job title is System Support / Data Center Support
company System Support / Data Center Support
 Got job role for this post System Support / Data Center Support
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-network-engineer-data-center-operation-100003006591804
Job title is Senior Network Engineer – Data Center Operation
company Senior Network Engineer – Data Center Operation
 Got job role for this post Senior Network Engineer – Data Center Operation
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-100003006586329
Job title is System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
company System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
 Got job role for this post System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-operator-100003006591714
Job title is Data Center Operator
company Data Center Operator
 Got job role for this post Data Center Operator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-marketing-100003006591641
Job title is Senior Data Analyst - Marketing
company Senior Data Analyst - Marketing
 Got job role for this post Senior Data Analyst - Marketing
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-engineer-100003006588502
Job title is Data Engineer
company Data Engineer
 Got job role for this post Data Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id web-designer-100003006587028
Job title is Web Designer
company Web Designer
 Got job role for this post Web Designer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id online-marketing-specialist-100003006587039
Job title is Online Marketing Specialist
company Online Marketing Specialist
 Got job role for this post Online Marketing Specialist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-100003006586823
Job title is Data Entry Clerk (1 year contract)
company Data Entry Clerk (1 year contract)
 Got job role for this post Data Entry Clerk (1 year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id db2-database-administrator-major-bank-100003006590901
Job title is DB2 Database Administrator (DBA) – Major Bank
company DB2 Database Administrator (DBA) – Major Bank
 Got job role for this post DB2 Database Administrator (DBA) – Major Bank
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006591583
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analytics-consultant-associate-data-analytics-consultant-100003006591249
Job title is Data Analytics Consultant / Associate Data Analytics Consultant
company Data Analytics Consultant / Associate Data Analytics Consultant
 Got job role for this post Data Analytics Consultant / Associate Data Analytics Consultant
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-centre-operator-
Cant crawd some id
Now start to craw individual job id specialist-100003006591129
Job title is Specialist (Datacentre Operation)
company Specialist (Datacentre Operation)
 Got job role for this post Specialist (Datacentre Operation)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006591105
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-business-planning-manager-100003006591095
Job title is Data Analyst/ Business Planning Manager
company Data Analyst/ Business Planning Manager
 Got job role for this post Data Analyst/ Business Planning Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-clerk-100003006590960
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id facility-engineer-100003006590554
Job title is Facility Engineer ( 2 Headcounts / 1 for TKO Data Centre / 1 for Fo Tan Data Centre )
company Facility Engineer ( 2 Headcounts / 1 for TKO Data Centre / 1 for Fo Tan Data Centre )
 Got job role for this post Facility Engineer ( 2 Headcounts / 1 for TKO Data Centre / 1 for Fo Tan Data Centre )
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id technical-support-officer-100003006590505
Job title is Technical Support Officer ( Data Centre at Tseung Kwan O / 3 Headcounts )
company Technical Support Officer ( Data Centre at Tseung Kwan O / 3 Headcounts )
 Got job role for this post Technical Support Officer ( Data Centre at Tseung Kwan O / 3 Headcounts )
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id system-engineer-100003006590402

Job title is System Engineer
company System Engineer
 Got job role for this post System Engineer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id solution-architecture-100003006590404
Job title is Solution Architecture
company Solution Architecture
 Got job role for this post Solution Architecture
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id software-engineer-software-engineer-trainee-100003006590403
Job title is Software Engineer/ Software Engineer Trainee
company Software Engineer/ Software Engineer Trainee
 Got job role for this post Software Engineer/ Software Engineer Trainee
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-engineer-100003006590405
Job title is System Engineer (Linux-SAN)
company System Engineer (Linux-SAN)
 Got job role for this post System Engineer (Linux-SAN)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id pre-sales-engineer-100003006590406
Job title is Pre-sales Engineer
company Pre-sales Engineer
 Got job role for this post Pre-sales Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id account-manager-account-executive-100003006590400
Job title is Account Manager / Account Executive (Government, Public and Education Sector)
company Account Manager / Account Executive (Government, Public and Education Sector)
 Got job role for this post Account Manager / Account Executive (Government, Public and Education Sector)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id account-manager-account-executive-100003006590401
Job title is Account Manager / Account Executive (Inside Sales, International Clients)
company Account Manager / Account Executive (Inside Sales, International Clients)
 Got job role for this post Account Manager / Account Executive (Inside Sales, International Clients)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id customer-services-representative-100003006590386
Job title is Customer Services Representative
company Customer Services Representative
 Got job role for this post Customer Services Representative
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id warehouse-supervisor-100003006590387
Job title is Warehouse Supervisor
company Warehouse Supervisor
 Got job role for this post Warehouse Supervisor
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id database-administrator-oracle-100003006587518
Job title is Database Administrator – Oracle (Ref. No.: 22756)
company Database Administrator – Oracle (Ref. No.: 22756)
 Got job role for this post Database Administrator – Oracle (Ref. No.: 22756)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-analyst-analyst-100003006589983
Job title is Senior Analyst / Analyst (Accounts Receivable)
company Senior Analyst / Analyst (Accounts Receivable)
 Got job role for this post Senior Analyst / Analyst (Accounts Receivable)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id marketing-manager-customer-data-management-100003006589553
Job title is Marketing Manager - Customer Data Management
company Marketing Manager - Customer Data Management
 Got job role for this post Marketing Manager - Customer Data Management
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id data-entry-clerk-accounting-department-100003006588731
Job title is DATA ENTRY CLERK - ACCOUNTING DEPARTMENT (5 DAYS WORK)
company DATA ENTRY CLERK - ACCOUNTING DEPARTMENT (5 DAYS WORK)
 Got job role for this post DATA ENTRY CLERK - ACCOUNTING DEPARTMENT (5 DAYS WORK)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-engineer-100003006588898
Job title is Data Engineer (CSD2/201810/DE/LW)
company Data Engineer (CSD2/201810/DE/LW)
 Got job role for this post Data Engineer (CSD2/201810/DE/LW)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-architect-100003006588830
Job title is Data Architect
company Data Architect
 Got job role for this post Data Architect
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-developer-100003006588829
Job title is Data Developer
company Data Developer
 Got job role for this post Data Developer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-analyst-100003006588827
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-entry-clerk-100003006588355
Job title is Data Entry Clerk - Fresh Graduates Welcome
company Data Entry Clerk - Fresh Graduates Welcome
 Got job role for this post Data Entry Clerk - Fresh Graduates Welcome
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-analyst-etl-data-modeling-data-warehouse-100003006588345
Job title is System Analyst - ETL / Data Modeling / Data Warehouse
company System Analyst - ETL / Data Modeling / Data Warehouse
 Got job role for this post System Analyst - ETL / Data Modeling / Data Warehouse
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id database-administrator-100003006588340
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-transaction-advisory-services-100003006588331
Job title is Data Scientist- Transaction Advisory Services
company Data Scientist- Transaction Advisory Services
 Got job role for this post Data Scientist- Transaction Advisory Services
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id programmer-senior-programmer-100003006588310
Job title is Programmer / Senior Programmer (5-day work)
company Programmer / Senior Programmer (5-day work)
 Got job role for this post Programmer / Senior Programmer (5-day work)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-in-international-bank-100003006587752
Job title is (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
company (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
 Got job role for this post (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id clerk-data-entry-clerk-100003006587732
Job title is Clerk / Data Entry Clerk (文員/資料輸入員)
company Clerk / Data Entry Clerk (文員/資料輸入員)
 Got job role for this post Clerk / Data Entry Clerk (文員/資料輸入員)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-analyst-100003006587664
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-clerk-insurance-100003006587652
Job title is Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181026)
company Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181026)
 Got job role for this post Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181026)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-systems-analyst-data-engineer-100003006584679
Job title is Senior Systems Analyst, Data Engineer
company Senior Systems Analyst, Data Engineer
 Got job role for this post Senior Systems Analyst, Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-management-manager-100003006587563
Job title is DATA MANAGEMENT, MANAGER
company DATA MANAGEMENT, MANAGER
 Got job role for this post DATA MANAGEMENT, MANAGER
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id vp-director-client-onboarding-client-static-data-maintenance-operations-100003006587472
Job title is VP/Director – Client Onboarding/Client Static Data Maintenance,Operations
company VP/Director – Client Onboarding/Client Static Data Maintenance,Operations
 Got job role for this post VP/Director – Client Onboarding/Client Static Data Maintenance,Operations
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-support-assistant-officer-100003006587369

Job title is DATA SUPPORT ASSISTANT/ OFFICER
company DATA SUPPORT ASSISTANT/ OFFICER
 Got job role for this post DATA SUPPORT ASSISTANT/ OFFICER
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-100003006587275
Job title is Data Entry Clerk (Back Office, 5-day work)
company Data Entry Clerk (Back Office, 5-day work)
 Got job role for this post Data Entry Clerk (Back Office, 5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id market-data-specialist-financial-services-100003006586926
Job title is Market Data Specialist – Financial Services
company Market Data Specialist – Financial Services
 Got job role for this post Market Data Specialist – Financial Services
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006586859
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id it-analyst-data-analytics-100003006585900
Job title is IT Analyst – Data Analytics
company IT Analyst – Data Analytics
 Got job role for this post IT Analyst – Data Analytics
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-junior-data-scientist-100003006585948
Job title is Data Scientist / Junior Data Scientist
company Data Scientist / Junior Data Scientist
 Got job role for this post Data Scientist / Junior Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006586454
Job title is Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
company Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Got job role for this post Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id asset-management-data-management-100003006586434
Job title is Asset Management - Data Management
company Asset Management - Data Management
 Got job role for this post Asset Management - Data Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id asset-management-data-management-100003006586370
Job title is Asset Management - Data Management
company Asset Management - Data Management
 Got job role for this post Asset Management - Data Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006586307
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analytics-sas-mnc-bank-100003006586195
Job title is Data Analytics - SAS / MNC Bank
company Data Analytics - SAS / MNC Bank
 Got job role for this post Data Analytics - SAS / MNC Bank
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-finance-function-100003006585991
Job title is Data Entry Clerk - Finance Function (6 Months Temporary Contract)
company Data Entry Clerk - Finance Function (6 Months Temporary Contract)
 Got job role for this post Data Entry Clerk - Finance Function (6 Months Temporary Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id associate-data-analyst-mkt-sales-dept-100003006585971
Job title is Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
company Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
 Got job role for this post Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-data-analysis-officer-100003006585869
Job title is Assistant Data Analysis Officer
company Assistant Data Analysis Officer
 Got job role for this post Assistant Data Analysis Officer
 Exp is N
 level is N
now to matching
Now start to craw individual job id business-data-analyst-100003006585819
Job title is Business/Data Analyst
company Business/Data Analyst
 Got job role for this post Business/Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-hsbc-operations-services-and-technology-100003006585799
Job title is Database Administrator - HSBC Operations, Services and Technology
company Database Administrator - HSBC Operations, Services and Technology
 Got job role for this post Database Administrator - HSBC Operations, Services and Technology
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-clerk-100003006585766
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is N
 level is N
now to matching
Now start to craw individual job id assistant-manager-practice-management-and-data-analytics-100003006585475
Job title is Assistant Manager, Practice Management and Data Analytics
company Assistant Manager, Practice Management and Data Analytics
 Got job role for this post Assistant Manager, Practice Management and Data Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-100003006579446
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id project-manager-data-center-100003006585344
Job title is Project Manager- Data Center (Ref: JDB/EC-DCID)
company Project Manager- Data Center (Ref: JDB/EC-DCID)
 Got job role for this post Project Manager- Data Center (Ref: JDB/EC-DCID)
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id full-stack-web-developer-100003006585131
Job title is Full-stack Web Developer
company Full-stack Web Developer
 Got job role for this post Full-stack Web Developer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006585173
Job title is Data Analyst (12 month contract)
company Data Analyst (12 month contract)
 Got job role for this post Data Analyst (12 month contract)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-computational-scientist-100003006585143
Job title is Data Scientist / Computational Scientist
company Data Scientist / Computational Scientist
 Got job role for this post Data Scientist / Computational Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006585120
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-intelligence-executive-100003006585084
Job title is Database Intelligence Executive
company Database Intelligence Executive
 Got job role for this post Database Intelligence Executive
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006585056
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-analyst-100003006584823
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id market-data-administrator-100003006584626
Job title is Market Data Administrator (Investment Bank)
company Market Data Administrator (Investment Bank)
 Got job role for this post Market Data Administrator (Investment Bank)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analytics-manager-100003006584611
Job title is Data Analytics Manager
company Data Analytics Manager
 Got job role for this post Data Analytics Manager
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-entry-clerk-temporary-100003006584591

Job title is DATA ENTRY CLERK - TEMPORARY (AI/TDEC/JD)
company DATA ENTRY CLERK - TEMPORARY (AI/TDEC/JD)
 Got job role for this post DATA ENTRY CLERK - TEMPORARY (AI/TDEC/JD)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-management-officer-dpmo-100003006584386
Job title is Data Entry & Management Officer -DPMO (5 Days Work)
company Data Entry & Management Officer -DPMO (5 Days Work)
 Got job role for this post Data Entry & Management Officer -DPMO (5 Days Work)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-mining-data-analyst-central-100003006583807
Job title is Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
company Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
 Got job role for this post Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-entry-clerk-100003006584286
Job title is DATA ENTRY CLERK (3 months contract)
company DATA ENTRY CLERK (3 months contract)
 Got job role for this post DATA ENTRY CLERK (3 months contract)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id assistant-data-analyst-assistant-business-analyst-100003006584068
Job title is Assistant Data Analyst/Assistant Business Analyst (5-day work)
company Assistant Data Analyst/Assistant Business Analyst (5-day work)
 Got job role for this post Assistant Data Analyst/Assistant Business Analyst (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id property-officer-
Cant crawd some id
Now start to craw individual job id project-manager-100003006584035
Job title is Project  Manager(AM/M) (data center)(40K above)
company Project  Manager(AM/M) (data center)(40K above)
 Got job role for this post Project  Manager(AM/M) (data center)(40K above)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-technician-engineer-l1-l2-l3-team-lead-100003006584007
Job title is Data Center Technician/Engineer - L1/L2/L3/ Team Lead
company Data Center Technician/Engineer - L1/L2/L3/ Team Lead
 Got job role for this post Data Center Technician/Engineer - L1/L2/L3/ Team Lead
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analytics-am-senior-officer-100003006583783
Job title is Data Analytics (SAS experts preferred) - AM / Senior Officer
company Data Analytics (SAS experts preferred) - AM / Senior Officer
 Got job role for this post Data Analytics (SAS experts preferred) - AM / Senior Officer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manager-data-science-customer-insight-100003006583772
Job title is Assistant Manager, Data Science / Customer Insight
company Assistant Manager, Data Science / Customer Insight
 Got job role for this post Assistant Manager, Data Science / Customer Insight
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006583686
Job title is Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
company Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Got job role for this post Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id assistant-manager-data-management-100003006583620
Job title is Assistant Manager, Data Management
company Assistant Manager, Data Management
 Got job role for this post Assistant Manager, Data Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-center-operator-100003006583558
Job title is Data Center Operator (Top Tier Investment Bank)
company Data Center Operator (Top Tier Investment Bank)
 Got job role for this post Data Center Operator (Top Tier Investment Bank)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-100003006583542
Job title is Data Analyst (Insurtech, A.I., Permanent)
company Data Analyst (Insurtech, A.I., Permanent)
 Got job role for this post Data Analyst (Insurtech, A.I., Permanent)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id business-analyst-data-banking-contract-100003006583298
Job title is Business Analyst - Data 12 months renewable banking contract
company Business Analyst - Data 12 months renewable banking contract
 Got job role for this post Business Analyst - Data 12 months renewable banking contract
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-personal-data-officer-100003006582989
Job title is Assistant Personal Data Officer
company Assistant Personal Data Officer
 Got job role for this post Assistant Personal Data Officer
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006583009
Job title is Data Analyst (Financial Service)
company Data Analyst (Financial Service)
 Got job role for this post Data Analyst (Financial Service)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-input-clerk-100003006582854
Job title is Data Input Clerk
company Data Input Clerk
 Got job role for this post Data Input Clerk
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id vice-president-data-center-operation-100003006582746
Job title is Vice President – Data Center Operation
company Vice President – Data Center Operation
 Got job role for this post Vice President – Data Center Operation
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-database-administrator-chong-hing-securities-100003006582734
Job title is System & Database Administrator – Chong Hing Securities (UCHS)
company System & Database Administrator – Chong Hing Securities (UCHS)
 Got job role for this post System & Database Administrator – Chong Hing Securities (UCHS)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id junior-data-analyst-100003006582610
Job title is Junior Data Analyst (3-month Contract)
company Junior Data Analyst (3-month Contract)
 Got job role for this post Junior Data Analyst (3-month Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id financial-market-data-associate-100003006582555
Job title is Financial Market Data Associate
company Financial Market Data Associate
 Got job role for this post Financial Market Data Associate
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-marketing-manager-100003006582255
Job title is Data Marketing Manager (Customer Sector)
company Data Marketing Manager (Customer Sector)
 Got job role for this post Data Marketing Manager (Customer Sector)
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id database-administrator-100003006582045
Job title is Database Administrator 30-40K
company Database Administrator 30-40K
 Got job role for this post Database Administrator 30-40K
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-researcher-100003006582030
Job title is Data Researcher (Japanese Speaking)
company Data Researcher (Japanese Speaking)
 Got job role for this post Data Researcher (Japanese Speaking)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id sas-data-warehouse-basel-risk-management-database-marketing-business-planning-100003006581995
Job title is SAS Data Warehouse, BASEL, Risk Management, Database Marketing, Business Planning
company SAS Data Warehouse, BASEL, Risk Management, Database Marketing, Business Planning
 Got job role for this post SAS Data Warehouse, BASEL, Risk Management, Database Marketing, Business Planning
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id order-administration-coordinator-100003006581836

Job title is Order Administration Coordinator
company Order Administration Coordinator
 Got job role for this post Order Administration Coordinator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-data-analyst-100003006581830
Job title is Senior Data Analyst (Access / Excel) - up to 25k
company Senior Data Analyst (Access / Excel) - up to 25k
 Got job role for this post Senior Data Analyst (Access / Excel) - up to 25k
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id junior-research-analyst-research-analyst-100003006581729
Job title is Junior Research Analyst/Research Analyst
company Junior Research Analyst/Research Analyst
 Got job role for this post Junior Research Analyst/Research Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id customer-data-analyst-senior-customer-data-analyst-100003006581647
Job title is Customer Data Analyst / Senior Customer Data Analyst
company Customer Data Analyst / Senior Customer Data Analyst
 Got job role for this post Customer Data Analyst / Senior Customer Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id sales-manager-senior-sales-executive-100003006581612
Job title is Sales Manager/Senior Sales Executive
company Sales Manager/Senior Sales Executive
 Got job role for this post Sales Manager/Senior Sales Executive
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006581610
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id system-analyst-100003006581611
Job title is System Analyst
company System Analyst
 Got job role for this post System Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-entry-clerk-web-administrator-100003006581574
Job title is Data Entry Clerk / Web Administrator
company Data Entry Clerk / Web Administrator
 Got job role for this post Data Entry Clerk / Web Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id project-specialist-data-center-services-100003006581491
Job title is Project Specialist - Data Center Services (Ref:CMIJD-1024-PSIDCHK)
company Project Specialist - Data Center Services (Ref:CMIJD-1024-PSIDCHK)
 Got job role for this post Project Specialist - Data Center Services (Ref:CMIJD-1024-PSIDCHK)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-media-100003006581357
Job title is Data Scientist  - Media
company Data Scientist  - Media
 Got job role for this post Data Scientist  - Media
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-entry-clerk-100003006581339
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is N
 level is N
now to matching
Now start to craw individual job id ai-data-scientist-100003006581181
Job title is AI Data Scientist (Strong Programming Required - C++/Java/Python)
company AI Data Scientist (Strong Programming Required - C++/Java/Python)
 Got job role for this post AI Data Scientist (Strong Programming Required - C++/Java/Python)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id business-development-manager-data-center-cooling-100003006581152
Job title is Business Development Manager – Data Center Cooling
company Business Development Manager – Data Center Cooling
 Got job role for this post Business Development Manager – Data Center Cooling
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id avp-vp-data-governance-specialist-business-analyst-100003006581074
Job title is AVP/VP, Data Governance Specialist / Business Analyst
company AVP/VP, Data Governance Specialist / Business Analyst
 Got job role for this post AVP/VP, Data Governance Specialist / Business Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyzer-cantonese-native-speaker-100003006581061
Job title is Data Analyzer - Cantonese Native Speaker (Hong Kong)
company Data Analyzer - Cantonese Native Speaker (Hong Kong)
 Got job role for this post Data Analyzer - Cantonese Native Speaker (Hong Kong)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006581015
Job title is Data Analyst (Renewable Contract)
company Data Analyst (Renewable Contract)
 Got job role for this post Data Analyst (Renewable Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-facing-data-scientist-100003006581010
Job title is Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
company Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
 Got job role for this post Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006580978
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id advisory-data-analytics-data-engineer-100003006580674
Job title is Advisory - Data & Analytics - Data Engineer
company Advisory - Data & Analytics - Data Engineer
 Got job role for this post Advisory - Data & Analytics - Data Engineer
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id advisory-data-analytics-100003006580673
Job title is Advisory - Data & Analytics - Various Levels (Big Data Analytics)
company Advisory - Data & Analytics - Various Levels (Big Data Analytics)
 Got job role for this post Advisory - Data & Analytics - Various Levels (Big Data Analytics)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-
Cant crawd some id
Now start to craw individual job id business-analyst-customer-data-analyst-100003006580628
Job title is Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
company Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
 Got job role for this post Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id big-data-analytics-solution-sales-manager-100003006580282
Job title is Big data / Analytics - Solution Sales Manager – Base HK$ 30k-35K + commission
company Big data / Analytics - Solution Sales Manager – Base HK$ 30k-35K + commission
 Got job role for this post Big data / Analytics - Solution Sales Manager – Base HK$ 30k-35K + commission
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id sales-manager-data-business-100003006580519
Job title is Sales Manager, Data Business (CMIJD-1023-SMVBCB)
company Sales Manager, Data Business (CMIJD-1023-SMVBCB)
 Got job role for this post Sales Manager, Data Business (CMIJD-1023-SMVBCB)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-business-intelligence-and-customer-analytic-100003006580475
Job title is Data analyst – Business intelligence and customer analytic
company Data analyst – Business intelligence and customer analytic
 Got job role for this post Data analyst – Business intelligence and customer analytic
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-inputter-100003006580405
Job title is Data Inputter($7350-$7840)(1 year contract)
company Data Inputter($7350-$7840)(1 year contract)
 Got job role for this post Data Inputter($7350-$7840)(1 year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-director-data-analytics-100003006580326
Job title is Assistant Director - Data Analytics - HK$90k
company Assistant Director - Data Analytics - HK$90k
 Got job role for this post Assistant Director - Data Analytics - HK$90k
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id assistant-data-analytics-manager-100003006580028

Job title is Assistant Data Analytics Manager (FL)
company Assistant Data Analytics Manager (FL)
 Got job role for this post Assistant Data Analytics Manager (FL)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id manager-database-marketing-100003006579945
Job title is Manager, Database Marketing
company Manager, Database Marketing
 Got job role for this post Manager, Database Marketing
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-center-operator-100003006571544
Job title is Data Center Operator (many positions)
company Data Center Operator (many positions)
 Got job role for this post Data Center Operator (many positions)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-centre-operator-100003006579804
Job title is Data Centre Operator (Welcome Fresh graduates)
company Data Centre Operator (Welcome Fresh graduates)
 Got job role for this post Data Centre Operator (Welcome Fresh graduates)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-specialist-100003006579803
Job title is System Specialist (Data service system & Data Network)
company System Specialist (Data service system & Data Network)
 Got job role for this post System Specialist (Data service system & Data Network)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id big-data-analysis-100003006579470
Job title is Big Data Analysis（Market and Management Training）
company Big Data Analysis（Market and Management Training）
 Got job role for this post Big Data Analysis（Market and Management Training）
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id iot-engineer-100003006579334
Job title is IoT Engineer
company IoT Engineer
 Got job role for this post IoT Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id mechanical-engineer-100003006579305
Job title is Mechanical Engineer
company Mechanical Engineer
 Got job role for this post Mechanical Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id simulation-engineer-100003006579269
Job title is Simulation Engineer
company Simulation Engineer
 Got job role for this post Simulation Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id big-data-engineer-100003006579212
Job title is Big Data Engineer
company Big Data Engineer
 Got job role for this post Big Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-project-manager-ai-and-big-data-products-100003006579172
Job title is Technical Project Manager – AI and Big Data Products
company Technical Project Manager – AI and Big Data Products
 Got job role for this post Technical Project Manager – AI and Big Data Products
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id project-manager-100003006579089
Job title is Project Manager (Data Center)
company Project Manager (Data Center)
 Got job role for this post Project Manager (Data Center)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id technical-analyst-assistant-technical-analyst-data-centre-100003006579063
Job title is Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
company Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
 Got job role for this post Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id financial-data-analyst-100003006579060
Job title is Financial Data Analyst
company Financial Data Analyst
 Got job role for this post Financial Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id shipping-data-entry-clerk-100003006578974
Job title is Shipping / Data Entry Clerk - 5 Days
company Shipping / Data Entry Clerk - 5 Days
 Got job role for this post Shipping / Data Entry Clerk - 5 Days
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-and-applications-specialist-100003006578853
Job title is Database and Applications Specialist
company Database and Applications Specialist
 Got job role for this post Database and Applications Specialist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sales-manager-data-analytics-100003006578670
Job title is Sales Manager - Data & Analytics
company Sales Manager - Data & Analytics
 Got job role for this post Sales Manager - Data & Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id programmer-analyst-programmer-100003006578647
Job title is Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
company Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
 Got job role for this post Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006578609
Job title is Database Administrator (Secondment Service on DBA)
company Database Administrator (Secondment Service on DBA)
 Got job role for this post Database Administrator (Secondment Service on DBA)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id database-administrator-100003006571498
Job title is Database Administrator (MS SQL)
company Database Administrator (MS SQL)
 Got job role for this post Database Administrator (MS SQL)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id officer-master-data-management-it-projects-focus-100003006576285
Job title is Officer--Master Data Management -IT projects focus
company Officer--Master Data Management -IT projects focus
 Got job role for this post Officer--Master Data Management -IT projects focus
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id network-engineer-100003006578187
Job title is Network Engineer (CCNA/CCNP preferred)
company Network Engineer (CCNA/CCNP preferred)
 Got job role for this post Network Engineer (CCNA/CCNP preferred)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006578086
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-web-developer-web-developer-100003006578081
Job title is Senior Web Developer / Web Developer - 5 Days Work
company Senior Web Developer / Web Developer - 5 Days Work
 Got job role for this post Senior Web Developer / Web Developer - 5 Days Work
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id mobile-apps-developer-100003006578077
Job title is Mobile Apps Developer (iOS / Android) - 5 Days Work
company Mobile Apps Developer (iOS / Android) - 5 Days Work
 Got job role for this post Mobile Apps Developer (iOS / Android) - 5 Days Work
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id ui-designer-100003006578076
Job title is UI designer
company UI designer
 Got job role for this post UI designer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-manager-ict-expert-100003006577993
Job title is Senior Manager - ICT Expert ( AI, Big Data, Blockchain)
company Senior Manager - ICT Expert ( AI, Big Data, Blockchain)
 Got job role for this post Senior Manager - ICT Expert ( AI, Big Data, Blockchain)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manager-flight-data-analysis-100003006577962

Job title is Assistant Manager, Flight Data Analysis
company Assistant Manager, Flight Data Analysis
 Got job role for this post Assistant Manager, Flight Data Analysis
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analytics-manager-100003006577666
Job title is Data Analytics Manager (AI)
company Data Analytics Manager (AI)
 Got job role for this post Data Analytics Manager (AI)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-engineer-100003006577649
Job title is Data Engineer
company Data Engineer
 Got job role for this post Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-100003006577448
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sales-manager-100003006577413
Job title is Sales Manager (Data Solutions)
company Sales Manager (Data Solutions)
 Got job role for this post Sales Manager (Data Solutions)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-digital-platform-100003006577406
Job title is Data Scientist  - Digital Platform
company Data Scientist  - Digital Platform
 Got job role for this post Data Scientist  - Digital Platform
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-100003006577405
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-center-engineer-100003006577326
Job title is Data Center Engineer (Welcome Fresh Graduate)
company Data Center Engineer (Welcome Fresh Graduate)
 Got job role for this post Data Center Engineer (Welcome Fresh Graduate)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006577226
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006577223
Job title is Database Administrator (Oracle R12)
company Database Administrator (Oracle R12)
 Got job role for this post Database Administrator (Oracle R12)
 Exp is 3
 level is 3
now to matching
Cant crawd some id
Now start to craw individual job id data-business-analyst-100003006577188
Job title is Data Business Analyst
company Data Business Analyst
 Got job role for this post Data Business Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-business-analyst-100003006577175
Job title is Data Analyst/ Business Analyst
company Data Analyst/ Business Analyst
 Got job role for this post Data Analyst/ Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analytic-manager-enterprise-data-analytics-and-management-100003006576870
Job title is (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
company (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Got job role for this post (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006576729
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-security-engineer-100003006576690
Job title is Data/Security Engineer
company Data/Security Engineer
 Got job role for this post Data/Security Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-100003006576682
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id sales-support-manager-apac-global-data-analytics-leader-100003006576564
Job title is Sales Support Manager, APAC - Global Data Analytics Leader
company Sales Support Manager, APAC - Global Data Analytics Leader
 Got job role for this post Sales Support Manager, APAC - Global Data Analytics Leader
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id solution-consultant-senior-solution-engineer-solution-engineer-data-security-solution-100003006576288
Job title is Solution Consultant / Senior Solution Engineer /Solution Engineer, Data Security Solution
company Solution Consultant / Senior Solution Engineer /Solution Engineer, Data Security Solution
 Got job role for this post Solution Consultant / Senior Solution Engineer /Solution Engineer, Data Security Solution
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id solution-consultant-engineer-data-center-and-virtualization-platform-100003006576246
Job title is Solution Consultant/Engineer, Data Center and Virtualization Platform
company Solution Consultant/Engineer, Data Center and Virtualization Platform
 Got job role for this post Solution Consultant/Engineer, Data Center and Virtualization Platform
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id solution-consultant-data-center-virtualization-100003006576245
Job title is Solution Consultant, Data-Center Virtualization
company Solution Consultant, Data-Center Virtualization
 Got job role for this post Solution Consultant, Data-Center Virtualization
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id project-manager-datacenter-network-100003006576156
Job title is Project Manager – Datacenter & Network
company Project Manager – Datacenter & Network
 Got job role for this post Project Manager – Datacenter & Network
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id product-officer-senior-officer-100003006576146
Job title is Product Officer/ Senior Officer (AI/ Big Data/ Social Media)
company Product Officer/ Senior Officer (AI/ Big Data/ Social Media)
 Got job role for this post Product Officer/ Senior Officer (AI/ Big Data/ Social Media)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id research-engineer-big-data-100003006576135
Job title is Research Engineer – Big Data
company Research Engineer – Big Data
 Got job role for this post Research Engineer – Big Data
 Exp is N
 level is N
now to matching
Now start to craw individual job id senior-developer-ai-and-big-data-product-100003006576134
Job title is Senior Developer – AI and Big Data Product
company Senior Developer – AI and Big Data Product
 Got job role for this post Senior Developer – AI and Big Data Product
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-100003006576063
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-linguistic-project-manager-traditional-chinese-100003006576004
Job title is Senior Linguistic Project Manager - Traditional Chinese
company Senior Linguistic Project Manager - Traditional Chinese
 Got job role for this post Senior Linguistic Project Manager - Traditional Chinese
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id customer-data-analytics-manager-100003006575473
Job title is Customer Data Analytics Manager
company Customer Data Analytics Manager
 Got job role for this post Customer Data Analytics Manager
 Exp is N
 level is N
now to matching
Now start to craw individual job id database-programmer-100003006575290
Job title is Database Programmer
company Database Programmer
 Got job role for this post Database Programmer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id senior-business-strategy-manager-business-strategy-manager-100003006575025
Job title is Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
company Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Got job role for this post Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id project-manager-100003006563145

Job title is Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
company Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
 Got job role for this post Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-architect-leading-financial-institution-100003006574865
Job title is Data Architect - Leading Financial Institution
company Data Architect - Leading Financial Institution
 Got job role for this post Data Architect - Leading Financial Institution
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id account-manager-100003006574798
Job title is Account Manager
company Account Manager
 Got job role for this post Account Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006570225
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-100003006570217
Job title is Database Administrator (Oracle)
company Database Administrator (Oracle)
 Got job role for this post Database Administrator (Oracle)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-software-engineer-100003006574670
Job title is System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
company System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Got job role for this post System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-big-data-engineer-100003006574668
Job title is Data Scientists / AI Developer and Researcher / Big Data Engineer
company Data Scientists / AI Developer and Researcher / Big Data Engineer
 Got job role for this post Data Scientists / AI Developer and Researcher / Big Data Engineer
 Exp is N
 level is N
now to matching
Now start to craw individual job id market-data-specialist-financial-services-100003006574659
Job title is Market Data Specialist – Financial Services
company Market Data Specialist – Financial Services
 Got job role for this post Market Data Specialist – Financial Services
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id specialist-engineer-operator-sa-and-ap-100003006574616
Job title is Specialist & Engineer(Datacenter/ Middleware/ Mail/Unix)/ Operator /SA and AP(.Net/Web/Mobile/Java)
company Specialist & Engineer(Datacenter/ Middleware/ Mail/Unix)/ Operator /SA and AP(.Net/Web/Mobile/Java)
 Got job role for this post Specialist & Engineer(Datacenter/ Middleware/ Mail/Unix)/ Operator /SA and AP(.Net/Web/Mobile/Java)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id part-time-data-entry-clerk-100003006574581
Job title is Part Time Data Entry Clerk
company Part Time Data Entry Clerk
 Got job role for this post Part Time Data Entry Clerk
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-speech-analytics-100003006574358
Job title is Data - Speech Analytics
company Data - Speech Analytics
 Got job role for this post Data - Speech Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-engineer-100003006572765
Job title is Data Engineer
company Data Engineer
 Got job role for this post Data Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-centre-officer-manager-bank-100003006571815
Job title is Data Centre Officer/Manager @ Bank
company Data Centre Officer/Manager @ Bank
 Got job role for this post Data Centre Officer/Manager @ Bank
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-and-data-center-support-100003006570566
Job title is IT and Data Center Support (Ref: JDB/EIM/DCSU) 5-day work week
company IT and Data Center Support (Ref: JDB/EIM/DCSU) 5-day work week
 Got job role for this post IT and Data Center Support (Ref: JDB/EIM/DCSU) 5-day work week
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-100003006569099
Job title is Data Entry Clerk (1 year contract)
company Data Entry Clerk (1 year contract)
 Got job role for this post Data Entry Clerk (1 year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id online-marketing-specialist-100003006567262
Job title is Online Marketing Specialist
company Online Marketing Specialist
 Got job role for this post Online Marketing Specialist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id web-designer-100003006567239
Job title is Web Designer
company Web Designer
 Got job role for this post Web Designer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id major-bank-data-warehouse-bi-sa-ap-p-100003006573796
Job title is Major Bank: Data Warehouse / BI (Hyperion) - SA / AP / P  (Fresh Grad Welcome)
company Major Bank: Data Warehouse / BI (Hyperion) - SA / AP / P  (Fresh Grad Welcome)
 Got job role for this post Major Bank: Data Warehouse / BI (Hyperion) - SA / AP / P  (Fresh Grad Welcome)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id oracle-database-administrator-major-bank-100003006573263
Job title is Oracle Database Administrator (DBA) – Major Bank
company Oracle Database Administrator (DBA) – Major Bank
 Got job role for this post Oracle Database Administrator (DBA) – Major Bank
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-clerk-general-clerk-in-sha-tin-city-one-100003006574009
Job title is Data Entry Clerk / General Clerk in Sha Tin - City One (Ref: DC11150)
company Data Entry Clerk / General Clerk in Sha Tin - City One (Ref: DC11150)
 Got job role for this post Data Entry Clerk / General Clerk in Sha Tin - City One (Ref: DC11150)
 Exp is N
 level is N
now to matching
Now start to craw individual job id marketing-manager-customer-data-management-100003006573560
Job title is Marketing Manager - Customer Data Management
company Marketing Manager - Customer Data Management
 Got job role for this post Marketing Manager - Customer Data Management
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id temporary-data-entry-clerk-100003006573521
Job title is Temporary Data Entry Clerk
company Temporary Data Entry Clerk
 Got job role for this post Temporary Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id product-executive-100003006573488
Job title is (Senior) Product Executive (Private Network and Datacom)
company (Senior) Product Executive (Private Network and Datacom)
 Got job role for this post (Senior) Product Executive (Private Network and Datacom)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id product-manager-100003006573459
Job title is Product Manager (Data Networking)
company Product Manager (Data Networking)
 Got job role for this post Product Manager (Data Networking)
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-center-operator-technician-100003006573379
Job title is Data Center Operator/ Technician (5-day work)
company Data Center Operator/ Technician (5-day work)
 Got job role for this post Data Center Operator/ Technician (5-day work)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id clerk-100003006573241
Job title is Clerk (Data Entry)
company Clerk (Data Entry)
 Got job role for this post Clerk (Data Entry)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id freelancer-full-stack-web-developer-for-booking-system-creation-100003006573120

Job title is Freelancer - Full-stack Web Developer for Booking System creation
company Freelancer - Full-stack Web Developer for Booking System creation
 Got job role for this post Freelancer - Full-stack Web Developer for Booking System creation
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id ai-developer-100003006573009
Job title is AI Developer
company AI Developer
 Got job role for this post AI Developer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-products-program-manager-banking-contract-100003006572998
Job title is Data Products Program Manager - 1 year renewable banking contract
company Data Products Program Manager - 1 year renewable banking contract
 Got job role for this post Data Products Program Manager - 1 year renewable banking contract
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-analyst-100003006572993
Job title is Senior Analyst (AR and FP&A)
company Senior Analyst (AR and FP&A)
 Got job role for this post Senior Analyst (AR and FP&A)
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-scientist-100003006572798
Job title is Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
company Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
 Got job role for this post Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006572755
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id part-time-data-entry-100003006572702
Job title is Part Time Data Entry
company Part Time Data Entry
 Got job role for this post Part Time Data Entry
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manager-data-intelligence-management-100003006572627
Job title is Assistant Manager, Data Intelligence Management
company Assistant Manager, Data Intelligence Management
 Got job role for this post Assistant Manager, Data Intelligence Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-engineer-cyber-security-100003006572588
Job title is Data Engineer Cyber Security
company Data Engineer Cyber Security
 Got job role for this post Data Engineer Cyber Security
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id project-director-data-warehouse-100003006572496
Job title is Project Director, Data Warehouse (12 month contract)
company Project Director, Data Warehouse (12 month contract)
 Got job role for this post Project Director, Data Warehouse (12 month contract)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id infrastructure-analyst-international-company-100003006572339
Job title is Infrastructure Analyst (Database / DBA) - International Company (Contract)
company Infrastructure Analyst (Database / DBA) - International Company (Contract)
 Got job role for this post Infrastructure Analyst (Database / DBA) - International Company (Contract)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id manager-data-analytics-risk-assurance-hk-100003006572283
Job title is Manager - Data Analytics - Risk Assurance - HK
company Manager - Data Analytics - Risk Assurance - HK
 Got job role for this post Manager - Data Analytics - Risk Assurance - HK
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id clerk-data-entry-clerk-
Cant crawd some id
Now start to craw individual job id cem-data-analytics-consultant-100003006571944
Job title is CEM Data Analytics Consultant
company CEM Data Analytics Consultant
 Got job role for this post CEM Data Analytics Consultant
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006571958
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-inputter-100003006571941
Job title is Data Inputter($49/hour)(Renewable)
company Data Inputter($49/hour)(Renewable)
 Got job role for this post Data Inputter($49/hour)(Renewable)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id test-manager-etl-data-warehouse-100003006571921
Job title is Test Manager, ETL & data warehouse (12 month contract)
company Test Manager, ETL & data warehouse (12 month contract)
 Got job role for this post Test Manager, ETL & data warehouse (12 month contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-analyst-etl-data-warehouse-100003006571592
Job title is Business Analyst, ETL & Data Warehouse (12 month contract)
company Business Analyst, ETL & Data Warehouse (12 month contract)
 Got job role for this post Business Analyst, ETL & Data Warehouse (12 month contract)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-
Cant crawd some id
Now start to craw individual job id data-analyst-top-tier-gaming-company-100003006571461
Job title is Data Analyst (Business Intelligence) - Top Tier Gaming Company
company Data Analyst (Business Intelligence) - Top Tier Gaming Company
 Got job role for this post Data Analyst (Business Intelligence) - Top Tier Gaming Company
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-operator-technician-100003006571434
Job title is Data Center Operator/Technician
company Data Center Operator/Technician
 Got job role for this post Data Center Operator/Technician
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id legal-officer-100003006571226
Job title is Legal Officer
company Legal Officer
 Got job role for this post Legal Officer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-100003006571230
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id senior-manager-vice-president-service-management-100003006571203
Job title is Senior Manager / Vice President - Service Management ( Data Centre )
company Senior Manager / Vice President - Service Management ( Data Centre )
 Got job role for this post Senior Manager / Vice President - Service Management ( Data Centre )
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id marketing-executive-assistant-100003006571173
Job title is Marketing Executive / Assistant (5 days / Kwai Chung)
company Marketing Executive / Assistant (5 days / Kwai Chung)
 Got job role for this post Marketing Executive / Assistant (5 days / Kwai Chung)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id business-development-executive-100003006570576
Job title is Business Development Executive
company Business Development Executive
 Got job role for this post Business Development Executive
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id product-manager-100003006570729
Job title is Product Manager (Big Data Operation and Marketing)
company Product Manager (Big Data Operation and Marketing)
 Got job role for this post Product Manager (Big Data Operation and Marketing)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-data-manager-100003006570724
Job title is Senior Data Manager (Data Scientist)
company Senior Data Manager (Data Scientist)
 Got job role for this post Senior Data Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id san-storage-data-backup-administrator-100003006570663
Job title is SAN Storage & Data Backup Administrator
company SAN Storage & Data Backup Administrator
 Got job role for this post SAN Storage & Data Backup Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-architect-100003006570641

Job title is Data Architect (Global Transaction Banking)
company Data Architect (Global Transaction Banking)
 Got job role for this post Data Architect (Global Transaction Banking)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-devops-database-infrastructure-specialist-hsbc-operations-services-and-technology-100003006570442
Job title is Senior DevOps Database Infrastructure Specialist - HSBC Operations, Services and Technology
company Senior DevOps Database Infrastructure Specialist - HSBC Operations, Services and Technology
 Got job role for this post Senior DevOps Database Infrastructure Specialist - HSBC Operations, Services and Technology
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id junior-data-scientist-100003006570428
Job title is Junior Data Scientist
company Junior Data Scientist
 Got job role for this post Junior Data Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-centre-engineer-100003006570417
Job title is Data Centre Engineer (Facilities Management, 3 shifts)
company Data Centre Engineer (Facilities Management, 3 shifts)
 Got job role for this post Data Centre Engineer (Facilities Management, 3 shifts)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analytic-executive-100003006570347
Job title is Data Analytic Executive
company Data Analytic Executive
 Got job role for this post Data Analytic Executive
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id customer-service-executive-100003006569846
Job title is Customer Service Executive
company Customer Service Executive
 Got job role for this post Customer Service Executive
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006569789
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-100003006569183
Job title is Data Entry
company Data Entry
 Got job role for this post Data Entry
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006568881
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006568351
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id officer-corporate-development-100003006567629
Job title is Officer - Corporate Development (Data Management)
company Officer - Corporate Development (Data Management)
 Got job role for this post Officer - Corporate Development (Data Management)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-analyst-100003006568384
Job title is ( Senior ) Data Analyst x 2
company ( Senior ) Data Analyst x 2
 Got job role for this post ( Senior ) Data Analyst x 2
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id assistant-officer-to-senior-officer-business-and-big-data-management-internet-finance-department-100003006568472
Job title is Assistant Officer to Senior Officer, Business and Big Data Management - Internet Finance Department
company Assistant Officer to Senior Officer, Business and Big Data Management - Internet Finance Department
 Got job role for this post Assistant Officer to Senior Officer, Business and Big Data Management - Internet Finance Department
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id account-manager-global-leader-in-commercial-data-and-analytics-100003006568424
Job title is Account Manager-Global Leader in Commercial Data and Analytics
company Account Manager-Global Leader in Commercial Data and Analytics
 Got job role for this post Account Manager-Global Leader in Commercial Data and Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-uploading-assistant-temp-clerk-100003006568377
Job title is Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
company Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
 Got job role for this post Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id market-data-specialist-financial-services-100003006568373
Job title is Market Data Specialist – Financial Services
company Market Data Specialist – Financial Services
 Got job role for this post Market Data Specialist – Financial Services
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-science-100003006568160
Job title is Data Science
company Data Science
 Got job role for this post Data Science
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id analyst-programmer-senior-analyst-programmer-100003006568153
Job title is Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
company Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
 Got job role for this post Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id business-analyst-data-banking-100003006568100
Job title is Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
company Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
 Got job role for this post Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-fmcg-100003006568096
Job title is Data Analyst- FMCG
company Data Analyst- FMCG
 Got job role for this post Data Analyst- FMCG
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006568075
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id market-data-analyst-100003006568054
Job title is Market Data Analyst
company Market Data Analyst
 Got job role for this post Market Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-manager-100003006567980
Job title is IT Manager (Data Warehouse and BI)
company IT Manager (Data Warehouse and BI)
 Got job role for this post IT Manager (Data Warehouse and BI)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id on-site-system-engineer-100003006567835
Job title is On-site System Engineer (IT Support)
company On-site System Engineer (IT Support)
 Got job role for this post On-site System Engineer (IT Support)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006567765
Job title is Data Analyst (5-day work)
company Data Analyst (5-day work)
 Got job role for this post Data Analyst (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-clerk-100003006567715
Job title is DATA ENTRY CLERK
company DATA ENTRY CLERK
 Got job role for this post DATA ENTRY CLERK
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-big-data-platform-100003006567634
Job title is System Analyst / Analyst Programmer - Big Data Platform
company System Analyst / Analyst Programmer - Big Data Platform
 Got job role for this post System Analyst / Analyst Programmer - Big Data Platform
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id manager-analytics-transformation-and-customer-relationship-management-100003006563957

Job title is Manager Analytics Transformation and Customer Relationship Management (Big Data Management)
company Manager Analytics Transformation and Customer Relationship Management (Big Data Management)
 Got job role for this post Manager Analytics Transformation and Customer Relationship Management (Big Data Management)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id network-operations-engineer-100003006567272
Job title is Network Operations Engineer (Data Centre)
company Network Operations Engineer (Data Centre)
 Got job role for this post Network Operations Engineer (Data Centre)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id junior-data-analyst-100003006567045
Job title is Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
company Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
 Got job role for this post Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id media-datacenter-operator-
Cant crawd some id
Now start to craw individual job id customer-support-executive-customer-liaison-officer-100003006566683
Job title is Customer Support Executive / Customer Liaison Officer
company Customer Support Executive / Customer Liaison Officer
 Got job role for this post Customer Support Executive / Customer Liaison Officer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id assistant-accountant-100003006566664
Job title is Assistant Accountant
company Assistant Accountant
 Got job role for this post Assistant Accountant
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id assistant-accountant-100003006566619
Job title is Assistant Accountant (Contract)
company Assistant Accountant (Contract)
 Got job role for this post Assistant Accountant (Contract)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-data-analytics-100003006566616
Job title is Associate - Data & Analytics
company Associate - Data & Analytics
 Got job role for this post Associate - Data & Analytics
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id sales-data-analysis-assistant-100003006566487
Job title is Sales Data Analysis Assistant (5-day work)
company Sales Data Analysis Assistant (5-day work)
 Got job role for this post Sales Data Analysis Assistant (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id avp-data-warehouse-100003006566412
Job title is AVP Data Warehouse (Financial Institute; Qlikview; 65K)
company AVP Data Warehouse (Financial Institute; Qlikview; 65K)
 Got job role for this post AVP Data Warehouse (Financial Institute; Qlikview; 65K)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-centre-operations-engineer-100003006566358
Job title is Data Centre Operations Engineer
company Data Centre Operations Engineer
 Got job role for this post Data Centre Operations Engineer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id manager-assistant-manager-100003006566087
Job title is Manager / Assistant Manager (CRM Database Management)
company Manager / Assistant Manager (CRM Database Management)
 Got job role for this post Manager / Assistant Manager (CRM Database Management)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id senior-manager-100003006566081
Job title is Senior Manager (CRM Database Management)
company Senior Manager (CRM Database Management)
 Got job role for this post Senior Manager (CRM Database Management)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-python-100003006566004
Job title is Senior Data Analyst / Data Analyst - Python
company Senior Data Analyst / Data Analyst - Python
 Got job role for this post Senior Data Analyst / Data Analyst - Python
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-in-the-department-of-geography-100003006563260
Job title is Data Analyst (at the rank of IT Technician) in the Department of Geography
company Data Analyst (at the rank of IT Technician) in the Department of Geography
 Got job role for this post Data Analyst (at the rank of IT Technician) in the Department of Geography
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-100003006565603
Job title is Database Administrator ( 5-Day Work )
company Database Administrator ( 5-Day Work )
 Got job role for this post Database Administrator ( 5-Day Work )
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-operator-100003006555616
Job title is Data Center Operator (up to $18K, Non-overnight shift)
company Data Center Operator (up to $18K, Non-overnight shift)
 Got job role for this post Data Center Operator (up to $18K, Non-overnight shift)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-audit-manager-global-hotel-100003006562483
Job title is IT Audit Manager – Global Hotel (Data Analytics)
company IT Audit Manager – Global Hotel (Data Analytics)
 Got job role for this post IT Audit Manager – Global Hotel (Data Analytics)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id head-of-data-driven-marketing-100003006565069
Job title is Head of Data Driven Marketing
company Head of Data Driven Marketing
 Got job role for this post Head of Data Driven Marketing
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id account-manager-100003006564787
Job title is Account Manager
company Account Manager
 Got job role for this post Account Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id marketing-executives-100003006564765
Job title is Marketing Executives
company Marketing Executives
 Got job role for this post Marketing Executives
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-center-operator-100003006564580
Job title is Data Center Operator (Windows / Unix / Network operation)
company Data Center Operator (Windows / Unix / Network operation)
 Got job role for this post Data Center Operator (Windows / Unix / Network operation)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id associate-markets-100003006564546
Job title is Associate – Markets (Market Data – Connectivity Project and Support) (for a 12-month contract)
company Associate – Markets (Market Data – Connectivity Project and Support) (for a 12-month contract)
 Got job role for this post Associate – Markets (Market Data – Connectivity Project and Support) (for a 12-month contract)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id trainee-analyst-ifrs-100003006564209
Job title is Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
company Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
 Got job role for this post Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id account-manager-account-executive-100003006564163
Job title is Account Manager / Account Executive (5 days / Kwai Chung)
company Account Manager / Account Executive (5 days / Kwai Chung)
 Got job role for this post Account Manager / Account Executive (5 days / Kwai Chung)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id sales-marketing-assistant-100003006563964
Job title is Sales & Marketing Assistant (5 days / Kwai Chung)
company Sales & Marketing Assistant (5 days / Kwai Chung)
 Got job role for this post Sales & Marketing Assistant (5 days / Kwai Chung)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id fund-data-relationship-associate-manager-100003006563395
Job title is Fund Data Relationship Associate/Manager
company Fund Data Relationship Associate/Manager
 Got job role for this post Fund Data Relationship Associate/Manager
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-technician-100003006563237

Job title is Data Center Technician (Hong Kong)
company Data Center Technician (Hong Kong)
 Got job role for this post Data Center Technician (Hong Kong)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-specialist-100003006563236
Job title is Data Center Specialist (Hong Kong)
company Data Center Specialist (Hong Kong)
 Got job role for this post Data Center Specialist (Hong Kong)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-science-analyst-associate-data-scientist-100003006563125
Job title is Data Science Analyst / Associate Data Scientist
company Data Science Analyst / Associate Data Scientist
 Got job role for this post Data Science Analyst / Associate Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006562807
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-100003006562657
Job title is DATA ENTRY CLERK
company DATA ENTRY CLERK
 Got job role for this post DATA ENTRY CLERK
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id crm-executive-100003006562424
Job title is CRM Executive (Data Analysis & Loyalty Program)
company CRM Executive (Data Analysis & Loyalty Program)
 Got job role for this post CRM Executive (Data Analysis & Loyalty Program)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id account-manager-business-development-from-fruitful-database-corporate-solutions-service-provider-100003006558996
Job title is Account Manager – Business Development from Fruitful Database, Corporate Solutions Service Provider
company Account Manager – Business Development from Fruitful Database, Corporate Solutions Service Provider
 Got job role for this post Account Manager – Business Development from Fruitful Database, Corporate Solutions Service Provider
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006561991
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id market-data-specialist-financial-services-100003006561754
Job title is Market Data Specialist – Financial Services
company Market Data Specialist – Financial Services
 Got job role for this post Market Data Specialist – Financial Services
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006561659
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id software-developer-100003006561340
Job title is Software Developer
company Software Developer
 Got job role for this post Software Developer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analytics-engineer-100003006561425
Job title is Data Analytics Engineer
company Data Analytics Engineer
 Got job role for this post Data Analytics Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id database-administrator-100003006561407
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id analyst-programmer-100003006560835
Job title is Analyst Programmer (Data/ Business Intelligence)
company Analyst Programmer (Data/ Business Intelligence)
 Got job role for this post Analyst Programmer (Data/ Business Intelligence)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id administration-officer-100003006560745
Job title is ADMINISTRATION OFFICER
company ADMINISTRATION OFFICER
 Got job role for this post ADMINISTRATION OFFICER
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-qa-specialist-it-support-database-administrator-100003006560352
Job title is System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
company System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
 Got job role for this post System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id specialist-crm-database-management-100003006559440
Job title is Specialist - CRM Database Management
company Specialist - CRM Database Management
 Got job role for this post Specialist - CRM Database Management
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-100003006559569
Job title is Senior Data Analyst / Data Analyst
company Senior Data Analyst / Data Analyst
 Got job role for this post Senior Data Analyst / Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id gis-data-operator-100003006559111
Job title is GIS Data Operator
company GIS Data Operator
 Got job role for this post GIS Data Operator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id lead-programmer-etl-and-data-modelling-100003006549453
Job title is Lead Programmer - ETL and Data Modelling
company Lead Programmer - ETL and Data Modelling
 Got job role for this post Lead Programmer - ETL and Data Modelling
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-center-operator-100003006552058
Job title is Data Center Operator
company Data Center Operator
 Got job role for this post Data Center Operator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006554620
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-100003006554606
Job title is Database Administrator (Oracle)
company Database Administrator (Oracle)
 Got job role for this post Database Administrator (Oracle)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id major-bank-data-warehouse-bi-sa-ap-p-100003006555521
Job title is Major Bank: Data Warehouse / BI (Cognos) - SA / AP / P  (Fresh Grad Welcome)
company Major Bank: Data Warehouse / BI (Cognos) - SA / AP / P  (Fresh Grad Welcome)
 Got job role for this post Major Bank: Data Warehouse / BI (Cognos) - SA / AP / P  (Fresh Grad Welcome)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-100003006558596
Job title is Data Scientists / AI Developer and Researcher (Big Data)
company Data Scientists / AI Developer and Researcher (Big Data)
 Got job role for this post Data Scientists / AI Developer and Researcher (Big Data)
 Exp is N
 level is N
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-software-engineer-100003006558560
Job title is System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
company System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Got job role for this post System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id online-marketing-specialist-100003006556215
Job title is Online Marketing Specialist
company Online Marketing Specialist
 Got job role for this post Online Marketing Specialist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id web-designer-100003006556200

Job title is Web Designer
company Web Designer
 Got job role for this post Web Designer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-100003006552974
Job title is Data Entry Clerk (1 year contract)
company Data Entry Clerk (1 year contract)
 Got job role for this post Data Entry Clerk (1 year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-data-analyst-100003006558187
Job title is Customer Data Analyst
company Customer Data Analyst
 Got job role for this post Customer Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006558180
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id db2-database-administrator-major-bank-100003006557233
Job title is DB2 Database Administrator (DBA) – Major Bank
company DB2 Database Administrator (DBA) – Major Bank
 Got job role for this post DB2 Database Administrator (DBA) – Major Bank
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientists-for-big-data-project-ai-major-bank-100003006555543
Job title is Data Scientists: for Big Data Project & AI - Major Bank
company Data Scientists: for Big Data Project & AI - Major Bank
 Got job role for this post Data Scientists: for Big Data Project & AI - Major Bank
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analytics-analyst-100003006558047
Job title is Data Analytics Analyst
company Data Analytics Analyst
 Got job role for this post Data Analytics Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id business-intelligence-data-warehouse-developer-100003006557850
Job title is Business Intelligence / Data Warehouse Developer (ETL)
company Business Intelligence / Data Warehouse Developer (ETL)
 Got job role for this post Business Intelligence / Data Warehouse Developer (ETL)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-100003006557665
Job title is Data Entry Clerk (歡迎大學生/專上院校學生) (Full Time/ Part Time)
company Data Entry Clerk (歡迎大學生/專上院校學生) (Full Time/ Part Time)
 Got job role for this post Data Entry Clerk (歡迎大學生/專上院校學生) (Full Time/ Part Time)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-solutions-consultant-cloud-data-center-solution-mnc-100003006557466
Job title is Senior Solutions Consultant - Cloud & Data Center Solution MNC
company Senior Solutions Consultant - Cloud & Data Center Solution MNC
 Got job role for this post Senior Solutions Consultant - Cloud & Data Center Solution MNC
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id dba-database-administrator-banking-100003006557220
Job title is DBA / Database Administrator - Banking
company DBA / Database Administrator - Banking
 Got job role for this post DBA / Database Administrator - Banking
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id regional-health-data-analyst-100003006556969
Job title is Regional Health Data Analyst
company Regional Health Data Analyst
 Got job role for this post Regional Health Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-center-project-manager-100003006556954
Job title is Data Center Project Manager
company Data Center Project Manager
 Got job role for this post Data Center Project Manager
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-series-a-startup-equity-offered-100003006556896
Job title is Data Scientist, Series A startup, equity offered
company Data Scientist, Series A startup, equity offered
 Got job role for this post Data Scientist, Series A startup, equity offered
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id technical-support-100003006556750
Job title is Technical Support (Data Center)
company Technical Support (Data Center)
 Got job role for this post Technical Support (Data Center)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-clerk-100003006556666
Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analytic-manager-enterprise-data-analytics-and-management-100003006556665
Job title is (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
company (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Got job role for this post (Senior) Data Analytic Manager, Enterprise Data Analytics and Management
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-administrator-100003006556445
Job title is Data Administrator (BASED IN ZHUHAI)
company Data Administrator (BASED IN ZHUHAI)
 Got job role for this post Data Administrator (BASED IN ZHUHAI)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006556419
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id e-commerce-data-management-intern-100003006555683
Job title is E-Commerce Data Management Intern (5 Day Work, Central)
company E-Commerce Data Management Intern (5 Day Work, Central)
 Got job role for this post E-Commerce Data Management Intern (5 Day Work, Central)
 Exp is N
 level is N
now to matching
Now start to craw individual job id relationship-executive-100003006556211
Job title is Relationship Executive (working location: HK Science Park)
company Relationship Executive (working location: HK Science Park)
 Got job role for this post Relationship Executive (working location: HK Science Park)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id full-stack-developer-100003006556162
Job title is Full Stack Developer (Java / Python / Javascript)
company Full Stack Developer (Java / Python / Javascript)
 Got job role for this post Full Stack Developer (Java / Python / Javascript)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id assistant-engineer-100003006556253
Job title is Assistant Engineer (Data Network Operations)
company Assistant Engineer (Data Network Operations)
 Got job role for this post Assistant Engineer (Data Network Operations)
 Exp is N
 level is N
now to matching
Now start to craw individual job id database-consultant-database-support-engineer-100003006556141
Job title is Database Consultant / Database Support Engineer
company Database Consultant / Database Support Engineer
 Got job role for this post Database Consultant / Database Support Engineer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-centre-engineer-100003006555957
Job title is Data Centre Engineer (Facilities Management)
company Data Centre Engineer (Facilities Management)
 Got job role for this post Data Centre Engineer (Facilities Management)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id business-development-manager-virtual-data-rooms-100003006555923
Job title is Business Development Manager - Virtual Data Rooms
company Business Development Manager - Virtual Data Rooms
 Got job role for this post Business Development Manager - Virtual Data Rooms
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-business-analyst-100003006555814
Job title is Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
company Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
 Got job role for this post Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id associate-data-and-analytics-100003006555591
Job title is Associate, Data and Analytics (Hong Kong)
company Associate, Data and Analytics (Hong Kong)
 Got job role for this post Associate, Data and Analytics (Hong Kong)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-clerk-100003006555575

Job title is Data Entry Clerk
company Data Entry Clerk
 Got job role for this post Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id part-time-data-entry-clerk-exhibition-helper-100003006555254
Job title is Part Time Data Entry Clerk + Exhibition Helper
company Part Time Data Entry Clerk + Exhibition Helper
 Got job role for this post Part Time Data Entry Clerk + Exhibition Helper
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-e-commerce-manager-system-and-database-100003006554794
Job title is Assistant E-Commerce Manager, System and Database (1 year contract)
company Assistant E-Commerce Manager, System and Database (1 year contract)
 Got job role for this post Assistant E-Commerce Manager, System and Database (1 year contract)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sql-database-developer-100003006554743
Job title is SQL Database Developer
company SQL Database Developer
 Got job role for this post SQL Database Developer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-centre-operator-100003006554742
Job title is Data Centre Operator
company Data Centre Operator
 Got job role for this post Data Centre Operator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-data-marketing-manager-100003006554699
Job title is Customer Data Marketing Manager
company Customer Data Marketing Manager
 Got job role for this post Customer Data Marketing Manager
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id asp-data-science-hsbc-operations-services-and-technology-100003006554625
Job title is ASP Data Science - HSBC Operations, Services and Technology
company ASP Data Science - HSBC Operations, Services and Technology
 Got job role for this post ASP Data Science - HSBC Operations, Services and Technology
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id assistant-data-analyst-100003006554520
Job title is ASSISTANT DATA ANALYST
company ASSISTANT DATA ANALYST
 Got job role for this post ASSISTANT DATA ANALYST
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-management-manager-retail-banking-and-wealth-management-100003006554103
Job title is Data Management Manager - Retail Banking and Wealth Management
company Data Management Manager - Retail Banking and Wealth Management
 Got job role for this post Data Management Manager - Retail Banking and Wealth Management
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id etl-data-warehouse-specialist-banking-projects-100003006554112
Job title is ETL/Data Warehouse Specialist - Banking Projects
company ETL/Data Warehouse Specialist - Banking Projects
 Got job role for this post ETL/Data Warehouse Specialist - Banking Projects
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-entry-clerk-insurance-100003006553829
Job title is Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181012)
company Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181012)
 Got job role for this post Data Entry Clerk - Insurance (Ref.: JDB/SDMA/FAQA/20181012)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id officer-distribution-channel-data-management-100003006553593
Job title is Officer, Distribution Channel - Data Management
company Officer, Distribution Channel - Data Management
 Got job role for this post Officer, Distribution Channel - Data Management
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-it-specialist-100003006553104
Job title is Senior IT Specialist (Database) (Ref: IT-ITNT-SI-ITS-JD)
company Senior IT Specialist (Database) (Ref: IT-ITNT-SI-ITS-JD)
 Got job role for this post Senior IT Specialist (Database) (Ref: IT-ITNT-SI-ITS-JD)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-operation-engineer-100003006544215
Job title is Data Center Operation Engineer
company Data Center Operation Engineer
 Got job role for this post Data Center Operation Engineer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006551082
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-it-infrastructure-specialist-100003006552578
Job title is Senior/IT Infrastructure Specialist (System & Data Management)
company Senior/IT Infrastructure Specialist (System & Data Management)
 Got job role for this post Senior/IT Infrastructure Specialist (System & Data Management)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-senior-system-specialist-it-manager-database-100003006552555
Job title is Database Administrator/ Senior System Specialist/ IT Manager – database
company Database Administrator/ Senior System Specialist/ IT Manager – database
 Got job role for this post Database Administrator/ Senior System Specialist/ IT Manager – database
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-standards-manager-project-coordinator-100003006552472
Job title is Data Standards Manager/ Project Coordinator (Global Banking, Project Management, Contract)
company Data Standards Manager/ Project Coordinator (Global Banking, Project Management, Contract)
 Got job role for this post Data Standards Manager/ Project Coordinator (Global Banking, Project Management, Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-market-analyst-100003006552430
Job title is Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
company Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
 Got job role for this post Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-market-analyst-100003006552243
Job title is Data Analyst/ Market Analyst ($18K-$35K)
company Data Analyst/ Market Analyst ($18K-$35K)
 Got job role for this post Data Analyst/ Market Analyst ($18K-$35K)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006552210
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-center-operator-100003006552075
Job title is DATA CENTER OPERATOR (WORK LOCATION: MACAU) (REF. NO.:14001211)
company DATA CENTER OPERATOR (WORK LOCATION: MACAU) (REF. NO.:14001211)
 Got job role for this post DATA CENTER OPERATOR (WORK LOCATION: MACAU) (REF. NO.:14001211)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-team-intern-100003006551934
Job title is Data Team Intern
company Data Team Intern
 Got job role for this post Data Team Intern
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-specialist-100003006551914
Job title is Data Specialist
company Data Specialist
 Got job role for this post Data Specialist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id application-developer-data-system-100003006551923
Job title is Application Developer - Data System
company Application Developer - Data System
 Got job role for this post Application Developer - Data System
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id part-time-data-entry-marketing-department-100003006551865
Job title is Part time data entry – Marketing Department (兼職資料輸入 – 市場部)
company Part time data entry – Marketing Department (兼職資料輸入 – 市場部)
 Got job role for this post Part time data entry – Marketing Department (兼職資料輸入 – 市場部)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id digital-project-coordinator-100003006550645

Job title is DIGITAL PROJECT COORDINATOR (THAI SPEAKING)
company DIGITAL PROJECT COORDINATOR (THAI SPEAKING)
 Got job role for this post DIGITAL PROJECT COORDINATOR (THAI SPEAKING)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-consultant-database-100003006551711
Job title is TECHNICAL CONSULTANT - DATABASE (MS SQL / ORACLE)
company TECHNICAL CONSULTANT - DATABASE (MS SQL / ORACLE)
 Got job role for this post TECHNICAL CONSULTANT - DATABASE (MS SQL / ORACLE)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id cloud-data-business-analyst-100003006551605
Job title is Cloud Data Business Analyst
company Cloud Data Business Analyst
 Got job role for this post Cloud Data Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id lead-data-architect-100003006551260
Job title is Lead Data Architect
company Lead Data Architect
 Got job role for this post Lead Data Architect
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-remediation-analyst-retail-banking-and-wealth-management-100003006551148
Job title is Data Remediation Analyst - Retail Banking and Wealth Management
company Data Remediation Analyst - Retail Banking and Wealth Management
 Got job role for this post Data Remediation Analyst - Retail Banking and Wealth Management
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-engineer-100003006550897
Job title is Data Engineer
company Data Engineer
 Got job role for this post Data Engineer
 Exp is N
 level is N
now to matching
Now start to craw individual job id 2018-global-data-market-data-analyst-hong-kong-100003006550740
Job title is 2018 Global Data - Market Data Analyst - Hong Kong
company 2018 Global Data - Market Data Analyst - Hong Kong
 Got job role for this post 2018 Global Data - Market Data Analyst - Hong Kong
 Exp is N
 level is N
now to matching
Now start to craw individual job id senior-data-scientist-100003006550693
Job title is Senior Data Scientist
company Senior Data Scientist
 Got job role for this post Senior Data Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-engineer-data-architect-100003006550688
Job title is Senior Data Engineer / Data Architect
company Senior Data Engineer / Data Architect
 Got job role for this post Senior Data Engineer / Data Architect
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-engineer-cyber-security-100003006550682
Job title is Data Engineer Cyber Security
company Data Engineer Cyber Security
 Got job role for this post Data Engineer Cyber Security
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id it-data-officer-assistant-100003006550607
Job title is IT Data Officer / Assistant (Ref:DBISL/DOA/JDB/02)
company IT Data Officer / Assistant (Ref:DBISL/DOA/JDB/02)
 Got job role for this post IT Data Officer / Assistant (Ref:DBISL/DOA/JDB/02)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id db2-database-developer-top-tier-bank-100003006550304
Job title is (Senior) DB2 Database Developer - Top Tier Bank - 50k
company (Senior) DB2 Database Developer - Top Tier Bank - 50k
 Got job role for this post (Senior) DB2 Database Developer - Top Tier Bank - 50k
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-investment-bank-100003006549141
Job title is Data Analyst – Investment Bank (Ref. No. : 22794)
company Data Analyst – Investment Bank (Ref. No. : 22794)
 Got job role for this post Data Analyst – Investment Bank (Ref. No. : 22794)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-service-executive-100003006550057
Job title is Customer Service Executive
company Customer Service Executive
 Got job role for this post Customer Service Executive
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id accounting-administrative-officer-100003006550055
Job title is Accounting & Administrative Officer
company Accounting & Administrative Officer
 Got job role for this post Accounting & Administrative Officer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id ai-developers-programmers-100003006550054
Job title is AI Developers / Programmers
company AI Developers / Programmers
 Got job role for this post AI Developers / Programmers
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006546520
Job title is ( Senior ) Data Analyst
company ( Senior ) Data Analyst
 Got job role for this post ( Senior ) Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id datawarehousing-project-manager-100003006549904
Job title is Datawarehousing Project Manager
company Datawarehousing Project Manager
 Got job role for this post Datawarehousing Project Manager
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006549845
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id consultant-100003006549797
Job title is Consultant ( BI / Data warehouse )
company Consultant ( BI / Data warehouse )
 Got job role for this post Consultant ( BI / Data warehouse )
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-center-team-lead-global-cloud-provider-100003006549066
Job title is Data Center Team Lead - Global Cloud Provider
company Data Center Team Lead - Global Cloud Provider
 Got job role for this post Data Center Team Lead - Global Cloud Provider
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-centre-operations-engineer-100003006549566
Job title is Data Centre Operations Engineer
company Data Centre Operations Engineer
 Got job role for this post Data Centre Operations Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-engineer-100003006549361
Job title is Data Engineer
company Data Engineer
 Got job role for this post Data Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id infrastructure-administrator-retail-bank-100003006549071
Job title is Infrastructure Administrator (Database & Storage) – Retail Bank
company Infrastructure Administrator (Database & Storage) – Retail Bank
 Got job role for this post Infrastructure Administrator (Database & Storage) – Retail Bank
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id head-of-data-driven-marketing-virtual-banking-100003006548952
Job title is Head of Data Driven Marketing - Virtual Banking
company Head of Data Driven Marketing - Virtual Banking
 Got job role for this post Head of Data Driven Marketing - Virtual Banking
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-processing-clerk-it-100003006548862
Job title is Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
company Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
 Got job role for this post Data Processing Clerk - IT (Ref: DATACLK/JD/201810)
 Exp is N
 level is N
now to matching
Now start to craw individual job id senior-data-analyst-100003006548763
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-application-consultant-erp-100003006548756
Job title is Senior Application Consultant - ERP (5 days / Kwai Chung)
company Senior Application Consultant - ERP (5 days / Kwai Chung)
 Got job role for this post Senior Application Consultant - ERP (5 days / Kwai Chung)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id business-manager-product-manager-hrm-100003006548745
Job title is Business Manager / Product Manager - HRM (5 days / Kwai Chung)
company Business Manager / Product Manager - HRM (5 days / Kwai Chung)
 Got job role for this post Business Manager / Product Manager - HRM (5 days / Kwai Chung)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-manager-data-center-service-management-100003006548708

Job title is Senior Manager – Data Center Service Management
company Senior Manager – Data Center Service Management
 Got job role for this post Senior Manager – Data Center Service Management
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-specialist-engineer-100003006548385
Job title is System Specialist / Engineer
company System Specialist / Engineer
 Got job role for this post System Specialist / Engineer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id channel-account-manager-100003006548386
Job title is Channel Account Manager
company Channel Account Manager
 Got job role for this post Channel Account Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-entry-clerk-100003006548330
Job title is Senior / Data Entry Clerk (Billing)
company Senior / Data Entry Clerk (Billing)
 Got job role for this post Senior / Data Entry Clerk (Billing)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-center-operator-100003006548205
Job title is Data Center Operator (Welcome Fresh Graduate)  (13K-20K) (Permanent Role)
company Data Center Operator (Welcome Fresh Graduate)  (13K-20K) (Permanent Role)
 Got job role for this post Data Center Operator (Welcome Fresh Graduate)  (13K-20K) (Permanent Role)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-administrator-100003006548136
Job title is Database Administrator (MSSQL)
company Database Administrator (MSSQL)
 Got job role for this post Database Administrator (MSSQL)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-developer-ai-and-big-data-product-100003006547909
Job title is Senior Developer – AI and Big Data Product
company Senior Developer – AI and Big Data Product
 Got job role for this post Senior Developer – AI and Big Data Product
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id research-engineer-big-data-100003006547910
Job title is Research Engineer – Big Data
company Research Engineer – Big Data
 Got job role for this post Research Engineer – Big Data
 Exp is N
 level is N
now to matching
Now start to craw individual job id finance-data-operations-associate-100003006547507
Job title is Finance Data Operations Associate, temp to perm
company Finance Data Operations Associate, temp to perm
 Got job role for this post Finance Data Operations Associate, temp to perm
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006547504
Job title is Data Scientist - International technology consulting frim
company Data Scientist - International technology consulting frim
 Got job role for this post Data Scientist - International technology consulting frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id network-data-analyst-100003006547493
Job title is Network Data Analyst
company Network Data Analyst
 Got job role for this post Network Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006547239
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id global-pharmaceutical-and-healthcare-group-sap-master-data-analyst-100003006547223
Job title is Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
company Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
 Got job role for this post Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id database-administrator-100003006537797
Job title is Database Administrator (Oracle / MSSQL)
company Database Administrator (Oracle / MSSQL)
 Got job role for this post Database Administrator (Oracle / MSSQL)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-segment-manager-segment-manager-100003006547125
Job title is Senior Segment Manager / Segment Manager (Customer Experience & Data Management)
company Senior Segment Manager / Segment Manager (Customer Experience & Data Management)
 Got job role for this post Senior Segment Manager / Segment Manager (Customer Experience & Data Management)
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id system-analyst-100003006546956
Job title is System Analyst (CRM / Data Analytics / ETL)
company System Analyst (CRM / Data Analytics / ETL)
 Got job role for this post System Analyst (CRM / Data Analytics / ETL)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id mnc-data-center-operator-100003006546819
Job title is MNC - Data Center Operator
company MNC - Data Center Operator
 Got job role for this post MNC - Data Center Operator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id bunsiness-intelligence-analyst-100003006546632
Job title is Bunsiness Intelligence Analyst (Datastage)
company Bunsiness Intelligence Analyst (Datastage)
 Got job role for this post Bunsiness Intelligence Analyst (Datastage)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id facility-engineer-technician-
Cant crawd some id
Now start to craw individual job id ui-designer-100003006546258
Job title is UI designer
company UI designer
 Got job role for this post UI designer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-clerk-uat-tester-100003006545791
Job title is Data Clerk/ UAT Tester (5-days)
company Data Clerk/ UAT Tester (5-days)
 Got job role for this post Data Clerk/ UAT Tester (5-days)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id vp-svp-it-informational-risk-system-and-data-risk-senior-manager-100003006545755
Job title is VP / SVP, IT INFORMATIONAL RISK, SYSTEM AND DATA RISK SENIOR MANAGER (BANKING): 12+ YEARS
company VP / SVP, IT INFORMATIONAL RISK, SYSTEM AND DATA RISK SENIOR MANAGER (BANKING): 12+ YEARS
 Got job role for this post VP / SVP, IT INFORMATIONAL RISK, SYSTEM AND DATA RISK SENIOR MANAGER (BANKING): 12+ YEARS
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-and-system-specialist-100003006545660
Job title is Database and System Specialist
company Database and System Specialist
 Got job role for this post Database and System Specialist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-project-manager-100003006544798
Job title is Data Project Manager
company Data Project Manager
 Got job role for this post Data Project Manager
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id assistant-data-analytic-manager-100003006545328
Job title is Assistant Data Analytic Manager
company Assistant Data Analytic Manager
 Got job role for this post Assistant Data Analytic Manager
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id assistant-data-analyst-100003006544580
Job title is Assistant Data Analyst
company Assistant Data Analyst
 Got job role for this post Assistant Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-100003006544266
Job title is SENIOR DATA ANALYST / DATA ANALYST
company SENIOR DATA ANALYST / DATA ANALYST
 Got job role for this post SENIOR DATA ANALYST / DATA ANALYST
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id analyst-data-information-management-100003006534180
Job title is Analyst, Data & Information Management - (12 months Contract)
company Analyst, Data & Information Management - (12 months Contract)
 Got job role for this post Analyst, Data & Information Management - (12 months Contract)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id manager-data-centre-operations-100003006544009

Job title is Manager, Data Centre Operations
company Manager, Data Centre Operations
 Got job role for this post Manager, Data Centre Operations
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id avp-data-management-etl-and-bi-solutions-100003006543764
Job title is AVP - Data Management, ETL, and BI Solutions
company AVP - Data Management, ETL, and BI Solutions
 Got job role for this post AVP - Data Management, ETL, and BI Solutions
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id sap-master-data-administration-analyst-100003006543758
Job title is SAP Master Data Administration Analyst - 18K
company SAP Master Data Administration Analyst - 18K
 Got job role for this post SAP Master Data Administration Analyst - 18K
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sap-master-data-administration-analyst-fmcg-group-100003006543741
Job title is SAP Master Data Administration Analyst - FMCG Group
company SAP Master Data Administration Analyst - FMCG Group
 Got job role for this post SAP Master Data Administration Analyst - FMCG Group
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id associate-system-analyst-system-analyst-insurance-firm-100003006543575
Job title is Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
company Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
 Got job role for this post Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-administrator-senior-system-specialist-it-manager-database-100003006543563
Job title is Database Administrator/ Senior System Specialist/ IT Manager – database
company Database Administrator/ Senior System Specialist/ IT Manager – database
 Got job role for this post Database Administrator/ Senior System Specialist/ IT Manager – database
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id assistant-manager-group-operational-safety-100003006543415
Job title is Assistant Manager Group Operational Safety (Flight Data)
company Assistant Manager Group Operational Safety (Flight Data)
 Got job role for this post Assistant Manager Group Operational Safety (Flight Data)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analytics-sas-bank-100003006543354
Job title is Data Analytics - SAS / Bank
company Data Analytics - SAS / Bank
 Got job role for this post Data Analytics - SAS / Bank
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-administrator-100003006543264
Job title is Database Administrator (Technical support)
company Database Administrator (Technical support)
 Got job role for this post Database Administrator (Technical support)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id admin-data-entry-welcome-100003006515113
Job title is Admin / Data Entry (Full Time / Part Time) - Welcome Fresh Grad
company Admin / Data Entry (Full Time / Part Time) - Welcome Fresh Grad
 Got job role for this post Admin / Data Entry (Full Time / Part Time) - Welcome Fresh Grad
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-service-officer-100003006542986
Job title is Customer Service Officer (Telecom)  X 3 (Fresh graduates are welcome) – Urgent!!!
company Customer Service Officer (Telecom)  X 3 (Fresh graduates are welcome) – Urgent!!!
 Got job role for this post Customer Service Officer (Telecom)  X 3 (Fresh graduates are welcome) – Urgent!!!
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id accounts-and-admin-officer-100003006542974
Job title is Accounts and Admin Officer
company Accounts and Admin Officer
 Got job role for this post Accounts and Admin Officer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id software-developer-senior-software-developer-100003006542970
Job title is Software Developer / Senior Software Developer
company Software Developer / Senior Software Developer
 Got job role for this post Software Developer / Senior Software Developer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id temp-data-entry-clerks-100003006542618
Job title is Temp Data Entry Clerks (19-26 October / Tseung Kwan O)
company Temp Data Entry Clerks (19-26 October / Tseung Kwan O)
 Got job role for this post Temp Data Entry Clerks (19-26 October / Tseung Kwan O)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-operator-100003006542457
Job title is Data Center Operator
company Data Center Operator
 Got job role for this post Data Center Operator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id master-data-management-assistant-manager-100003006542403
Job title is Master Data Management Assistant Manager
company Master Data Management Assistant Manager
 Got job role for this post Master Data Management Assistant Manager
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-checking-staff-english-korean-reading-writing-100003006542378
Job title is DATA CHECKING STAFF – English, Korean reading/writing
company DATA CHECKING STAFF – English, Korean reading/writing
 Got job role for this post DATA CHECKING STAFF – English, Korean reading/writing
 Exp is N
 level is N
now to matching
Now start to craw individual job id it-technical-support-100003006542375
Job title is IT Technical Support (5-day work)
company IT Technical Support (5-day work)
 Got job role for this post IT Technical Support (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-international-carrier-business-100003006542354
Job title is Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
company Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
 Got job role for this post Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-manager-data-management-100003006542289
Job title is Senior Manager, Data Management
company Senior Manager, Data Management
 Got job role for this post Senior Manager, Data Management
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id mechanical-engineer-100003006542112
Job title is Mechanical Engineer (BS)(Data Center)(40K)
company Mechanical Engineer (BS)(Data Center)(40K)
 Got job role for this post Mechanical Engineer (BS)(Data Center)(40K)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-uploading-assistant-temp-clerk-100003006541990
Job title is Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
company Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
 Got job role for this post Data Uploading Assistant / Temp Clerk (Oct - Dec 2018)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id big-data-developer-100003006541714
Job title is Big Data Developer
company Big Data Developer
 Got job role for this post Big Data Developer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-programmer-100003006541594
Job title is Database Programmer
company Database Programmer
 Got job role for this post Database Programmer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id assistant-facility-engineer-facility-engineer-100003006541402
Job title is Assistant Facility Engineer / Facility Engineer (Data Centers)
company Assistant Facility Engineer / Facility Engineer (Data Centers)
 Got job role for this post Assistant Facility Engineer / Facility Engineer (Data Centers)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id project-manager-specialist-engineer-dba-operator-100003006540437

Job title is Project Manager/ Specialist & Engineer (Datacenter/ Middleware/ Mail/ Window/Unix) / DBA / Operator
company Project Manager/ Specialist & Engineer (Datacenter/ Middleware/ Mail/ Window/Unix) / DBA / Operator
 Got job role for this post Project Manager/ Specialist & Engineer (Datacenter/ Middleware/ Mail/ Window/Unix) / DBA / Operator
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id big-data-developer-data-scientist-100003006541127
Job title is Big data developer / Data Scientist - up to 35 - 45k
company Big data developer / Data Scientist - up to 35 - 45k
 Got job role for this post Big data developer / Data Scientist - up to 35 - 45k
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-data-analyst-100003006540998
Job title is Customer Data Analyst
company Customer Data Analyst
 Got job role for this post Customer Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id project-manager-100003006540983
Job title is Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
company Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
 Got job role for this post Project Manager (Structured Cabling/ IPT PABX/ Cloud/ Data Networking/ WiFi) (Ref.: CPE-PM)
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id 2019-global-data-market-data-analyst-hong-kong-100003006540833
Job title is 2019 Global Data - Market Data Analyst - Hong Kong
company 2019 Global Data - Market Data Analyst - Hong Kong
 Got job role for this post 2019 Global Data - Market Data Analyst - Hong Kong
 Exp is N
 level is N
now to matching
Now start to craw individual job id database-administrator-100003006540828
Job title is Database Administrator (Secondment Service on DBA)
company Database Administrator (Secondment Service on DBA)
 Got job role for this post Database Administrator (Secondment Service on DBA)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-scientist-machine-learning-engineer-100003006540805
Job title is Data Scientist / Machine Learning Engineer
company Data Scientist / Machine Learning Engineer
 Got job role for this post Data Scientist / Machine Learning Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-lead-100003006540793
Job title is Data Scientist, Lead
company Data Scientist, Lead
 Got job role for this post Data Scientist, Lead
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id solution-engineer-data-scientist-100003006540788
Job title is Solution Engineer / Data Scientist (AI)
company Solution Engineer / Data Scientist (AI)
 Got job role for this post Solution Engineer / Data Scientist (AI)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006540781
Job title is DATA ANALYST
company DATA ANALYST
 Got job role for this post DATA ANALYST
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-entry-clerk-100003006540708
Job title is Data Entry Clerk (Work:Shatin) (12K-13K)
company Data Entry Clerk (Work:Shatin) (12K-13K)
 Got job role for this post Data Entry Clerk (Work:Shatin) (12K-13K)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id general-clerk-data-entry-clerk-100003006534025
Job title is General Clerk / Data Entry Clerk ($9K or above)
company General Clerk / Data Entry Clerk ($9K or above)
 Got job role for this post General Clerk / Data Entry Clerk ($9K or above)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id business-analyst-100003006540569
Job title is (Senior) Business Analyst(BI & Data Analysis)
company (Senior) Business Analyst(BI & Data Analysis)
 Got job role for this post (Senior) Business Analyst(BI & Data Analysis)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006537275
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006539262
Job title is Analyst Programmer / System Analyst (Big Data)
company Analyst Programmer / System Analyst (Big Data)
 Got job role for this post Analyst Programmer / System Analyst (Big Data)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id associate-director-manager-data-warehousing-reporting-data-analytics-100003006520756
Job title is Associate Director / Manager, Data Warehousing & Reporting, Data & Analytics
company Associate Director / Manager, Data Warehousing & Reporting, Data & Analytics
 Got job role for this post Associate Director / Manager, Data Warehousing & Reporting, Data & Analytics
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-consultant-data-warehousing-reporting-data-analytics-100003006520725
Job title is Senior Consultant, Data Warehousing & Reporting, Data & Analytics
company Senior Consultant, Data Warehousing & Reporting, Data & Analytics
 Got job role for this post Senior Consultant, Data Warehousing & Reporting, Data & Analytics
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id manager-senior-consultant-data-strategy-governance-d-100003006520695
Job title is Manager / Senior Consultant, Data Strategy & Governance, D&A
company Manager / Senior Consultant, Data Strategy & Governance, D&A
 Got job role for this post Manager / Senior Consultant, Data Strategy & Governance, D&A
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006535041
Job title is Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
company Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Got job role for this post Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id database-administrator-100003006540089
Job title is Database Administrator
company Database Administrator
 Got job role for this post Database Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-and-data-engineer-100003006539844
Job title is Data Scientist and Data Engineer
company Data Scientist and Data Engineer
 Got job role for this post Data Scientist and Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analytics-bank-sas-100003006539755
Job title is Data Analytics - Bank / SAS
company Data Analytics - Bank / SAS
 Got job role for this post Data Analytics - Bank / SAS
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-support-in-data-centre-100003006537310
Job title is IT Support in Data Centre (Salary up to 25K)
company IT Support in Data Centre (Salary up to 25K)
 Got job role for this post IT Support in Data Centre (Salary up to 25K)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-customer-data-analyst-well-known-institution-100003006537247
Job title is Senior Customer Data Analyst / Well-Known Institution
company Senior Customer Data Analyst / Well-Known Institution
 Got job role for this post Senior Customer Data Analyst / Well-Known Institution
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id data-entry-clerk-100003006535858
Job title is Data Entry Clerk (1 year contract)
company Data Entry Clerk (1 year contract)
 Got job role for this post Data Entry Clerk (1 year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id security-analyst-security-engineer-data-center-operation-100003006535722

Job title is Security Analyst / Security Engineer – Data Center Operation
company Security Analyst / Security Engineer – Data Center Operation
 Got job role for this post Security Analyst / Security Engineer – Data Center Operation
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id oracle-database-administrator-major-bank-100003006534401
Job title is Oracle Database Administrator (DBA) – Major Bank
company Oracle Database Administrator (DBA) – Major Bank
 Got job role for this post Oracle Database Administrator (DBA) – Major Bank
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id core-business-services-finance-finance-system-and-data-analyst-100003006539569
Job title is Core Business Services – Finance – Finance System and Data Analyst
company Core Business Services – Finance – Finance System and Data Analyst
 Got job role for this post Core Business Services – Finance – Finance System and Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006539419
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-data-scientist-100003006539257
Job title is Senior Data Scientist(Insurance)
company Senior Data Scientist(Insurance)
 Got job role for this post Senior Data Scientist(Insurance)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id assistant-data-analytics-manager-100003006538697
Job title is Assistant Data Analytics Manager  (Ref.:D000)
company Assistant Data Analytics Manager  (Ref.:D000)
 Got job role for this post Assistant Data Analytics Manager  (Ref.:D000)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id regional-sales-manager-big-data-100003006538673
Job title is Regional Sales Manager - Big Data Start-Up, $45/50K HKD
company Regional Sales Manager - Big Data Start-Up, $45/50K HKD
 Got job role for this post Regional Sales Manager - Big Data Start-Up, $45/50K HKD
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id oracle-database-administrator-100003006538111
Job title is Oracle Database Administrator
company Oracle Database Administrator
 Got job role for this post Oracle Database Administrator
 Exp is 9
 level is 9
now to matching
Now start to craw individual job id master-data-management-assistant-manager-100003006538109
Job title is Master Data Management Assistant Manager
company Master Data Management Assistant Manager
 Got job role for this post Master Data Management Assistant Manager
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id senior-data-officer-administrator-100003006537783
Job title is Senior Data Officer / Administrator
company Senior Data Officer / Administrator
 Got job role for this post Senior Data Officer / Administrator
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id database-consultant-database-support-engineer-100003006537773
Job title is Database Consultant / Database Support Engineer
company Database Consultant / Database Support Engineer
 Got job role for this post Database Consultant / Database Support Engineer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id temporary-data-entry-clerk-100003006537659
Job title is Temporary Data Entry Clerk
company Temporary Data Entry Clerk
 Got job role for this post Temporary Data Entry Clerk
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id master-data-management-officer-business-process-supporting-100003006537490
Job title is Master Data Management Officer - Business process supporting
company Master Data Management Officer - Business process supporting
 Got job role for this post Master Data Management Officer - Business process supporting
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-center-ito-service-engineer-100003006536829
Job title is Data Center ITO Service Engineer
company Data Center ITO Service Engineer
 Got job role for this post Data Center ITO Service Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-consultant-crm-erp-hrm-solutions-100003006536751
Job title is Technical Consultant - CRM, ERP, HRM Solutions (5 days / Kwai Chung)
company Technical Consultant - CRM, ERP, HRM Solutions (5 days / Kwai Chung)
 Got job role for this post Technical Consultant - CRM, ERP, HRM Solutions (5 days / Kwai Chung)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-100003006536694
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-scientist-100003006536612
Job title is Data Analyst/ Scientist
company Data Analyst/ Scientist
 Got job role for this post Data Analyst/ Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id it-support-deskside-support-engineer-datacentre-operator-100003006536377
Job title is (Government / Bank)IT Support / Deskside Support Engineer / DataCentre Operator
company (Government / Bank)IT Support / Deskside Support Engineer / DataCentre Operator
 Got job role for this post (Government / Bank)IT Support / Deskside Support Engineer / DataCentre Operator
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-engineer-banking-100003006536266
Job title is Data Engineer - Banking
company Data Engineer - Banking
 Got job role for this post Data Engineer - Banking
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id quantitative-researcher-100003006535870
Job title is Quantitative Researcher
company Quantitative Researcher
 Got job role for this post Quantitative Researcher
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id technical-associate-100003006535939
Job title is Technical Associate ( Data Centre)
company Technical Associate ( Data Centre)
 Got job role for this post Technical Associate ( Data Centre)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-officer-data-analysis-100003006535797
Job title is SENIOR OFFICER – DATA ANALYSIS (RETAIL MARKETING)
company SENIOR OFFICER – DATA ANALYSIS (RETAIL MARKETING)
 Got job role for this post SENIOR OFFICER – DATA ANALYSIS (RETAIL MARKETING)
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-scientist-buy-side-100003006535652
Job title is Data Scientist (NLP) - Buy Side
company Data Scientist (NLP) - Buy Side
 Got job role for this post Data Scientist (NLP) - Buy Side
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id helpdesk-support-100003006535642
Job title is Helpdesk Support
company Helpdesk Support
 Got job role for this post Helpdesk Support
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id head-of-data-center-capital-markets-100003006535424
Job title is Head of Data Center Capital Markets
company Head of Data Center Capital Markets
 Got job role for this post Head of Data Center Capital Markets
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id sales-manager-executive-100003006534894
Job title is Sales Manager / Executive (Enterprise/Data Centre) 25k to 70k
company Sales Manager / Executive (Enterprise/Data Centre) 25k to 70k
 Got job role for this post Sales Manager / Executive (Enterprise/Data Centre) 25k to 70k
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id operation-data-analysis-specialist-100003006534748
Job title is Operation & Data Analysis Specialist (HK $25k or above)
company Operation & Data Analysis Specialist (HK $25k or above)
 Got job role for this post Operation & Data Analysis Specialist (HK $25k or above)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id it-officer-100003006534709

Job title is IT Officer(Data, cybersecurity)
company IT Officer(Data, cybersecurity)
 Got job role for this post IT Officer(Data, cybersecurity)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id marketing-executive-marketing-manager-100003006534629
Job title is Marketing Executive/ Marketing Manager
company Marketing Executive/ Marketing Manager
 Got job role for this post Marketing Executive/ Marketing Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-centre-operator-100003006534555
Job title is Data Centre Operator (Facilities Management)
company Data Centre Operator (Facilities Management)
 Got job role for this post Data Centre Operator (Facilities Management)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-entry-customer-service-clerk-trainee-100003006534421
Job title is Data Entry / Customer Service Clerk TRAINEE ( 日資公司 / Shatin  / 福利齊 )
company Data Entry / Customer Service Clerk TRAINEE ( 日資公司 / Shatin  / 福利齊 )
 Got job role for this post Data Entry / Customer Service Clerk TRAINEE ( 日資公司 / Shatin  / 福利齊 )
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id operation-control-analyst-up-tp-100003006534491
Job title is Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
company Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
 Got job role for this post Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-database-analyst-100003006533736
Job title is Associate Database Analyst (1-2 years experience, fresh grad also welcome)
company Associate Database Analyst (1-2 years experience, fresh grad also welcome)
 Got job role for this post Associate Database Analyst (1-2 years experience, fresh grad also welcome)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id assistant-project-manager-100003006533703
Job title is Assistant Project Manager (Business Intelligence & Data Analytics)
company Assistant Project Manager (Business Intelligence & Data Analytics)
 Got job role for this post Assistant Project Manager (Business Intelligence & Data Analytics)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-strategist-100003006533486
Job title is Data Strategist
company Data Strategist
 Got job role for this post Data Strategist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id full-time-data-science-and-machine-learning-instructor-100003006532717
Job title is Full-Time Data Science and Machine Learning Instructor
company Full-Time Data Science and Machine Learning Instructor
 Got job role for this post Full-Time Data Science and Machine Learning Instructor
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id cloud-enterprise-sales-director-100003005941287
Job title is Cloud Enterprise Sales Director
company Cloud Enterprise Sales Director
 Got job role for this post Cloud Enterprise Sales Director
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id data-analytics-developer-forensic-services-financial-advisory-hong-kong-100003006530769
Job title is Data Analytics Developer - Forensic Services - Financial Advisory - Hong Kong
company Data Analytics Developer - Forensic Services - Financial Advisory - Hong Kong
 Got job role for this post Data Analytics Developer - Forensic Services - Financial Advisory - Hong Kong
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-client-data-analyst-100003006532445
Job title is Senior Client Data Analyst
company Senior Client Data Analyst
 Got job role for this post Senior Client Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-data-analyst-analytics-big-data-mnc-100003006532317
Job title is Senior Data Analyst / Analytics / Big Data - Friendly MNC
company Senior Data Analyst / Analytics / Big Data - Friendly MNC
 Got job role for this post Senior Data Analyst / Analytics / Big Data - Friendly MNC
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id team-leader-in-data-analysis-corporate-banking-apac-100003006532079
Job title is Team Leader in Data Analysis, Corporate Banking APAC
company Team Leader in Data Analysis, Corporate Banking APAC
 Got job role for this post Team Leader in Data Analysis, Corporate Banking APAC
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id manager-supply-chain-analytics-100003006532023
Job title is Manager - Supply Chain Analytics (Data Scientist)
company Manager - Supply Chain Analytics (Data Scientist)
 Got job role for this post Manager - Supply Chain Analytics (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006531903
Job title is Data Analyst (CSX7/201810/DA/HC)
company Data Analyst (CSX7/201810/DA/HC)
 Got job role for this post Data Analyst (CSX7/201810/DA/HC)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-center-technician-welcome-100003006531648
Job title is Data Center Technician - All levels welcome!
company Data Center Technician - All levels welcome!
 Got job role for this post Data Center Technician - All levels welcome!
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id database-specialist-administrator-100003006531530
Job title is Database Specialist/ Administrator[Bank] [Attractive Salary Package] [URGENT!]
company Database Specialist/ Administrator[Bank] [Attractive Salary Package] [URGENT!]
 Got job role for this post Database Specialist/ Administrator[Bank] [Attractive Salary Package] [URGENT!]
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id marketing-manager-finance-data-b2c-base-100003006530908
Job title is Marketing Manager Finance Data B2C - 35/45K base per month
company Marketing Manager Finance Data B2C - 35/45K base per month
 Got job role for this post Marketing Manager Finance Data B2C - 35/45K base per month
 Exp is N
 level is N
now to matching
Now start to craw individual job id full-stack-web-developer-100003006530055
Job title is Full-stack Web Developer
company Full-stack Web Developer
 Got job role for this post Full-stack Web Developer
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id junior-multimedia-designer-100003006530080
Job title is Junior Multimedia Designer
company Junior Multimedia Designer
 Got job role for this post Junior Multimedia Designer
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id insights-centre-lead-data-and-analytics-it-advisory-100003006520901
Job title is Insights Centre Lead, Data and Analytics, IT Advisory
company Insights Centre Lead, Data and Analytics, IT Advisory
 Got job role for this post Insights Centre Lead, Data and Analytics, IT Advisory
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-entry-clerk-
Cant crawd some id
Now start to craw individual job id property-strategy-data-analytics-100003006530542
Job title is Property Strategy - Data Analytics
company Property Strategy - Data Analytics
 Got job role for this post Property Strategy - Data Analytics
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-scientist-100003006530512
Job title is Senior Data Scientist
company Senior Data Scientist
 Got job role for this post Senior Data Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-engineer-cyber-security-100003006530510
Job title is Data Engineer Cyber Security
company Data Engineer Cyber Security
 Got job role for this post Data Engineer Cyber Security
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-data-engineer-data-architect-100003006530505
Job title is Senior Data Engineer / Data Architect
company Senior Data Engineer / Data Architect
 Got job role for this post Senior Data Engineer / Data Architect
 Exp is 7
 level is 7
now to matching
Now start to craw individual job id data-entry-clerk-100003006530460

Job title is Data Entry Clerk (2 months contract) (PM-DEC-JDB)
company Data Entry Clerk (2 months contract) (PM-DEC-JDB)
 Got job role for this post Data Entry Clerk (2 months contract) (PM-DEC-JDB)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id director-data-engineering-100003006530421
Job title is Director, Data Engineering
company Director, Data Engineering
 Got job role for this post Director, Data Engineering
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-entry-clerk-100003006530285
Job title is Senior / Data Entry Clerk (Billing)
company Senior / Data Entry Clerk (Billing)
 Got job role for this post Senior / Data Entry Clerk (Billing)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-customer-data-analyst-marketing-data-analyst-listed-co-100003006530061
Job title is Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
company Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
 Got job role for this post Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id market-data-specialist-financial-services-100003006529846
Job title is Market Data Specialist – Financial Services
company Market Data Specialist – Financial Services
 Got job role for this post Market Data Specialist – Financial Services
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-analyst-programmer-100003006529777
Job title is Senior / Analyst Programmer (Web / Mobile / Data warehouse)
company Senior / Analyst Programmer (Web / Mobile / Data warehouse)
 Got job role for this post Senior / Analyst Programmer (Web / Mobile / Data warehouse)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id marketing-communication-executive-100003006529562
Job title is Marketing Communication Executive (Database)
company Marketing Communication Executive (Database)
 Got job role for this post Marketing Communication Executive (Database)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-database-administrator-it-operations-department-100003006529377
Job title is Senior Database Administrator - IT Operations Department
company Senior Database Administrator - IT Operations Department
 Got job role for this post Senior Database Administrator - IT Operations Department
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id system-database-administrator-chong-hing-securities-100003006529289
Job title is System & Database Administrator – Chong Hing Securities (UCHS)
company System & Database Administrator – Chong Hing Securities (UCHS)
 Got job role for this post System & Database Administrator – Chong Hing Securities (UCHS)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006529120
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-development-manager-100003006528686
Job title is Business Development Manager
company Business Development Manager
 Got job role for this post Business Development Manager
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-centre-assistants-engineers-100003006528422
Job title is Data Centre Assistants / Engineers (Fresh or Experienced) $13-20K
company Data Centre Assistants / Engineers (Fresh or Experienced) $13-20K
 Got job role for this post Data Centre Assistants / Engineers (Fresh or Experienced) $13-20K
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-service-consultant-100003006528336
Job title is Senior Service Consultant (Data Networking / IPT Solution)
company Senior Service Consultant (Data Networking / IPT Solution)
 Got job role for this post Senior Service Consultant (Data Networking / IPT Solution)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006528131
Job title is Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
company Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
 Got job role for this post Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006528002
Job title is Senior Data Analyst (Contract)
company Senior Data Analyst (Contract)
 Got job role for this post Senior Data Analyst (Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id part-time-data-entry-personnel-
Cant crawd some id
Now start to craw individual job id it-audit-manager-data-analytics-100003006527774
Job title is IT Audit Manager – Data Analytics (Global Hospitality Group)
company IT Audit Manager – Data Analytics (Global Hospitality Group)
 Got job role for this post IT Audit Manager – Data Analytics (Global Hospitality Group)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id project-manager-data-centre-100003006527578
Job title is Project Manager – Data Centre
company Project Manager – Data Centre
 Got job role for this post Project Manager – Data Centre
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-100003006527291
Job title is Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
company Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Got job role for this post Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id asst-manager-data-center-100003006527115
Job title is Asst Manager - Data Center (Operation + Project) - Perm
company Asst Manager - Data Center (Operation + Project) - Perm
 Got job role for this post Asst Manager - Data Center (Operation + Project) - Perm
 Exp is 4
 level is 4
now to matching
It takes 290.51473689079285 to crawd all the jobs info
There are total 734 jobs in this category

r                        2468
bi                       2177
excel                    1215
sql                      1010
sas                       419
machine learning          369
java                      353
hadoop                    322
api                       314
spark                     254
vba                       240
linux                     238
tableau                   230
business intelligence     228
gis                       210
scala                     209
unix                      164
mysql                     139
html                      131
javascript                115
aws                       107
nosql                      94
css                        72
spss                       68
php                        65
perl                       64
microsoft office           61
c#                         56
tensorflow                 55
deep learning              52
matlab                     52
html5                      50
mongodb                    49
azure                      45
css3                       36
keras                      34
d3                         25
microsoft sql server       23
gcp                        21
ruby                       19
seo                        17
cassandra                  17
caffe                      16
pytorch                     9
d3.js                       4
markdown                    4
google cloud platform       3
mahout                      3
dtype: int64

In [15]:
get_job_id('data analyst')

Now start to craw job search result P.1
senior-database-records-management-analyst-100003006604388
senior-data-analyst-100003006603771
data-business-analyst-100003006603709
big-data-analyst-international-company-100003006603634
senior-campaign-management-executive-100003006603409
associate-data-analyst-100003006602456
senior-data-analyst-100003006602301
data-analyst-data-engineer-digital-platform-insurance-industry-100003006601860
system-analyst-big-data-platform-data-engineering-100003006600193
part-time-data-analyst-assistant-investment-100003006600151
analyst-programmer-programmer-data-warehouse-and-bi-100003006599805
associate-analyst-center-of-innovation-100003006599700
data-analyst-100003006599400
senior-data-analyst-100003006598761
data-analyst-senior-data-analyst-100003006597338
network-data-analyst-100003006596992
big-data-system-analyst-analyst-programmer-software-engineer-100003006596822
data-analyst-100003006596604
assistant-data-analyst-100003006596551
system-analyst-big-data-consultant-100003006596183
data-solution-analyst-data-analyst-tier-1-bank-100003006595318
business-analyst-leading-bank-100003006594944
business-data-analyst-100003006595262
digital-marketing-data-analyst-100003006594418
data-analyst-100003006594349
system-analyst-senior-analyst-programmer-100003006594300
data-analyst-data-scientist-global-fintech-startup-100003006593695
data-analyst-sr-data-analyst-lead-analyst-100003006593607
business-analyst-100003006592306
analyst-programmer-system-analyst-100003006588823
Now start to craw job search result P.2
database-analyst-programmer-programmer-100003006588284
major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006587683
system-analyst-analyst-programmer-100003006586329
senior-data-analyst-marketing-100003006591641
data-analyst-100003006591105
data-analyst-business-planning-manager-100003006591095
technical-analyst-assistant-technical-analyst-data-centre-100003006591078
data-analyst-100003006590513
data-analyst-100003006590181
senior-data-analyst-100003006588827
system-analyst-etl-data-modeling-data-warehouse-100003006588345
data-analyst-in-international-bank-100003006587752
data-analyst-100003006587664
senior-systems-analyst-data-engineer-100003006584679
it-analyst-data-analytics-100003006585900
data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006586454
data-analyst-100003006586307
associate-data-analyst-mkt-sales-dept-100003006585971
business-data-analyst-100003006585819
data-analyst-100003006585173
data-analyst-100003006584823
data-mining-data-analyst-central-100003006583807
assistant-data-analyst-assistant-business-analyst-100003006584068
data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006583686
data-analyst-100003006583542
business-analyst-data-banking-contract-100003006583298
data-analyst-100003006583009
junior-data-analyst-100003006582610
senior-data-analyst-100003006581830
customer-data-analyst-senior-customer-data-analyst-100003006581647
Now start to craw job search result P.3
data-analyst-100003006581610
avp-vp-data-governance-specialist-business-analyst-100003006581074
data-analyst-100003006581015
business-analyst-customer-data-analyst-100003006580628
data-analyst-business-intelligence-and-customer-analytic-100003006580475
technical-analyst-assistant-technical-analyst-data-centre-100003006579063
financial-data-analyst-100003006579060
programmer-analyst-programmer-100003006578647
data-analyst-100003006577226
data-business-analyst-100003006577188
data-analyst-business-analyst-100003006577175
data-analyst-100003006576729
analyst-programmer-system-analyst-100003006570225
system-analyst-analyst-programmer-software-engineer-100003006574670
data-analyst-100003006572755
infrastructure-analyst-international-company-100003006572339
data-analyst-100003006571958
business-analyst-etl-data-warehouse-100003006571592
data-analyst-top-tier-gaming-company-100003006571461
data-analyst-100003006568351
data-analyst-100003006568384
analyst-programmer-senior-analyst-programmer-100003006568153
business-analyst-data-banking-100003006568100
data-analyst-fmcg-100003006568096
market-data-analyst-100003006568054
data-analyst-100003006567765
system-analyst-analyst-programmer-big-data-platform-100003006567634
junior-data-analyst-100003006567045
senior-data-analyst-data-analyst-python-100003006566004
data-analyst-in-the-department-of-geography-100003006563260
Now start to craw job search result P.4
trainee-analyst-ifrs-100003006564209
data-science-analyst-associate-data-scientist-100003006563125
data-analyst-global-travel-lifestyle-company-100003006561991
data-scientist-data-analyst-100003006561659
analyst-programmer-100003006560835
system-analyst-analyst-programmer-qa-specialist-it-support-database-administrator-100003006560352
senior-data-analyst-data-analyst-100003006559569
analyst-programmer-system-analyst-100003006554620
system-analyst-analyst-programmer-software-engineer-100003006558560
customer-data-analyst-100003006558187
data-scientist-data-analyst-100003006558180
data-analytics-analyst-100003006558047
regional-health-data-analyst-100003006556969
data-analyst-100003006556419
data-analyst-business-analyst-100003006555814
assistant-data-analyst-100003006554520
data-analyst-100003006551082
data-market-analyst-100003006552430
data-analyst-market-analyst-100003006552243
cloud-data-business-analyst-100003006551605
data-remediation-analyst-retail-banking-and-wealth-management-100003006551148
2018-global-data-market-data-analyst-hong-kong-100003006550740
data-analyst-investment-bank-100003006549141
data-analyst-100003006546520
data-analyst-global-travel-lifestyle-company-100003006549845
senior-data-analyst-100003006548763
network-data-analyst-100003006547493
global-pharmaceutical-and-healthcare-group-sap-master-data-analyst-100003006547223
system-analyst-100003006546956
bunsiness-intelligence-analyst-100003006546632
Now start to craw job search result P.5
assistant-data-analyst-100003006544580
senior-data-analyst-data-analyst-100003006544266
analyst-data-information-management-100003006534180
sap-master-data-administration-analyst-100003006543758
sap-master-data-administration-analyst-fmcg-group-100003006543741
associate-system-analyst-system-analyst-insurance-firm-100003006543575
data-analyst-international-carrier-business-100003006542354
customer-data-analyst-100003006540998
2019-global-data-market-data-analyst-hong-kong-100003006540833
data-analyst-100003006540781
business-analyst-100003006540569
analyst-programmer-system-analyst-100003006537275
analyst-programmer-system-analyst-100003006539262
major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006535041
senior-customer-data-analyst-well-known-institution-100003006537247
security-analyst-security-engineer-data-center-operation-100003006535722
core-business-services-finance-finance-system-and-data-analyst-100003006539569
data-analyst-global-travel-lifestyle-company-100003006539419
senior-data-analyst-100003006536694
data-analyst-scientist-100003006536612
operation-control-analyst-up-tp-100003006534491
associate-database-analyst-100003006533736
senior-client-data-analyst-100003006532445
senior-data-analyst-analytics-big-data-mnc-100003006532317
data-analyst-100003006531903
data-analyst-customer-data-analyst-marketing-data-analyst-listed-co-100003006530061
senior-analyst-programmer-100003006529777

data-analyst-100003006529120
analyst-programmer-system-analyst-100003006528131
Now start to craw job search result P.6
senior-data-analyst-100003006528002
data-analyst-100003006527291
Now start to craw individual job id senior-database-records-management-analyst-100003006604388
Job title is Senior Database & Records Management Analyst (1-year Contract)
company Senior Database & Records Management Analyst (1-year Contract)
 Got job role for this post Senior Database & Records Management Analyst (1-year Contract)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id senior-data-analyst-100003006603771
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-business-analyst-100003006603709

Job title is Data Business Analyst
company Data Business Analyst
 Got job role for this post Data Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id big-data-analyst-international-company-100003006603634
Job title is Big Data Analyst - International Company
company Big Data Analyst - International Company
 Got job role for this post Big Data Analyst - International Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-campaign-management-executive-100003006603409
Job title is Senior Campaign Management Executive (Senior Data Analyst)
company Senior Campaign Management Executive (Senior Data Analyst)
 Got job role for this post Senior Campaign Management Executive (Senior Data Analyst)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id associate-data-analyst-100003006602456
Job title is ASSOCIATE - DATA ANALYST
company ASSOCIATE - DATA ANALYST
 Got job role for this post ASSOCIATE - DATA ANALYST
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-100003006602301
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-data-engineer-digital-platform-insurance-industry-100003006601860
Job title is Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
company Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
 Got job role for this post Data Analyst/ Data Engineer– Digital Platform – Insurance Industry
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-analyst-big-data-platform-data-engineering-100003006600193
Job title is System Analyst - Big Data Platform & Data Engineering
company System Analyst - Big Data Platform & Data Engineering
 Got job role for this post System Analyst - Big Data Platform & Data Engineering
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id part-time-data-analyst-assistant-investment-100003006600151
Job title is Part-time Data Analyst Assistant, Investment
company Part-time Data Analyst Assistant, Investment
 Got job role for this post Part-time Data Analyst Assistant, Investment
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id analyst-programmer-programmer-data-warehouse-and-bi-100003006599805
Job title is Analyst Programmer / Programmer – Data Warehouse and BI
company Analyst Programmer / Programmer – Data Warehouse and BI
 Got job role for this post Analyst Programmer / Programmer – Data Warehouse and BI
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-analyst-center-of-innovation-100003006599700
Job title is Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
company Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
 Got job role for this post Associate / Analyst, Center of Innovation  (Data / Machine Learning / NLP / Fintech)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006599400
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006598761
Job title is Senior Data Analyst (Contract)
company Senior Data Analyst (Contract)
 Got job role for this post Senior Data Analyst (Contract)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-senior-data-analyst-100003006597338
Job title is Data Analyst / Senior Data Analyst (MOOV)
company Data Analyst / Senior Data Analyst (MOOV)
 Got job role for this post Data Analyst / Senior Data Analyst (MOOV)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id network-data-analyst-100003006596992
Job title is Network Data Analyst
company Network Data Analyst
 Got job role for this post Network Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id big-data-system-analyst-analyst-programmer-software-engineer-100003006596822
Job title is Big Data System Analyst / Analyst Programmer / Software Engineer
company Big Data System Analyst / Analyst Programmer / Software Engineer
 Got job role for this post Big Data System Analyst / Analyst Programmer / Software Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006596604
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id assistant-data-analyst-100003006596551
Job title is Assistant Data Analyst
company Assistant Data Analyst
 Got job role for this post Assistant Data Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id system-analyst-big-data-consultant-100003006596183
Job title is SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
company SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
 Got job role for this post SYSTEM ANALYST / BIG DATA CONSULTANT (ETL & DW) (REF.: 10003280)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-solution-analyst-data-analyst-tier-1-bank-100003006595318
Job title is Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
company Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
 Got job role for this post Data Solution Analyst/ Data Analyst – Perm – Tier-1 Bank
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-analyst-leading-bank-100003006594944
Job title is Business Analyst (Data Engineering / DWH) - Leading Bank
company Business Analyst (Data Engineering / DWH) - Leading Bank
 Got job role for this post Business Analyst (Data Engineering / DWH) - Leading Bank
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id business-data-analyst-100003006595262
Job title is Business/Data Analyst
company Business/Data Analyst
 Got job role for this post Business/Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id digital-marketing-data-analyst-100003006594418
Job title is Digital Marketing Data Analyst REF: JOB_000224
company Digital Marketing Data Analyst REF: JOB_000224
 Got job role for this post Digital Marketing Data Analyst REF: JOB_000224
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006594349
Job title is Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
company Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Got job role for this post Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-analyst-senior-analyst-programmer-100003006594300
Job title is System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
company System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
 Got job role for this post System Analyst / Senior Analyst Programmer (BI/ Big Data) [Ref: BOD5-JDB-20181029]
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-data-scientist-global-fintech-startup-100003006593695
Job title is Data Analyst / Data Scientist - Global Fintech startup
company Data Analyst / Data Scientist - Global Fintech startup
 Got job role for this post Data Analyst / Data Scientist - Global Fintech startup
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-sr-data-analyst-lead-analyst-100003006593607
Job title is Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
company Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
 Got job role for this post Data Analyst / Sr. Data Analyst / Lead Analyst (SQL Query)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id business-analyst-100003006592306

Job title is Business Analyst (Data Researcher and Automation Developer)
company Business Analyst (Data Researcher and Automation Developer)
 Got job role for this post Business Analyst (Data Researcher and Automation Developer)
 Exp is N
 level is N
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006588823
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id database-analyst-programmer-programmer-100003006588284
Job title is Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
company Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
 Got job role for this post Database Analyst Programmer / Programmer (Ref: JDB/MSU/AP)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006587683
Job title is Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
company Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Got job role for this post Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-100003006586329
Job title is System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
company System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
 Got job role for this post System Analyst/ Analyst Programmer [Fin Tech/ Big Data/ Machine Learning]
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-marketing-100003006591641
Job title is Senior Data Analyst - Marketing
company Senior Data Analyst - Marketing
 Got job role for this post Senior Data Analyst - Marketing
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006591105
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-business-planning-manager-100003006591095
Job title is Data Analyst/ Business Planning Manager
company Data Analyst/ Business Planning Manager
 Got job role for this post Data Analyst/ Business Planning Manager
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id technical-analyst-assistant-technical-analyst-data-centre-100003006591078
Job title is Technical Analyst / Assistant Technical Analyst – Data Centre
company Technical Analyst / Assistant Technical Analyst – Data Centre
 Got job role for this post Technical Analyst / Assistant Technical Analyst – Data Centre
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006590513
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-analyst-100003006590181
Job title is Data Analyst (QS)
company Data Analyst (QS)
 Got job role for this post Data Analyst (QS)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id senior-data-analyst-100003006588827
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id system-analyst-etl-data-modeling-data-warehouse-100003006588345
Job title is System Analyst - ETL / Data Modeling / Data Warehouse
company System Analyst - ETL / Data Modeling / Data Warehouse
 Got job role for this post System Analyst - ETL / Data Modeling / Data Warehouse
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-in-international-bank-100003006587752
Job title is (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
company (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
 Got job role for this post (Senior) Data Analyst in International Bank (SAS/Qlik/VBA)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006587664
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id senior-systems-analyst-data-engineer-100003006584679
Job title is Senior Systems Analyst, Data Engineer
company Senior Systems Analyst, Data Engineer
 Got job role for this post Senior Systems Analyst, Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id it-analyst-data-analytics-100003006585900
Job title is IT Analyst – Data Analytics
company IT Analyst – Data Analytics
 Got job role for this post IT Analyst – Data Analytics
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006586454
Job title is Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
company Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Got job role for this post Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006586307
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-data-analyst-mkt-sales-dept-100003006585971
Job title is Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
company Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
 Got job role for this post Associate Data Analyst – Mkt & Sales Dept. (Ref: JD-M, S&O-ADA)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-data-analyst-100003006585819
Job title is Business/Data Analyst
company Business/Data Analyst
 Got job role for this post Business/Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006585173
Job title is Data Analyst (12 month contract)
company Data Analyst (12 month contract)
 Got job role for this post Data Analyst (12 month contract)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006584823
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-mining-data-analyst-central-100003006583807
Job title is Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
company Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
 Got job role for this post Data Mining - Data Analyst; (Famous banking group); 5-Day, Central!
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id assistant-data-analyst-assistant-business-analyst-100003006584068
Job title is Assistant Data Analyst/Assistant Business Analyst (5-day work)
company Assistant Data Analyst/Assistant Business Analyst (5-day work)
 Got job role for this post Assistant Data Analyst/Assistant Business Analyst (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-warehouse-business-intelligence-consultant-specialist-analyst-programmer-100003006583686
Job title is Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
company Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Got job role for this post Data Warehouse / Business Intelligence - Consultant / Specialist / Analyst Programmer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006583542

Job title is Data Analyst (Insurtech, A.I., Permanent)
company Data Analyst (Insurtech, A.I., Permanent)
 Got job role for this post Data Analyst (Insurtech, A.I., Permanent)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id business-analyst-data-banking-contract-100003006583298
Job title is Business Analyst - Data 12 months renewable banking contract
company Business Analyst - Data 12 months renewable banking contract
 Got job role for this post Business Analyst - Data 12 months renewable banking contract
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006583009
Job title is Data Analyst (Financial Service)
company Data Analyst (Financial Service)
 Got job role for this post Data Analyst (Financial Service)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id junior-data-analyst-100003006582610
Job title is Junior Data Analyst (3-month Contract)
company Junior Data Analyst (3-month Contract)
 Got job role for this post Junior Data Analyst (3-month Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006581830
Job title is Senior Data Analyst (Access / Excel) - up to 25k
company Senior Data Analyst (Access / Excel) - up to 25k
 Got job role for this post Senior Data Analyst (Access / Excel) - up to 25k
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id customer-data-analyst-senior-customer-data-analyst-100003006581647
Job title is Customer Data Analyst / Senior Customer Data Analyst
company Customer Data Analyst / Senior Customer Data Analyst
 Got job role for this post Customer Data Analyst / Senior Customer Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006581610
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id avp-vp-data-governance-specialist-business-analyst-100003006581074
Job title is AVP/VP, Data Governance Specialist / Business Analyst
company AVP/VP, Data Governance Specialist / Business Analyst
 Got job role for this post AVP/VP, Data Governance Specialist / Business Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-100003006581015
Job title is Data Analyst (Renewable Contract)
company Data Analyst (Renewable Contract)
 Got job role for this post Data Analyst (Renewable Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id business-analyst-customer-data-analyst-100003006580628
Job title is Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
company Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
 Got job role for this post Business Analyst / Customer Data Analyst (12-25K, ICT, 5-Day, medical) - Ref. 211
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-business-intelligence-and-customer-analytic-100003006580475
Job title is Data analyst – Business intelligence and customer analytic
company Data analyst – Business intelligence and customer analytic
 Got job role for this post Data analyst – Business intelligence and customer analytic
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id technical-analyst-assistant-technical-analyst-data-centre-100003006579063
Job title is Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
company Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
 Got job role for this post Technical Analyst / Assistant Technical Analyst – Data Centre (up to 25k)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id financial-data-analyst-100003006579060
Job title is Financial Data Analyst
company Financial Data Analyst
 Got job role for this post Financial Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id programmer-analyst-programmer-100003006578647
Job title is Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
company Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
 Got job role for this post Programmer / Analyst Programmer (AI / Machine Learning / Big Data / Python / Java)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006577226
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-business-analyst-100003006577188
Job title is Data Business Analyst
company Data Business Analyst
 Got job role for this post Data Business Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-business-analyst-100003006577175
Job title is Data Analyst/ Business Analyst
company Data Analyst/ Business Analyst
 Got job role for this post Data Analyst/ Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006576729
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006570225
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-software-engineer-100003006574670
Job title is System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
company System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Got job role for this post System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-100003006572755
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id infrastructure-analyst-international-company-100003006572339
Job title is Infrastructure Analyst (Database / DBA) - International Company (Contract)
company Infrastructure Analyst (Database / DBA) - International Company (Contract)
 Got job role for this post Infrastructure Analyst (Database / DBA) - International Company (Contract)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-100003006571958
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id business-analyst-etl-data-warehouse-100003006571592
Job title is Business Analyst, ETL & Data Warehouse (12 month contract)
company Business Analyst, ETL & Data Warehouse (12 month contract)
 Got job role for this post Business Analyst, ETL & Data Warehouse (12 month contract)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-top-tier-gaming-company-100003006571461
Job title is Data Analyst (Business Intelligence) - Top Tier Gaming Company
company Data Analyst (Business Intelligence) - Top Tier Gaming Company
 Got job role for this post Data Analyst (Business Intelligence) - Top Tier Gaming Company
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006568351
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-analyst-100003006568384
Job title is ( Senior ) Data Analyst x 2
company ( Senior ) Data Analyst x 2
 Got job role for this post ( Senior ) Data Analyst x 2
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id analyst-programmer-senior-analyst-programmer-100003006568153

Job title is Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
company Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
 Got job role for this post Analyst Programmer/Senior Analyst Programmer (Java+SAS/Perm/banking/datawarehouse)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id business-analyst-data-banking-100003006568100
Job title is Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
company Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
 Got job role for this post Business Analyst, Data  - 12 months banking renewable contract (up to 38k)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-fmcg-100003006568096
Job title is Data Analyst- FMCG
company Data Analyst- FMCG
 Got job role for this post Data Analyst- FMCG
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id market-data-analyst-100003006568054
Job title is Market Data Analyst
company Market Data Analyst
 Got job role for this post Market Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006567765
Job title is Data Analyst (5-day work)
company Data Analyst (5-day work)
 Got job role for this post Data Analyst (5-day work)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-big-data-platform-100003006567634
Job title is System Analyst / Analyst Programmer - Big Data Platform
company System Analyst / Analyst Programmer - Big Data Platform
 Got job role for this post System Analyst / Analyst Programmer - Big Data Platform
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id junior-data-analyst-100003006567045
Job title is Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
company Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
 Got job role for this post Junior Data Analyst (In house IT support/analyst/Oracle/MS SQL/ERP/European Apparel Group)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-python-100003006566004
Job title is Senior Data Analyst / Data Analyst - Python
company Senior Data Analyst / Data Analyst - Python
 Got job role for this post Senior Data Analyst / Data Analyst - Python
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-in-the-department-of-geography-100003006563260
Job title is Data Analyst (at the rank of IT Technician) in the Department of Geography
company Data Analyst (at the rank of IT Technician) in the Department of Geography
 Got job role for this post Data Analyst (at the rank of IT Technician) in the Department of Geography
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id trainee-analyst-ifrs-100003006564209
Job title is Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
company Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
 Got job role for this post Trainee / Analyst, IFRS 17 (Data & Disclosures) (1-year contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-science-analyst-associate-data-scientist-100003006563125
Job title is Data Science Analyst / Associate Data Scientist
company Data Science Analyst / Associate Data Scientist
 Got job role for this post Data Science Analyst / Associate Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006561991
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006561659
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id analyst-programmer-100003006560835
Job title is Analyst Programmer (Data/ Business Intelligence)
company Analyst Programmer (Data/ Business Intelligence)
 Got job role for this post Analyst Programmer (Data/ Business Intelligence)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-qa-specialist-it-support-database-administrator-100003006560352
Job title is System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
company System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
 Got job role for this post System Analyst / Analyst Programmer / QA Specialist / IT Support / Database Administrator
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-100003006559569
Job title is Senior Data Analyst / Data Analyst
company Senior Data Analyst / Data Analyst
 Got job role for this post Senior Data Analyst / Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006554620
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id system-analyst-analyst-programmer-software-engineer-100003006558560
Job title is System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
company System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Got job role for this post System Analyst / Analyst Programmer / Software Engineer (Big Data / Fintech)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id customer-data-analyst-100003006558187
Job title is Customer Data Analyst
company Customer Data Analyst
 Got job role for this post Customer Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006558180
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analytics-analyst-100003006558047
Job title is Data Analytics Analyst
company Data Analytics Analyst
 Got job role for this post Data Analytics Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id regional-health-data-analyst-100003006556969
Job title is Regional Health Data Analyst
company Regional Health Data Analyst
 Got job role for this post Regional Health Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006556419
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-business-analyst-100003006555814
Job title is Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
company Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
 Got job role for this post Data Analyst / Business Analyst - ($18K,  SQL, SAS, R, Python, Big Data)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id assistant-data-analyst-100003006554520
Job title is ASSISTANT DATA ANALYST
company ASSISTANT DATA ANALYST
 Got job role for this post ASSISTANT DATA ANALYST
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-analyst-100003006551082
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-market-analyst-100003006552430

Job title is Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
company Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
 Got job role for this post Data/ Market Analyst [Digital platform/ SQL/ up to 25k]
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-market-analyst-100003006552243
Job title is Data Analyst/ Market Analyst ($18K-$35K)
company Data Analyst/ Market Analyst ($18K-$35K)
 Got job role for this post Data Analyst/ Market Analyst ($18K-$35K)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id cloud-data-business-analyst-100003006551605
Job title is Cloud Data Business Analyst
company Cloud Data Business Analyst
 Got job role for this post Cloud Data Business Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-remediation-analyst-retail-banking-and-wealth-management-100003006551148
Job title is Data Remediation Analyst - Retail Banking and Wealth Management
company Data Remediation Analyst - Retail Banking and Wealth Management
 Got job role for this post Data Remediation Analyst - Retail Banking and Wealth Management
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id 2018-global-data-market-data-analyst-hong-kong-100003006550740
Job title is 2018 Global Data - Market Data Analyst - Hong Kong
company 2018 Global Data - Market Data Analyst - Hong Kong
 Got job role for this post 2018 Global Data - Market Data Analyst - Hong Kong
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-analyst-investment-bank-100003006549141
Job title is Data Analyst – Investment Bank (Ref. No. : 22794)
company Data Analyst – Investment Bank (Ref. No. : 22794)
 Got job role for this post Data Analyst – Investment Bank (Ref. No. : 22794)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006546520
Job title is ( Senior ) Data Analyst
company ( Senior ) Data Analyst
 Got job role for this post ( Senior ) Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006549845
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-data-analyst-100003006548763
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id network-data-analyst-100003006547493
Job title is Network Data Analyst
company Network Data Analyst
 Got job role for this post Network Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id global-pharmaceutical-and-healthcare-group-sap-master-data-analyst-100003006547223
Job title is Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
company Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
 Got job role for this post Global Pharmaceutical and Healthcare Group – SAP Master Data Analyst – HKD$18k-20k x 13mths
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id system-analyst-100003006546956
Job title is System Analyst (CRM / Data Analytics / ETL)
company System Analyst (CRM / Data Analytics / ETL)
 Got job role for this post System Analyst (CRM / Data Analytics / ETL)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id bunsiness-intelligence-analyst-100003006546632
Job title is Bunsiness Intelligence Analyst (Datastage)
company Bunsiness Intelligence Analyst (Datastage)
 Got job role for this post Bunsiness Intelligence Analyst (Datastage)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id assistant-data-analyst-100003006544580
Job title is Assistant Data Analyst
company Assistant Data Analyst
 Got job role for this post Assistant Data Analyst
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-data-analyst-data-analyst-100003006544266
Job title is SENIOR DATA ANALYST / DATA ANALYST
company SENIOR DATA ANALYST / DATA ANALYST
 Got job role for this post SENIOR DATA ANALYST / DATA ANALYST
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id analyst-data-information-management-100003006534180
Job title is Analyst, Data & Information Management - (12 months Contract)
company Analyst, Data & Information Management - (12 months Contract)
 Got job role for this post Analyst, Data & Information Management - (12 months Contract)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id sap-master-data-administration-analyst-100003006543758
Job title is SAP Master Data Administration Analyst - 18K
company SAP Master Data Administration Analyst - 18K
 Got job role for this post SAP Master Data Administration Analyst - 18K
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id sap-master-data-administration-analyst-fmcg-group-100003006543741
Job title is SAP Master Data Administration Analyst - FMCG Group
company SAP Master Data Administration Analyst - FMCG Group
 Got job role for this post SAP Master Data Administration Analyst - FMCG Group
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id associate-system-analyst-system-analyst-insurance-firm-100003006543575
Job title is Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
company Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
 Got job role for this post Associate System Analyst/ System Analyst (Data Reporting & SQL Programming) - Insurance Firm
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-international-carrier-business-100003006542354
Job title is Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
company Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
 Got job role for this post Data Analyst, International Carrier Business (Ref: CMIJD-0827-BAPRCBHK)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id customer-data-analyst-100003006540998
Job title is Customer Data Analyst
company Customer Data Analyst
 Got job role for this post Customer Data Analyst
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id 2019-global-data-market-data-analyst-hong-kong-100003006540833
Job title is 2019 Global Data - Market Data Analyst - Hong Kong
company 2019 Global Data - Market Data Analyst - Hong Kong
 Got job role for this post 2019 Global Data - Market Data Analyst - Hong Kong
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-analyst-100003006540781
Job title is DATA ANALYST
company DATA ANALYST
 Got job role for this post DATA ANALYST
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id business-analyst-100003006540569
Job title is (Senior) Business Analyst(BI & Data Analysis)
company (Senior) Business Analyst(BI & Data Analysis)
 Got job role for this post (Senior) Business Analyst(BI & Data Analysis)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006537275
Job title is Analyst Programmer / System Analyst (MIS, Data Warehouse)
company Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Got job role for this post Analyst Programmer / System Analyst (MIS, Data Warehouse)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006539262
Job title is Analyst Programmer / System Analyst (Big Data)
company Analyst Programmer / System Analyst (Big Data)
 Got job role for this post Analyst Programmer / System Analyst (Big Data)
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id major-bank-data-warehouse-senior-system-analysts-system-analysts-analyst-programmers-100003006535041

Job title is Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
company Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Got job role for this post Major Bank: Data Warehouse (DataStage) Senior System Analysts/ System Analysts/ Analyst Programmers
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-customer-data-analyst-well-known-institution-100003006537247
Job title is Senior Customer Data Analyst / Well-Known Institution
company Senior Customer Data Analyst / Well-Known Institution
 Got job role for this post Senior Customer Data Analyst / Well-Known Institution
 Exp is 8
 level is 8
now to matching
Now start to craw individual job id security-analyst-security-engineer-data-center-operation-100003006535722
Job title is Security Analyst / Security Engineer – Data Center Operation
company Security Analyst / Security Engineer – Data Center Operation
 Got job role for this post Security Analyst / Security Engineer – Data Center Operation
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id core-business-services-finance-finance-system-and-data-analyst-100003006539569
Job title is Core Business Services – Finance – Finance System and Data Analyst
company Core Business Services – Finance – Finance System and Data Analyst
 Got job role for this post Core Business Services – Finance – Finance System and Data Analyst
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-analyst-global-travel-lifestyle-company-100003006539419
Job title is Data Analyst -Global Travel & Lifestyle Company
company Data Analyst -Global Travel & Lifestyle Company
 Got job role for this post Data Analyst -Global Travel & Lifestyle Company
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id senior-data-analyst-100003006536694
Job title is Senior Data Analyst
company Senior Data Analyst
 Got job role for this post Senior Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-analyst-scientist-100003006536612
Job title is Data Analyst/ Scientist
company Data Analyst/ Scientist
 Got job role for this post Data Analyst/ Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id operation-control-analyst-up-tp-100003006534491
Job title is Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
company Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
 Got job role for this post Operation Control Analyst (VBA, SQL, data mgmt) - up tp 20k
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id associate-database-analyst-100003006533736
Job title is Associate Database Analyst (1-2 years experience, fresh grad also welcome)
company Associate Database Analyst (1-2 years experience, fresh grad also welcome)
 Got job role for this post Associate Database Analyst (1-2 years experience, fresh grad also welcome)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-client-data-analyst-100003006532445
Job title is Senior Client Data Analyst
company Senior Client Data Analyst
 Got job role for this post Senior Client Data Analyst
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-data-analyst-analytics-big-data-mnc-100003006532317
Job title is Senior Data Analyst / Analytics / Big Data - Friendly MNC
company Senior Data Analyst / Analytics / Big Data - Friendly MNC
 Got job role for this post Senior Data Analyst / Analytics / Big Data - Friendly MNC
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006531903
Job title is Data Analyst (CSX7/201810/DA/HC)
company Data Analyst (CSX7/201810/DA/HC)
 Got job role for this post Data Analyst (CSX7/201810/DA/HC)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-analyst-customer-data-analyst-marketing-data-analyst-listed-co-100003006530061
Job title is Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
company Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
 Got job role for this post Data Analyst / Customer Data Analyst / Marketing Data Analyst - Listed Co. Top Urgent
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id senior-analyst-programmer-100003006529777
Job title is Senior / Analyst Programmer (Web / Mobile / Data warehouse)
company Senior / Analyst Programmer (Web / Mobile / Data warehouse)
 Got job role for this post Senior / Analyst Programmer (Web / Mobile / Data warehouse)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id
Cant crawd some id
Now start to craw individual job id data-analyst-100003006529120
Job title is Data Analyst
company Data Analyst
 Got job role for this post Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id analyst-programmer-system-analyst-100003006528131
Job title is Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
company Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
 Got job role for this post Analyst Programmer / System Analyst (AI / Machine Learning / Big Data Analytics)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-analyst-100003006528002
Job title is Senior Data Analyst (Contract)
company Senior Data Analyst (Contract)
 Got job role for this post Senior Data Analyst (Contract)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-analyst-100003006527291
Job title is Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
company Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Got job role for this post Data Analyst(Listed Group)(5 days work, No Sat)(25K)  (Technology Strategy and Development)
 Exp is Didnt specify
 level is Didnt specify
now to matching
It takes 57.81649899482727 to crawd all the jobs info
There are total 152 jobs in this category

r                        846
bi                       744
excel                    422
sql                      354
sas                      147
java                     121
machine learning         115
hadoop                   110
api                      108
vba                       92
spark                     84
tableau                   83
business intelligence     81
linux                     80
gis                       71
scala                     69
unix                      58
mysql                     47
html                      44
aws                       37
javascript                36
nosql                     31
spss                      26
css                       24
php                       23
perl                      22
microsoft office          22
c#                        20
matlab                    17
html5                     17
azure                     16
tensorflow                16
mongodb                   16
deep learning             15
css3                      12
keras                      9
d3                         7
ruby                       7
gcp                        7
microsoft sql server       7
seo                        6
caffe                      5
cassandra                  5
pytorch                    3
d3.js                      1
google cloud platform      1
mahout                     1
markdown                   1
dtype: int64

In [17]:
get_job_id('data scientist')

Now start to craw job search result P.1
data-scientist-100003006603427
data-scientist-100003006599779
lead-data-scientist-100003006598908
data-scientist-commercial-banking-100003006597216
data-scientists-ai-developer-and-researcher-big-data-engineer-100003006596791
data-scientist-100003006596532
lead-data-scientist-100003006595805
data-scientist-big-data-100003006593756
data-analyst-data-scientist-global-fintech-startup-100003006593695
data-scientist-100003006593633
senior-business-strategy-manager-business-strategy-manager-100003006593385
data-scientist-100003006591073
data-scientist-transaction-advisory-services-100003006588331
data-scientist-junior-data-scientist-100003006585948
data-scientist-computational-scientist-100003006585143
data-scientist-international-technology-consulting-frim-100003006585120
data-scientist-100003006585056
data-scientist-media-100003006581357
ai-data-scientist-100003006581181
customer-facing-data-scientist-100003006581010
data-scientist-100003006577448
data-scientist-digital-platform-100003006577406
data-scientist-100003006577405
data-scientist-100003006576682
data-scientist-100003006576063
senior-business-strategy-manager-business-strategy-manager-100003006575025
data-scientists-ai-developer-and-researcher-big-data-engineer-100003006574668
data-scientist-100003006572798
senior-data-manager-100003006570724
junior-data-scientist-100003006570428
Now start to craw job search result P.2
data-scientist-100003006569789
data-scientist-international-technology-consulting-frim-100003006568881
data-science-analyst-associate-data-scientist-100003006563125
data-scientist-international-technology-consulting-frim-100003006562807
data-scientist-data-analyst-100003006561659
data-scientists-ai-developer-and-researcher-100003006558596
data-scientist-data-analyst-100003006558180
data-scientists-for-big-data-project-ai-major-bank-100003006555543
data-scientist-series-a-startup-equity-offered-100003006556896
senior-data-scientist-100003006550693
data-scientist-international-technology-consulting-frim-100003006547504
big-data-developer-data-scientist-100003006541127
data-scientist-machine-learning-engineer-100003006540805
data-scientist-lead-100003006540793
solution-engineer-data-scientist-100003006540788
data-scientist-and-data-engineer-100003006539844
senior-data-scientist-100003006539257
data-analyst-scientist-100003006536612
data-scientist-buy-side-100003006535652
manager-supply-chain-analytics-100003006532023
senior-data-scientist-100003006530512
Now start to craw individual job id data-scientist-100003006603427
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006599779
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id lead-data-scientist-100003006598908
Job title is Lead Data Scientist
company Lead Data Scientist
 Got job role for this post Lead Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-commercial-banking-100003006597216
Job title is Data Scientist - Commercial Banking
company Data Scientist - Commercial Banking
 Got job role for this post Data Scientist - Commercial Banking
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-big-data-engineer-100003006596791
Job title is Data Scientists / AI Developer and Researcher / Big Data Engineer
company Data Scientists / AI Developer and Researcher / Big Data Engineer
 Got job role for this post Data Scientists / AI Developer and Researcher / Big Data Engineer
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-scientist-100003006596532
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id lead-data-scientist-100003006595805
Job title is Lead Data Scientist
company Lead Data Scientist
 Got job role for this post Lead Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-big-data-100003006593756
Job title is Data Scientist, Big Data
company Data Scientist, Big Data
 Got job role for this post Data Scientist, Big Data
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-analyst-data-scientist-global-fintech-startup-100003006593695
Job title is Data Analyst / Data Scientist - Global Fintech startup
company Data Analyst / Data Scientist - Global Fintech startup
 Got job role for this post Data Analyst / Data Scientist - Global Fintech startup
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-100003006593633
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-business-strategy-manager-business-strategy-manager-100003006593385
Job title is Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
company Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Got job role for this post Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-100003006591073
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-transaction-advisory-services-100003006588331
Job title is Data Scientist- Transaction Advisory Services
company Data Scientist- Transaction Advisory Services
 Got job role for this post Data Scientist- Transaction Advisory Services
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-junior-data-scientist-100003006585948
Job title is Data Scientist / Junior Data Scientist
company Data Scientist / Junior Data Scientist
 Got job role for this post Data Scientist / Junior Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-computational-scientist-100003006585143
Job title is Data Scientist / Computational Scientist
company Data Scientist / Computational Scientist
 Got job role for this post Data Scientist / Computational Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006585120
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006585056
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-scientist-media-100003006581357
Job title is Data Scientist  - Media
company Data Scientist  - Media
 Got job role for this post Data Scientist  - Media
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id ai-data-scientist-100003006581181
Job title is AI Data Scientist (Strong Programming Required - C++/Java/Python)
company AI Data Scientist (Strong Programming Required - C++/Java/Python)
 Got job role for this post AI Data Scientist (Strong Programming Required - C++/Java/Python)
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id customer-facing-data-scientist-100003006581010
Job title is Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
company Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
 Got job role for this post Customer Facing Data Scientist (DataRobot Pre-Sales Consultant)
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id data-scientist-100003006577448

Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-digital-platform-100003006577406
Job title is Data Scientist  - Digital Platform
company Data Scientist  - Digital Platform
 Got job role for this post Data Scientist  - Digital Platform
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientist-100003006577405
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-100003006576682
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-100003006576063
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-business-strategy-manager-business-strategy-manager-100003006575025
Job title is Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
company Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Got job role for this post Senior Business Strategy Manager / Business Strategy Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-big-data-engineer-100003006574668
Job title is Data Scientists / AI Developer and Researcher / Big Data Engineer
company Data Scientists / AI Developer and Researcher / Big Data Engineer
 Got job role for this post Data Scientists / AI Developer and Researcher / Big Data Engineer
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-scientist-100003006572798
Job title is Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
company Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
 Got job role for this post Data Scientist (NLP, Computer Vision, Image Recognition, Video Analytics)
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-manager-100003006570724
Job title is Senior Data Manager (Data Scientist)
company Senior Data Manager (Data Scientist)
 Got job role for this post Senior Data Manager (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id junior-data-scientist-100003006570428
Job title is Junior Data Scientist
company Junior Data Scientist
 Got job role for this post Junior Data Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-100003006569789
Job title is Data Scientist
company Data Scientist
 Got job role for this post Data Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006568881
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-science-analyst-associate-data-scientist-100003006563125
Job title is Data Science Analyst / Associate Data Scientist
company Data Science Analyst / Associate Data Scientist
 Got job role for this post Data Science Analyst / Associate Data Scientist
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006562807
Job title is Data Scientist - International Technology Consulting Frim
company Data Scientist - International Technology Consulting Frim
 Got job role for this post Data Scientist - International Technology Consulting Frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006561659
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientists-ai-developer-and-researcher-100003006558596
Job title is Data Scientists / AI Developer and Researcher (Big Data)
company Data Scientists / AI Developer and Researcher (Big Data)
 Got job role for this post Data Scientists / AI Developer and Researcher (Big Data)
 Exp is N
 level is N
now to matching
Now start to craw individual job id data-scientist-data-analyst-100003006558180
Job title is Data Scientist / Data Analyst
company Data Scientist / Data Analyst
 Got job role for this post Data Scientist / Data Analyst
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientists-for-big-data-project-ai-major-bank-100003006555543
Job title is Data Scientists: for Big Data Project & AI - Major Bank
company Data Scientists: for Big Data Project & AI - Major Bank
 Got job role for this post Data Scientists: for Big Data Project & AI - Major Bank
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-series-a-startup-equity-offered-100003006556896
Job title is Data Scientist, Series A startup, equity offered
company Data Scientist, Series A startup, equity offered
 Got job role for this post Data Scientist, Series A startup, equity offered
 Exp is 4
 level is 4
now to matching
Now start to craw individual job id senior-data-scientist-100003006550693
Job title is Senior Data Scientist
company Senior Data Scientist
 Got job role for this post Senior Data Scientist
 Exp is 1
 level is 1
now to matching
Now start to craw individual job id data-scientist-international-technology-consulting-frim-100003006547504
Job title is Data Scientist - International technology consulting frim
company Data Scientist - International technology consulting frim
 Got job role for this post Data Scientist - International technology consulting frim
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id big-data-developer-data-scientist-100003006541127
Job title is Big data developer / Data Scientist - up to 35 - 45k
company Big data developer / Data Scientist - up to 35 - 45k
 Got job role for this post Big data developer / Data Scientist - up to 35 - 45k
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id data-scientist-machine-learning-engineer-100003006540805
Job title is Data Scientist / Machine Learning Engineer
company Data Scientist / Machine Learning Engineer
 Got job role for this post Data Scientist / Machine Learning Engineer
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-lead-100003006540793
Job title is Data Scientist, Lead
company Data Scientist, Lead
 Got job role for this post Data Scientist, Lead
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id solution-engineer-data-scientist-100003006540788
Job title is Solution Engineer / Data Scientist (AI)
company Solution Engineer / Data Scientist (AI)
 Got job role for this post Solution Engineer / Data Scientist (AI)
 Exp is 2
 level is 2
now to matching
Now start to craw individual job id data-scientist-and-data-engineer-100003006539844
Job title is Data Scientist and Data Engineer
company Data Scientist and Data Engineer
 Got job role for this post Data Scientist and Data Engineer
 Exp is Didnt specify
 level is Didnt specify
now to matching
Now start to craw individual job id senior-data-scientist-100003006539257
Job title is Senior Data Scientist(Insurance)
company Senior Data Scientist(Insurance)
 Got job role for this post Senior Data Scientist(Insurance)
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id data-analyst-scientist-100003006536612
Job title is Data Analyst/ Scientist
company Data Analyst/ Scientist
 Got job role for this post Data Analyst/ Scientist
 Exp is 3
 level is 3
now to matching
Now start to craw individual job id data-scientist-buy-side-100003006535652

Job title is Data Scientist (NLP) - Buy Side
company Data Scientist (NLP) - Buy Side
 Got job role for this post Data Scientist (NLP) - Buy Side
 Exp is 6
 level is 6
now to matching
Now start to craw individual job id manager-supply-chain-analytics-100003006532023
Job title is Manager - Supply Chain Analytics (Data Scientist)
company Manager - Supply Chain Analytics (Data Scientist)
 Got job role for this post Manager - Supply Chain Analytics (Data Scientist)
 Exp is 5
 level is 5
now to matching
Now start to craw individual job id senior-data-scientist-100003006530512
Job title is Senior Data Scientist
company Senior Data Scientist
 Got job role for this post Senior Data Scientist
 Exp is 1
 level is 1
now to matching
It takes 19.744305849075317 to crawd all the jobs info
There are total 51 jobs in this category

r                        897
bi                       792
excel                    442
sql                      381
machine learning         159
sas                      156
java                     136
hadoop                   130
api                      115
spark                    104
vba                       93
tableau                   92
business intelligence     84
linux                     82
gis                       77
scala                     74
unix                      58
mysql                     50
html                      46
javascript                42
aws                       37
nosql                     36
spss                      27
tensorflow                24
deep learning             24
php                       24
css                       24
perl                      22
microsoft office          22
matlab                    22
c#                        21
mongodb                   17
html5                     17
azure                     16
keras                     16
css3                      12
d3                        11
gcp                        8
microsoft sql server       7
ruby                       7
cassandra                  7
caffe                      7
seo                        6
pytorch                    3
d3.js                      2
markdown                   2
google cloud platform      1
mahout                     1
dtype: int64